{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="outerdivacc" style="width: 80%; margin: auto;padding-top: 100px; margin-bottom: 50vh;text-align: center;">

    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% trans "We have sent you an e-mail. Please contact us if you do not receive it within a few minutes." %} </p>

</div>
    
{% endblock %}
