.product-variations .barred::before{
    content: " ";
    display: block;
    position: absolute;
    width: 1px;
    height: 116%;
    z-index: 98;
    background-color: #d5b2b2a8 !important;
    transform: rotate(59deg);
    left: 21px;
  }



 

  .taille__wrapper .variant__button__label {
    display: inline-block;
    position: relative;
    margin: 3px 5px 3px 0;
    padding: 0 5px;
    border-radius: 4px;
    background-color: transparent;
    background-size: cover;
    font-size: 1.5rem;
    font-family: Roboto-Regular,inherit;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    min-width: 3.2rem;
    height: 3.2rem;
    color: #222;
    transition: .3s;
    border: 2px solid #e1e1e1;
    overflow: hidden
  }

 



  .sec-title .m-text5{
    color: #707070 !important;
    font-size: 20px !important;
    
     
  }

 

  .product-tab-description p{
    font-size: 16px;
    color: #000;
  }
 

  .tab.tab-nav-simple.product-tabs.pt-4{
    width: 85.5%;
    margin: auto;
  }

 
  .detail-attr-item {
    width: 100%;
    
    padding: 0 14px 1px 15px;
    border-radius: 6px;
    box-shadow: 0 1px 4px transparent;
    background-color: transparent;
    min-height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin-right: 3.4%;
    margin-top: 7px;
  
    padding-left: 110px;
    padding-right: 110px;
  }


 
  .sticky-bag{
    font-size: 13px !important;
    font-family: Roboto-Bold !important;
  }
 

  .new-price-sticky{
    font-size: 16px !important;
  }  



  .product-form select {
    /* min-width: 60px; */
    min-width: 155px;
    max-width: none;
    padding: .8rem 3rem .8rem 1.4rem !important;
    color: #222 !important;
    /* font-size: 1.3rem !important; */
    border-radius: 6px !important;
    border: 1px solid #ddd !important;
    font-size: 17px !important;
  }
  
  .product-form select option{
    font-size: 15x !important;
  }

 

  .product-sticky-content{
    height: 76px !important;
  }
  .sticky-title a{
    color:#222 !important;
    font-family: Roboto-Bold,Montserrat-Regular;
    font-size: 16px !important;
  }
  
  .new-price-sticky{
    font-size: 17px !important;
  }

 
