{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include "header.html" %}

  <title>Matacor-{% block head_title %}{% endblock %}</title>
  {% block extra_head %} {% endblock %}
  <style type="text/css">
    .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  </style>
  <body class="animsition" >
    {% include "nav.html"%}
    <div class="overlay_div">
      <a class="mobile-menu-close" href="#" style="opacity: 1;">
        <i class="d-icon-times"></i>
      </a>
    </div>
    <div class="overlay_div12">
      
    </div>
    <div class="overlay_div112">
      
    </div>
    <div class="mt-2">
      {% if messages %} {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}

        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    {% endfor %} 
    {% endif %} 

    {% block content %} 
    {% endblock content %}

     {% block extra_body %} 
     {% endblock %} 
     <!-- <div id="notification-container">
      <div id="notification">
          <div id="notification-content">
              Your notification message here.
          </div>
          <div id="notification-timer"></div>
      </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
    const notificationTimer = document.getElementById("notification-timer");
    const notificationContainer = document.getElementById("notification-container");
    function showNotification() {
        notificationContainer.style.transform = "translateX(0)";
        notificationTimer.style.opacity = 1;
    }

    
    function hideNotification() {
        notificationTimer.style.backgroundColor = "transparent";
        
        notificationContainer.style.transform = "translateX(100%)";
        notificationTimer.style.opacity = 0;
        setTimeout(() => {
            notificationContainer.style.display = "none";
        }, 500);
        clearTimeout(hideTimeout);
    }
    function startTimer(duration) {
        let startTime = Date.now();
        
        function updateTimer() {
            const currentTime = Date.now();
            const elapsed = currentTime - startTime;
            const remaining = Math.max(0, duration - elapsed);
            
            const percentage = (remaining / duration) * 100;
            notificationTimer.style.width = `${percentage}%`;
            
            if (remaining === 0) {
                notificationTimer.style.backgroundColor = "transparent";
                clearTimeout(timerInterval);
            }
        }
        
        const timerInterval = setInterval(updateTimer, 100);
        updateTimer(); // Initial call
    }

    // Set the duration for the timer in milliseconds
    const timerDuration = 4000; // 4 seconds
    startTimer(timerDuration);
    showNotification();
    const hideTimeout = setTimeout(hideNotification, timerDuration);
});
  </script> -->
     <section class="shipping bgwhite p-t-15 p-b-15" style="box-shadow: 0 5px 30px rgba(0, 0, 0, .07);">
      <div  class="flex-w p-l-15 p-r-15">
        <div  style="display: flex;flex-direction: row;" class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
          <div style="margin-left: 26px;">			
            <i style="scale: 3.1;" class="icon-box-icon d-icon-truck"></i>
          </div>
          <div style="margin-left: 40px;"><h4 class="m-text12 t-center">
            Livraison
          </h4>
  
          <span class="s-text11 t-center">
            Livraison Gratuite pour achat de 8000 DA et plus
          </span></div>
           
  
           
        </div>
  
  
        
        <div style="display: flex;flex-direction: row;" class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
          <div style="margin-left: 26px;">			
            <i style="scale: 2.6;" class="icon-box-icon d-icon-service"></i>
          </div>
          <div style="margin-left: 40px;"><h4 class="m-text12 t-center">
            Service
          </h4>
  
          <span class="s-text11 t-center">
            Service client 24/7
          </span></div>
        </div>
         
        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1"  style="display: flex;flex-direction: row;">
          <div style="margin-left: 26px;">				<i class="icon-box-icon d-icon-secure" style="scale: 2.6;"></i>
          </div>
          <div style="margin-left: 40px;"><h4 class="m-text12 t-center">
            Paiement
          </h4>
  
          <span class="s-text11 t-center">
            Paiement sécurisé 100%
          </span></div>
        </div>
      </div>
    </section>
  

    {% include "footer.html"%} 
    {% include "script.html"%}

    {% block extra_scripts %}
    {% endblock extra_scripts %}


    
  </body>
</html>
