{% extends 'base.html' %}
{% load static %}
{% load category_template_tags %}
{% load custom_filters %}
{% load i18n %}
{% load mathfilters %}
{% block head_title %}Category | {{category_title.title}}{% endblock %}
{% block content %}
<style type="text/css">
	.selection-2{
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}

	@media (max-width: 992px) {
  .owl-carousel.owl-drag .owl-item {
    margin-right: 10px !important;
  }
}
</style>

	<!-- Title Page -->
	 


	<!-- Content page -->
	<section class="bgwhite ">

		<div class="page-content mb-10 pb-3">
			
			{% if banners %}
			<section class="pt-5">
				<div class="container">
					
					<div class="owl-carousel owl-theme owl-loaded owl-drag" style="width: 100%;" data-owl-options="{
						'nav': false,
						'dots': true,
						'margin': 10,
						'responsive': {
							'0': {
								'items': 1
							},
							'480': {
								'items': 2
							},
							'768': {
								'items': 3
							},
							'992': {
								'items': 4,
								'dots': false
							}
						}
					}"> 
					
					 	
						
					<div class="owl-stage-outer">
						<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1011px;">
							
							{% for banner in banners %}
							<div class="owl-item active" style="width: 252.75px  !important ; margin-right: 20px;">
								<div class="category category-absolute category-classic">
									<a href="{{banner.banner_link}}">
										<figure class="category-media">
											
											<img src="{{banner.banner_image.url}}" alt="pants" loading="lazy">
										</figure>
									</a>
								</div>
							</div>
							{% endfor %}
							 
						</div>
					</div>
					<div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><i class="d-icon-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="d-icon-angle-right"></i></button></div><div class="owl-dots disabled"></div></div>
				</div>
			</section>
			<script>
				$(document).ready(function(){
				  $(".owl-carousel").owlCarousel({
					items: 4, // Display 4 items in a line
					loop: false,
					margin: 10,
					nav: true,
					dots: false,
					responsive: {
					  0: {
						items: 2 // Display 1 item on smaller screens
					  },
					  600: {
						items: 2 // Display 2 items on screens wider than 600px
					  },
					  1000: {
						items: 4 // Display 4 items on screens wider than 1000px
					  }
					}
				  });
				});
			  </script>
		{% endif %}
		
	</div>


		<div class="container">
			<div class="row">
				
				<div class="filter_phone" style="display: none;">
				<form action="." method="get">
					<div class="filter_all">
						<div class="filter_type widget widget-collapsible">
							<h3 class="widget-title"> {% trans 'Brand' %} 
								<span style="height: 10px;" class="toggle-btn">-</span></h3>
							<ul class="widget-body filter-items slided">
								
								
									<li>
										<input type="radio" class="custom-checkbox" id="cat-1" value="F" name="gender" onchange="this.form.submit()">
										<label class="form-control-label " for="cat-1">{% trans 'FEMMES' %}</label>
									</li>
								
									<li>
										<input type="radio" class="custom-checkbox" id="cat-24" value="M" name="gender" onchange="this.form.submit()">
										<label class="form-control-label " for="cat-24">{% trans 'HOMMES' %} </label>
									</li>
								
									 
								
							</ul>   
						</div>
						<div class="filter_type widget widget-collapsible">
							<h3 class="widget-title">  {% trans 'Gender' %}
								<span style="height: 10px;" class="toggle-btn">-</span></h3>
							<ul class="widget-body filter-items slided">
								
								
									<li>
										<input type="radio" class="custom-checkbox" id="cat-1" value="F" name="gender" onchange="this.form.submit()">
										<label class="form-control-label " for="cat-1">{% trans 'FEMME' %}</label>
									</li>
								
									<li>
										<input type="radio" class="custom-checkbox" id="cat-24" value="M" name="gender" onchange="this.form.submit()">
										<label class="form-control-label " for="cat-24">{% trans 'HOMME' %} </label>
									</li>
								
									 
								
							</ul>   
						</div>
						<div class="filter_type widget widget-collapsible">
							<h3 class="widget-title" >{% trans 'Prix' %} 
								<span style="height: 10px;" class="toggle-btn">-</span></h3>
											<ul class="slided widget-body filter-items">
													<li style="display:flex;">
														<input style="padding: 8px !important;" type="number" class="form-control price-input" name="start_price" placeholder="de">
															<span class="price-devider"> &nbsp; - &nbsp;</span>
														<input style="padding: 8px !important;" type="number" class="form-control price-input" name="end_price" placeholder="à">
														<button style="scale: 1.6;
														padding-bottom: 16px;
														padding-right: 12px;" class="price-btn-f" type="submit">
															<i class="fa-solid fa-magnifying-glass"></i>
															</button>
													</li>
													
													<li>
														<input id="rangeOne" type="radio" class="custom-checkbox" name="price_range" value="range_one" onchange="this.form.submit()">
														<label for="rangeOne" class="form-control-label">0 DZD - 700 DZD</label>
													</li>
													<li>
														<input id="rangeTwo" type="radio" class="custom-checkbox" name="price_range" value="range_two" onchange="this.form.submit()">
														<label for="rangeTwo" class="form-control-label">700 DZD - 1400 DZD</label>
													</li>
													<li>
														<input id="rangeThree" type="radio" class="custom-checkbox" name="price_range" value="range_three" onchange="this.form.submit()">
														<label for="rangeThree" class="form-control-label">1400 DZD - 4200 DZD</label>
													</li>
													<li>
														<input id="rangeFour" type="radio" class="custom-checkbox" name="price_range" value="range_four" onchange="this.form.submit()">
														<label for="rangeFour" class="form-control-label"> + 4200 DZD </label>
													</li>
													  
											</ul>
	
						</div>
						<div class="filter_type widget widget-collapsible">
							<h3 class="widget-title">{% trans 'Taille' %}
								<span style="height: 10px;" class="toggle-btn">-</span></h3>
							<ul class="slided widget-body filter-items">
								 
								<li>
									<input type="checkbox" name="size_exist" id="value-32" value="32" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-32">32</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-34" value="34" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-34">34</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-36" value="36" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-36">36</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-38" value="38" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-38">38</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-40" value="40" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-40">40</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-42" value="42" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-42">42</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-XS" value="XS" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-XS">XS</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-S" value="S" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-S">S</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-M" value="M" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-M">M</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-L" value="L" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-L">L</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-XL" value="XL" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-XL">XL</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-2XL" value="2XL" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-2XL">2XL</label>
								</li>
								 
							</ul>
						</div>
						 
					</div>
				</form>
				</div>
				<div class="toptoptop" style="display: flex;justify-content: space-around;">
					<div class="flex-sb-m flex-w p-b-35">
						 

						<span style="user-select: none;" class="filtertoptop s-text8 p-t-5 p-b-5">
							{% trans 'Show filtering' %} <span><img style="opacity: 0.6;
								scale: 0.7;" src="{% static 'images/chev.png' %}" alt=""></span>
						</span>
					</div>
					<div class="flex-sb-m flex-w p-b-35">
						 
	
						<span class="s-text8 p-t-5 p-b-5">
							{% trans 'Showing' %} {{object_list|length}} {% trans 'of results' %}
						</span>
					</div>
					<div class="header-search hs-simple filt" style="z-index: 9;">
						<form action="" class="input-wrapper">
							 <select name="filter" id="filtertop">
								<option value="">{% trans 'Trier' %}</option>
								<option value="-date_added">{% trans 'new' %}</option>
								<option value="price">{% trans 'lowest price' %}</option>
								<option value="-wishlist_num">{% trans 'most sales' %}</option>
								<option value="-rating">{% trans 'rated' %}</option>
							 </select>
						</form>
					</div>

					
				</div>
				<div class="phonefilter_tri">
						<div class="filterphone1">
							<img src="{% static 'images/filtrer.png' %}" alt="">
							<span>{% trans 'Filtrer' %}</span>
						</div>
						<div class="filterphone2">
							<span>{% trans 'Trier par' %}</span>
							<img src="{% static 'images/trier.png' %}" alt="">

						</div>


				</div>
				
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
					<aside style="padding-left: 8px !important;" 
					class="col-lg-3 sidebar sidebar-fixed shop-sidebar 
					sticky-sidebar-wrapper">

						<form style="width: 235px;" action="." method="get">
								<div class="sidebar-overlay"></div>
									
									<a href="#" class="sidebar-toggle mobile-side"><img src="/static/images/3.svg" class="img-filter"></a>
									<a class="sidebar-close" href="#"><i class="d-icon-times"></i></a>
							<div class="sidebar-content">
								<div class="filter-actions "> 
									
									<button type="submit" class="toolbox-item btn btn-outline btn-primary btn-icon-left filter-btn" style="border:none;font-size: 13px;
									font-weight: bold;">
									<img src="/static/images/3.svg" class="img-filter">&nbsp; {% trans 'Filtrer' %}
									</button>
									
									
								 <i class="fas fa-times" style="margin-left: 95px !important;"></i> 
								</div>

								
								<div class="filter_type widget widget-collapsible">
									<h3 class="widget-title"> {% trans 'Catégorie' %} 
										<span style="height: 10px;" class="toggle-btn">-</span></h3>
									<form action="." method="get">
										<ul class="widget-body filter-items slided">
										
										
											{% for category in categories %}
										
											<li>
												<a href="/category/{{category.slug}}">
													 
												<label class="form-control-label "  >{{category.title}} </label>
												</a>
											</li>
											
											{% endfor %}
											 
										
									</ul>   
									</form>
								</div>
								 <!-- {% for category in brand_list %}
										
											<li>
												<a href="/category/{{category.slug}}">
													 
												<label class="form-control-label "  >{{category}} </label>
												</a>
											</li>
											
											{% endfor %} -->
											<div class="widget widget-collapsible">
												<h3 class="widget-title"> {% trans 'Brand' %} 
													<span style="height: 10px;" 
													class="toggle-btn">-</span></h3>
												<ul class="slided widget-body filter-items">
													
													{% for brand_name in brand_list %}
														<li>
															<input type="radio" class="custom-checkbox" id="cat-{{forloop.counter|mul:58}}" value="{{brand_name}}" name="brand" onchange="this.form.submit()">
															<label class="form-control-label " for="cat-{{forloop.counter|mul:58}}">{{brand_name}}</label>
														</li>
													
													{% endfor %}
													
														 
													
												</ul>   
											</div>
											<div class="widget widget-collapsible">
												<h3 class="widget-title"> {% trans 'Gender' %}
													<span style="height: 10px;" 
													class="toggle-btn">-</span></h3>
												<ul class="slided widget-body filter-items">
													
													
														<li>
															<input type="radio" class="custom-checkbox" id="cat-1" value="F" name="gender" onchange="this.form.submit()">
															<label class="form-control-label " for="cat-1">{% trans 'FEMMES' %}</label>
														</li>
													
														<li>
															<input type="radio" class="custom-checkbox" id="cat-24" value="M" name="gender" onchange="this.form.submit()">
															<label class="form-control-label " for="cat-24">{% trans 'HOMMES' %} </label>
														</li>
													
														 
													
												</ul>   
											</div>
					
									<div class="widget widget-collapsible" style="overflow: hidden;">
										<h3 class="widget-title">{% trans 'Prix' %}  
											<span style="height: 10px;"
											 class="toggle-btn">-</span></h3>
										<ul class="slided widget-body filter-items">
												<li style="display:flex;">
													<input style="padding: 8px !important;" type="number" class="form-control price-input" name="start_price" placeholder="de">
														<span class="price-devider"> &nbsp; - &nbsp;</span>
													<input style="padding: 8px !important;" type="number" class="form-control price-input" name="end_price" placeholder="à">
													<button style="scale: 1.6;
													padding-bottom: 16px;
													padding-right: 12px;" class="price-btn-f" type="submit">
														<i class="fa-solid fa-magnifying-glass"></i>
														</button>
												</li>
												
												<li>
													<input id="rangeOne" type="radio" class="custom-checkbox" name="price_range" value="range_one" onchange="this.form.submit()">
													<label for="rangeOne" class="form-control-label">0 DZD - 700 DZD</label>
												</li>
												<li>
													<input id="rangeTwo" type="radio" class="custom-checkbox" name="price_range" value="range_two" onchange="this.form.submit()">
													<label for="rangeTwo" class="form-control-label">700 DZD - 1400 DZD</label>
												</li>
												<li>
													<input id="rangeThree" type="radio" class="custom-checkbox" name="price_range" value="range_three" onchange="this.form.submit()">
													<label for="rangeThree" class="form-control-label">1400 DZD - 4200 DZD</label>
												</li>
												<li>
													<input id="rangeFour" type="radio" class="custom-checkbox" name="price_range" value="range_four" onchange="this.form.submit()">
													<label for="rangeFour" class="form-control-label"> + 4200 DZD </label>
												</li>
												  
										</ul>
									</div>
								
								
									<div class="widget widget-collapsible">
										<h3 class="widget-title">{% trans 'Couleur' %}
											<span style="height: 10px;" 
											class="toggle-btn">-</span></h3>
										<ul class="slided widget-body  ">
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-1">
														<input type="radio" id="color-1" name="color" value="orange" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #FF8F1B;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-2">
														<input type="radio" id="color-2" name="color" value="beige" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #F5F5DC;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-3">
														<input type="radio" id="color-3" name="color" value="3" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #4E2D05;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-4">
														<input type="radio" id="color-4" name="color" value="4" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #000000;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-5">
														<input type="radio" id="color-5" name="color" value="grey" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #9B9B9B;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-7">
														<input type="radio" id="color-7" name="color" value="7" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #FEFEE0;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-9">
														<input type="radio" id="color-9" name="color" value="vert" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #008020;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-11">
														<input type="radio" id="color-11" name="color" value="11" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #03224C;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-12">
														<input type="radio" id="color-12" name="color" value="rose" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #FF007F;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-13">
														<input type="radio" id="color-13" name="color" value="kaki" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #F0E68C;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-14">
														<input type="radio" id="color-14" name="color" value="14" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #7F00FF;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-16">
														<input type="radio" id="color-16" name="color" value="blue" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #0000FF;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-17">
														<input type="radio" id="color-17" name="color" value="rouge" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #D70000;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-19">
														<input type="radio" id="color-19" name="color" value="blanc-blanche" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #FFFFFF;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-8">
														<input type="radio" id="color-8" name="color" value="jaune" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #FFFF00;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-20">
														<input type="radio" id="color-20" name="color" value="20" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #AE730E;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-15">
														<input type="radio" id="color-15" name="color" value="noir" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #000000;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-10">
														<input type="radio" id="color-10" name="color" value="10" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #7F1734;"></span>
					
														</label>
													</div>
												</li>
											
												<li class="colours float-left">
													<div class="d-inline-block text-center dot-wrapper">
														<label for="color-18">
														<input type="radio" id="color-18" name="color" value="18" onchange="this.form.submit()">
															
															<span class="dot" style="background-color: #E1E1E1;"></span>
					
														</label>
													</div>
												</li>
											
										</ul>
									</div>
								
								
					
								
					
							
								
								<!-- <div class="widget widget-collapsible">
									<h3 class="widget-title">Matère
										<span style="height: 10px;" 
										class="toggle-btn">-</span></h3>
									<ul class="slided widget-body filter-items">
										 
										<li>
											<input type="checkbox" name="size_exist" id="value-Cuir" value="Cuir" class="custom-checkbox" onchange="this.form.submit()">
											<label class="form-control-label" for="value-Cuir">Cuir</label>
										</li>
										 
									</ul>
								</div> -->
								
								<div class="widget widget-collapsible">
									<h3 class="widget-title">{% trans 'Taille' %}
										<span style="height: 10px;"
										 class="toggle-btn">-</span></h3>
									<ul class="slided widget-body filter-items">
										 
										<li>
											<input type="checkbox" name="size_exist" id="value-32" value="32" class="custom-checkbox" onchange="this.form.submit()">
											<label class="form-control-label" for="value-32">32</label>
										</li>
										<li>
											<input type="checkbox" name="size_exist" id="value-34" value="34" class="custom-checkbox" onchange="this.form.submit()">
											<label class="form-control-label" for="value-34">34</label>
										</li>
										<li>
											<input type="checkbox" name="size_exist" id="value-36" value="36" class="custom-checkbox" onchange="this.form.submit()">
											<label class="form-control-label" for="value-36">36</label>
										</li>
										<li>
											<input type="checkbox" name="size_exist" id="value-38" value="38" class="custom-checkbox" onchange="this.form.submit()">
											<label class="form-control-label" for="value-38">38</label>
										</li>
										<li>
											<input type="checkbox" name="size_exist" id="value-40" value="40" class="custom-checkbox" onchange="this.form.submit()">
											<label class="form-control-label" for="value-40">40</label>
										</li>
										<li>
											<input type="checkbox" name="size_exist" id="value-42" value="42" class="custom-checkbox" onchange="this.form.submit()">
											<label class="form-control-label" for="value-42">42</label>
										</li>
										<li>
											<input type="checkbox" name="size_exist" id="value-XS" value="XS" class="custom-checkbox" onchange="this.form.submit()">
											<label class="form-control-label" for="value-XS">XS</label>
										</li>
										<li>
											<input type="checkbox" name="size_exist" id="value-S" value="S" class="custom-checkbox" onchange="this.form.submit()">
											<label class="form-control-label" for="value-S">S</label>
										</li>
										<li>
											<input type="checkbox" name="size_exist" id="value-M" value="M" class="custom-checkbox" onchange="this.form.submit()">
											<label class="form-control-label" for="value-M">M</label>
										</li>
										<li>
											<input type="checkbox" name="size_exist" id="value-L" value="L" class="custom-checkbox" onchange="this.form.submit()">
											<label class="form-control-label" for="value-L">L</label>
										</li>
										<li>
											<input type="checkbox" name="size_exist" id="value-XL" value="XL" class="custom-checkbox" onchange="this.form.submit()">
											<label class="form-control-label" for="value-XL">XL</label>
										</li>
										<li>
											<input type="checkbox" name="size_exist" id="value-2XL" value="2XL" class="custom-checkbox" onchange="this.form.submit()">
											<label class="form-control-label" for="value-2XL">2XL</label>
										</li>
										 
									</ul>
								</div>
								
							
					
								
								
					
						
					
							</div>
						</form>
					</aside>
				</div>

				<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
					<!--  -->
					

					<!-- Product -->
					<div class="row cols-2 cols-sm-3 product-wrapper">
								
								
									 


						

						{% for product in object_list %}

						<div class="product product-classic">
							<figure class="product-media">
								<a href="/product/{{product.slug}}">
									
										<img src="{{product.image.url}}" loading="lazy" alt="Product image" width="300" height="338">
									
								</a>
								{% if LANGUAGE_CODE ==  'ar' %}
								<div class="product-action-vertical" style="left: 0;">
									
										 
						
						
									<a id="wishHeart" href="/wishlist-add/{{product.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
										{% if product in wishlist %}
										<img src="/static/images/PSC.svg">
									{% else %}
			
									<img src="/static/images/VSC.svg">
			
									{% endif %}
									</a>
										 
											</div>
								{% else %}
								<div class="product-action-vertical">
									
										 
						
						
									<a id="wishHeart" href="/wishlist-add/{{product.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
										{% if product in wishlist %}
										<img src="/static/images/PSC.svg">
									{% else %}
			
									<img src="/static/images/VSC.svg">
			
									{% endif %}
									</a>
										 
											</div>

								{% endif %}
								
										<div class="product-action  justify-content-end">
											{% if  product.article_id|filtered_and_length:"," > 1 %}
				<div class="product-color__badge--wheel img">
					<div class="color-options">
						<div style="width: 15px;">
										
							<!-- <span class="color-option"></span>
							
							<span class="color-option"></span>
							 -->
							 <img src="{% static 'images/color.png' %}" alt="">

							
					</div>
					<span class="color-variant-count">
						{% if  product.article_id|filtered_and_length:"," > 1 %}
							{{product.article_id|filtered_and_length:","}}
						{% endif %}
							 
					</span></div>
				</div>
				 
			{% endif %}
											
										</div>
								
										{% if LANGUAGE_CODE ==  'ar'  %}
										<div class="product-label-group" style=" position: absolute !important;min-width: 45px;
										right: 0px !important;
										top: 30px  ;left: auto !important;">
									
										
											<label style="width: 100%;"  class="product-label label-top">{% trans product.get_label_display %}</label>
										 
									</div>  
										{% else %}
										<div class="product-label-group">
									
										
											<label style="min-width: 60px;" class="product-label label-top">{% trans product.get_label_display %}</label>
										 
									</div>  
										{% endif %}
							</figure>
							<div class="product-details">
								<h3 class="product-name {% if LANGUAGE_CODE == 'ar' %}rtl{% endif %}">
									<a href="/{{product.slug}}">
										{% if LANGUAGE_CODE == 'ar'  %}
						{{product.title_ar}}
						{% elif  LANGUAGE_CODE == 'en' %}
						{{product.title_en}} 
						{% else %}
						{{product.title}}
						{% endif %}
									</a>
								</h3>
								<div class="product-price d-flex justify-content-between {% if LANGUAGE_CODE == 'ar' %}rtl{% endif %}">
									<div>
										
										{% if product.price > product.discount_price %}
										<del class="old-price old-price-block">&nbsp;{{product.price}} {% trans 'DA' %}</del>
										 &nbsp; 
										<ins class="new-price price-block">{{product.discount_price}}{% trans 'DA' %}</ins>
										{% else %}

										<ins class="new-price price-block" style="color: #222 !important;">{{product.price}}{% trans 'DA' %}</ins>
										{% endif %}
									</div>
									
								</div>
								
						
							</div>
						</div>
					  
						{% endfor %}
			 
					 
						
		 								 
						
						
						
		 
						
 
		 
		 					</div>
				<!-- ---- row end ------- -->

				<br>
				<!-- Pagination -->
				{% if object_list.has_previous or object_list.has_next %}
				 
					 
					
					 
					<nav class="toolbox toolbox-pagination">
    
						<ul class="pagination">
							{% if object_list.has_previous   %}
							<li class="page-item prev">
								<a class="page-link page-link-next" href="?page={{object_list.previous_page_number }}" aria-label="Next">
									<i class="d-icon-arrow-left"></i>Précédent
								</a>
							</li>
							
							 {% endif %}
							
							 
							
					
						 
							
							
					

					{% for page_number in object_list.adjusted_elided_pages %}

        				{% if page_number == object_list.paginator.ELLIPSIS %}

            				{{page_number}}
			

        				{% else %}
						<li class=" itm-p page-item {% if page_number == object_list.number %}active{% endif %}  " >
						<a href="?page={{ page_number }}" class=" page-link" >{{page_number}}</a>
						</li>

						{% endif %}

    				{% endfor %}
					{% if object_list.has_next %}
					<li class="page-item nxt">
						<a class="page-link page-link-next" href="?page={{object_list.next_page_number}}" aria-label="Next">
							Suivant<i class="d-icon-arrow-right"></i>
						</a>
					</li>
					{% endif %}
					
					
				</ul>
			</nav>
				{% endif %}
			</div>
		</div>
	</section>
	<div class="filtertrifixed" style="z-index: 9999999;">
		<form action="" class="input-wrapper">
			 <!-- <select name="filter" id="filtertop">
				 
				<option value="price">{% trans 'lowest price' %}</option>
				<option value="-wishlist_num">{% trans 'most sales' %}</option>
				<option value="-rating">{% trans 'rated' %}</option>

			 </select> -->
			 <ul class="widget-body filter-items slided">
								
				<li style="text-align: center;
				font-size: 20px;
				margin: 0;
				padding: 7px;">
					 
					<label class="form-control-label " for="cat-1">{% trans 'Trier' %}</label>
				</li>			
				<li>
					<input type="radio" class="custom-checkbox" id="cat-121" value="-date_added" name="filter" onchange="this.form.submit()">
					<label class="form-control-label " for="cat-121">{% trans 'newest' %}</label>
				</li>
			
				<li>
					<input type="radio" class="custom-checkbox" id="cat-224" value="price" name="filter" onchange="this.form.submit()">
					<label class="form-control-label " for="cat-224">{% trans 'lowest price' %} </label>
				</li>
				<li>
					<input type="radio" class="custom-checkbox" id="cat-1251" value="-wishlist_num" name="filter" onchange="this.form.submit()">
					<label class="form-control-label " for="cat-1251">{% trans 'most noted' %}</label>
				</li>
			
				<li>
					<input type="radio" class="custom-checkbox" id="cat-2445" value="-rating" name="filter" onchange="this.form.submit()">
					<label class="form-control-label " for="cat-2445">{% trans 'most rated' %} </label>
				</li>
			
				 
			
			</ul>   
		</form>
		 
	</div>
	<div class=" mobile filtermob" >
											
		<ul class="header-cart-wrapitem" style="min-height: 100%;">
			<div class="cart-header filterheader" style="display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #e1e1e1;
			padding-bottom: 1.3rem;">
				<h4 class="cart-title">{% trans 'Filtrer' %}</h4>
				<a href="#" class="btn btn-dark btn-link btn-icon-right btn-close">{% trans 'fermer' %}<i class="d-icon-arrow-right"></i><span class="sr-only">Panier</span></a>
			</div>
			



			

			
			<div class="filter_phone" style="display: block !important;">
				<form action="." method="get">
					<div class="filter_all">
						<div class="filter_type widget widget-collapsible">
							<h3 class="widget-title"> {% trans 'Brand' %} 
								<span style="height: 10px;" class="toggle-btn">+</span></h3>
							<form action="." method="get">
								<ul class="widget-body filter-items" style="height: 0; display: none;">
								
								
									{% for brand_name in brand_list %}
								
									<li>
										<input type="radio" class="custom-checkbox" id="cat-{{forloop.counter|mul:100}}" value="{{brand_name}}" name="brand"  onchange="this.form.submit()">
										<label class="form-control-label " for="cat-{{forloop.counter|mul:100 }}">{{brand_name}} </label>
									</li>
									
									{% endfor %}
									 
								
							</ul>   
							</form>
						</div>
						<div class="filter_type widget widget-collapsible">
							<h3 class="widget-title"> {% trans 'Gender' %}
								<span style="height: 10px;" class="toggle-btn">+</span></h3>
							<ul  class="widget-body filter-items" style="height: 0; display: none;">
								
								
									<li>
										<input type="radio" class="custom-checkbox" id="cat-1" value="F" name="gender" onchange="this.form.submit()">
										<label class="form-control-label " for="cat-1">{% trans 'FEMMES' %}</label>
									</li>
								
									<li>
										<input type="radio" class="custom-checkbox" id="cat-24" value="M" name="gender" onchange="this.form.submit()">
										<label class="form-control-label " for="cat-24">{% trans 'HOMMES' %} </label>
									</li>
								
									 
								
							</ul>   
						</div>
						<div class="filter_type widget widget-collapsible">
							<h3 class="widget-title" >{% trans 'Prix' %} 
								<span style="height: 10px;" class="toggle-btn">+</span></h3>
											<ul class=" widget-body filter-items" style="height: 0; display: none;">
													<li style="display:flex;">
														<input style="padding: 8px !important;" type="number" class="form-control price-input" name="start_price" placeholder="de">
															<span class="price-devider"> &nbsp; - &nbsp;</span>
														<input style="padding: 8px !important;" type="number" class="form-control price-input" name="end_price" placeholder="à">
														<button style="scale: 1.6;
														padding-bottom: 16px;
														padding-right: 12px;" class="price-btn-f" type="submit">
															<i class="fa-solid fa-magnifying-glass"></i>
															</button>
													</li>
													
													<li>
														<input id="rangeOne" type="radio" class="custom-checkbox" name="price_range" value="range_one" onchange="this.form.submit()">
														<label for="rangeOne" class="form-control-label">0 DZD - 700 DZD</label>
													</li>
													<li>
														<input id="rangeTwo" type="radio" class="custom-checkbox" name="price_range" value="range_two" onchange="this.form.submit()">
														<label for="rangeTwo" class="form-control-label">700 DZD - 1400 DZD</label>
													</li>
													<li>
														<input id="rangeThree" type="radio" class="custom-checkbox" name="price_range" value="range_three" onchange="this.form.submit()">
														<label for="rangeThree" class="form-control-label">1400 DZD - 4200 DZD</label>
													</li>
													<li>
														<input id="rangeFour" type="radio" class="custom-checkbox" name="price_range" value="range_four" onchange="this.form.submit()">
														<label for="rangeFour" class="form-control-label"> + 4200 DZD </label>
													</li>
													  
											</ul>
	
						</div>
						<div class="filter_type widget widget-collapsible">
							<h3 class="widget-title">{% trans 'Taille' %}
								<span style="height: 10px;" class="toggle-btn">+</span></h3>
							<ul style="height: 0; display: none;" class=" widget-body filter-items">
								 
								<li>
									<input type="checkbox" name="size_exist" id="value-32" value="32" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-32">32</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-34" value="34" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-34">34</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-36" value="36" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-36">36</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-38" value="38" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-38">38</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-40" value="40" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-40">40</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-42" value="42" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-42">42</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-XS" value="XS" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-XS">XS</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-S" value="S" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-S">S</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-M" value="M" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-M">M</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-L" value="L" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-L">L</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-XL" value="XL" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-XL">XL</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-2XL" value="2XL" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-2XL">2XL</label>
								</li>
								 
							</ul>
						</div>
						 
					</div>
				</form>
			</div>
			
			<div class="cart-action">
				<a style="width: 100%;" href="/" class="btn btn-dark"><span>{% trans 'Filtrer' %}</span></a>
			</div>
			

			
		</ul>

	 

</div>
	<script>

$(".filterphone1").on("click",function(){
		$(".filtermob").css({"left":70})
		document.querySelector(".overlay_div112").style.display="block"
		})
		$(".filterheader a").on("click",function(){
		$(".filtermob").css({"left":420})
		document.querySelector(".overlay_div112").style.display="none"
		})
		$(".overlay_div112").on("click",function(){
			$(".filtermob").css({"left":420})
			this.style.display="none"
		})







$(".filterphone2").on("click",function(){
  $(this).toggleClass("trie_phone");
  $(".filtertrifixed").slideToggle()
  document.querySelector(".overlay_div12").style.display="block"
  
	})

	$(".overlay_div12").on("click",function(){
    
	$(".filtertrifixed").slideToggle()
	this.style.display="none"
   
	})
				
		var search_page=window.location.search.replaceAll("?","").split("&")
		window.onload = function(){
			 

			$("input[name=price_range]").on("click",function(e){
				e.preventDefault() ;
				var range = $(this).next(0).text().replaceAll(" ","").toLowerCase().replaceAll("dzd","").split("-")
				if(!range[0].includes("+")){
					$("input[name=start_price]")[0].value = range[0]
					$("input[name=end_price]")[0].value = range[1]
				}else{
					$("input[name=start_price]")[0].value = range[0].replace("+","")
				}

				$(".price-btn-f")[0].click()
				
			})


			search_page.forEach(element => {
				var keyval =element.split("=")
				var key = keyval[0]
				var val = keyval[1]
				if(key == "gender" || key == "price_range"  || key == "brand" ){
					$(`input[name=${key}][value=${val}]`).prop("checked",true)
				 
					$(`input[name=${key}][value=${val}]`).on("click",function() {
						// Toggle the checked state of the checkbox
						$(this).prop("checked", !$(this).prop("checked"));
					});
				}
				if(key == "atribute" ){
					$("#value-"+val).prop("checked",true)

				}

				if(key=="start_price" || key=="end_price"){

					
					$(`input[name=${key}]`).each(function(){
						$(this).val(val)
					})
				}
				
				
			});
			
		}


		document.querySelector(".fa-times").addEventListener("click",function(e){
			e.preventDefault()
			 
			var parent_show = $(".row")[0].children[1]
			$(parent_show).hide()
		})

		var butnsslide= document.querySelectorAll(".widget-title")
		Array.from(butnsslide).forEach(ele=>{
			ele.addEventListener("click",function(){
				var ulsib =this.nextElementSibling
				var ulsibcheck =ulsib.classList.contains("widget-body")
				ulsib.classList.toggle("slided")
				var hiddenelecheck = ulsib.classList.contains("slided")
				if( ulsibcheck && !hiddenelecheck){
					$(ulsib).animate({
						height:"0%"
					},600).hide(600)
					this.children[0].textContent = "+"
				}else{
					$(ulsib).animate({
						height:"100%"
					},600).show(600)
					this.children[0].textContent = "-"
				}
			})
		})
	 </script>

		{% endblock content %}