{% load static %}
<!-- ------------------------------footer sub end---------------------------------- -->
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Abel|Lato|Open+Sans&display=swap" rel="stylesheet">
<style>
  
    /* footer */
#footer-main{
	background: #000;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
    font-family: 'Lato', sans-serif;
}

#footer-main a{
	font-size: 14px;
	display: block;
	margin: 0.3rem;
	color: grey;
}

#footer-main a:hover{
	font-weight: bold;
	color: white;
}

#footer-main h6 a{
    color: white;

    
}



#footer-main hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
}

#footer-main img{
	margin-right: 0.6rem;
}
</style>

<div class="btn-back-to-top bg0-hov" id="myBtn" style="background: white;
	opacity: 1;">
		<span class="symbol-btn-back-to-top" style="width: 22px;">
			<img src="{% static 'images/arrow.svg' %}" alt="">
			<!-- <i class="fa fa-angle-double-up" aria-hidden="true"></i> -->
		</span>
	</div>
<footer class=" p-t-45 p-b-43 p-l-45 p-r-45">
  <div class="flex-w p-b-90" style="border-bottom: 1px solid;border-top: 1px solid;">
    <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
      <h4 class="s-text12 p-b-30">
        Contactez-nous 
      </h4>

      <div>
        <p class="s-text7 w-size27">
          Des questions? Faites-nous savoir en nous envoyant une requête par e-mail ou contactez-nous par téléphone ou à Eurl AllDesigns ain-naadja , algeries, Algeria
        </p>

        <!-- <div class="flex-m p-t-30">
          <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
          <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
          <a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
          <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
          <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
        </div> -->
      </div>
    </div>

    <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
      <h4 class="s-text12 p-b-30">
        Categories
      </h4>

      <ul>
        <li class="p-b-9">
          <a href="/shop/?gender=M" class="s-text7">
            Hommes
          </a>
        </li>

        <li class="p-b-9">
          <a href="/shop/?gender=F" class="s-text7">
            Femmes
          </a>
        </li>

        <li class="p-b-9">
          <a href="/shop/?gender=E" class="s-text7">
            Enfants
          </a>
        </li>

         
      </ul>
    </div>

    <div class="w-size9 p-t-30 p-l-15 p-r-15 respon4">
      <h4 class="s-text12 p-b-30">
        Liens Rapides
      </h4>

      <ul>
        <li class="p-b-9">
          <a href="/shop" class="s-text7">
            Chercher
          </a>
        </li>

        <li class="p-b-9">
          <a href="#footer" class="s-text7" style="text-transform: capitalize;">
            à propos
          </a>
        </li>

        
        <li class="p-b-9">
          <a href="#" class="s-text7">
            Retours
          </a>
        </li>
        <li class="p-b-9">
          <a href="#" class="s-text7">
            Termes et Conditions
          </a>
        </li>
      </ul>
    </div>

    <!-- <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
      <h4 class="s-text12 p-b-30">
        Help
      </h4>

      <ul>
        <li class="p-b-9">
          <a href="#" class="s-text7">
            Track Order
          </a>
        </li>

        <li class="p-b-9">
          <a href="#" class="s-text7">
            Returns
          </a>
        </li>

        <li class="p-b-9">
          <a href="#" class="s-text7">
            Shipping
          </a>
        </li>

        <li class="p-b-9">
          <a href="#" class="s-text7">
            FAQs
          </a>
        </li>
      </ul>
    </div> -->

    <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
      <h4 class="s-text12 p-b-30">
        Newsletter
      </h4>

      <form>
        <div class="effect1 w-size9">
          <input class="s-text7  w-full p-b-5" type="text" name="email_newsletter" placeholder="email@example.com">
          <span class="effect1-line"></span>
        </div>

        <div class="w-size2 p-t-20">
          <!-- Button -->
          <button style="border: 1px solid;" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
            S'abonné
          </button>
        </div>

      </form>
    </div>
  </div>

  <div class="t-center p-l-15 p-r-15">
    <!-- <a href="#">
      <img class="h-size2" src="{% static 'images/cheq.png' %}" alt="IMG-cheque">
    </a>

    <a href="#">
      <img class="h-size2" src="{% static 'images/card.png' %}" alt="IMG-dahabia">
     
      
    </a> -->
 
 

    <div class="t-center s-text8 p-t-20">
      Copyright © 2023 Tout droits reservé. |  Matacor   by <a href="https://flow-in.com" target="_blank">flow-in</a>
    </div>
  </div>
</footer>
<!-- <footer id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <br>

            <h6 class="mt-3"><a href="">FIND A STORE</a></h6>
            <h6 class="mt-3"><a href="">SIGN UP FOR EMAIL</a></h6>
            <h6 class="mt-3"><a href="">BECOME A MEMBER</h6>
            
            <h6 class="mt-3"><a href="/admin/">ADMIN LOGIN</a></h6>
           
        </div>
        <div class="col-sm-3">
            <h6 class="mt-3"><a href="">GET HELP</a></h6>
            <a href="">Order Status</a>
            <a href="">Shipping and Delivery</a>
            <a href="">Returns</a>
            <a href="">Payment Options</a>
            <a href="">Contact Us</a>
        </div>
        <div class="col-sm-3">
            <h6 class="mt-3"><a href="">ABOUT DJANGO</a></h6>
            <a href="">News</a>
            <a href="">Careers</a>
            <a href="">Investors</a>
            <a href="">Sustainability</a>
            
            



        </div>
        <div class="col-sm-3">
          <a href="">Voice of Customer</a>
          <a href="">Contacts by Branch</a>
          <a href="">Ethics Reporting</a>
          <a href="">Careers</a>

          <br><br>
          <a href="">Business Inquiry</a>
          <br>
          <a href="" class="ico"><i class="fab fa-apple fa-2x"></i> Apple Store</a>
          <a href="" class="ico"><i class="fab fa-google-play fa-2x"></i> Google Play</a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          
        </div>
        <div class="col-sm-6">
          
        </div>
        <hr>
        <a href="https://github.com/salemsifeddine" style="margin-left: 1rem">Privacy Policy | @flow-in 2023</a>
      </div>
    </div>
  </footer> -->
  
<!-- ------------------------------footer end---------------------------------- -->

