{% load static %}
<!-- ------------------------------footer sub end---------------------------------- -->
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Abel|Lato|Open+Sans&display=swap" rel="stylesheet">
<style>
  
    /* footer */
#footer-main{
	background: #000;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
    font-family: 'Lato', sans-serif;
}

#footer-main a{
	font-size: 14px;
	display: block;
	margin: 0.3rem;
	color: grey;
}

#footer-main a:hover{
	font-weight: bold;
	color: white;
}

#footer-main h6 a{
    color: white;

    
}



#footer-main hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
}

#footer-main img{
	margin-right: 0.6rem;
}
</style>

<footer id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <br>

            <h6 class="mt-3"><a href="">FIND A STORE</a></h6>
            <h6 class="mt-3"><a href="">SIGN UP FOR EMAIL</a></h6>
            <h6 class="mt-3"><a href="">BECOME A MEMBER</h6>
            
            <h6 class="mt-3"><a href="/admin/">ADMIN LOGIN</a></h6>
           
        </div>
        <div class="col-sm-3">
            <h6 class="mt-3"><a href="">GET HELP</a></h6>
            <a href="">Order Status</a>
            <a href="">Shipping and Delivery</a>
            <a href="">Returns</a>
            <a href="">Payment Options</a>
            <a href="">Contact Us</a>
        </div>
        <div class="col-sm-3">
            <h6 class="mt-3"><a href="">ABOUT DJANGO</a></h6>
            <a href="">News</a>
            <a href="">Careers</a>
            <a href="">Investors</a>
            <a href="">Sustainability</a>
            
            



        </div>
        <div class="col-sm-3">
          <a href="">Voice of Customer</a>
          <a href="">Contacts by Branch</a>
          <a href="">Ethics Reporting</a>
          <a href="">Careers</a>

          <br><br>
          <a href="">Business Inquiry</a>
          <br>
          <a href="" class="ico"><i class="fab fa-apple fa-2x"></i> Apple Store</a>
          <a href="" class="ico"><i class="fab fa-google-play fa-2x"></i> Google Play</a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          
        </div>
        <div class="col-sm-6">
          
        </div>
        <hr>
        <a href="https://github.com/salemsifeddine" style="margin-left: 1rem">Privacy Policy | @flow-in 2023</a>
      </div>
    </div>
  </footer>
  <div class="mobile-menu-wrapper">
    <div class="mobile-menu-overlay">
    </div>
    <!-- End Overlay -->
    <a class="mobile-menu-close" href="#"><i class="d-icon-times"></i></a>
    <!-- End CloseButton -->
    <div class="mobile-menu-container scrollable">
        <form "="" fr="" produits="" class="input-wrapper">
        <input type="hidden" name="csrfmiddlewaretoken" value="WiuOwYYFhJKXeL1MKQPxByl8yC3qLxkMGFSYmS0iMSmSLjDeByPakf34AALSxBGl">
            <input type="text" class="form-control" name="search" autocomplete="off" placeholder="Rechercher par mot clés..." required="">
            <button class="btn btn-search" type="submit">
                <i class="d-icon-search"></i>
            </button>
        </form>
        <!-- End Search Form -->
        <div class="tab tab-nav-simple tab-nav-boxed form-tab">
            <ul class="nav nav-tabs nav-fill" role="tablist">
                
                    <li class="nav-item" style="width: 100px;">
                        <a class="nav-link active" href="#cat-1" style="text-decoration: none;">FEMME</a>
                    </li>
                
                    <li class="nav-item" style="width: 100px;">
                        <a class="nav-link " href="#cat-24" style="text-decoration: none;">HOMME</a>
                    </li>
                
                    <li class="nav-item" style="width: 100px;">
                        <a class="nav-link " href="#cat-25" style="text-decoration: none;">ENFANT</a>
                    </li>
                
            </ul>
            <div class="tab-content">
                
                <div class="tab-pane active" id="cat-1">
                    <ul class="mobile-menu  mmenu-anim">
                        
                        
                            
                                <li>
                                    <a href="/produits/?category=5">Vêtements<span class="toggle-btn"></span></a>
                                    <ul>
                                        
                                            

                                                <li>
                                                    <a href="/produits/?category=2"> 
                                                        
                                                            <img class="icon-category" src="/media/images/categories/3F0B0922-A364-48CE-99C5-ECA94D31FAC1.png" alt="Category" loading="lazy">
                                                        
                                                        Pantalon
                                                    </a>
                                                </li>
                                            
                                        
                                            

                                                <li>
                                                    <a href="/produits/?category=4"> 
                                                        
                                                            <img class="icon-category" src="/media/images/categories/67DF0B10-D5CB-41C4-ADB6-E4DB7F6B5F02.png" alt="Category" loading="lazy">
                                                        
                                                        Manteau
                                                    </a>
                                                </li>
                                            
                                        
                                            

                                                <li>
                                                    <a href="/produits/?category=9"> 
                                                        
                                                            <img class="icon-category" src="/media/images/categories/25BD4F38-0ABE-4E3E-9AA1-0EB0F461CFD8.png" alt="Category" loading="lazy">
                                                        
                                                        Robes de chambre
                                                    </a>
                                                </li>
                                            
                                        
                                            

                                                <li>
                                                    <a href="/produits/?category=7"> 
                                                        
                                                            <img class="icon-category" src="/media/images/categories/935CB69E-E139-4B1A-9F54-AD7581C114FC.png" alt="Category" loading="lazy">
                                                        
                                                        Pull et tricot
                                                    </a>
                                                </li>
                                            
                                        
                                            

                                                <li>
                                                    <a href="/produits/?category=10"> 
                                                        
                                                            <img class="icon-category" src="/media/images/categories/ABDD34BE-6A3A-4D38-89CA-67396BD5297B.png" alt="Category" loading="lazy">
                                                        
                                                        Blazers
                                                    </a>
                                                </li>
                                            
                                        
                                            

                                                <li>
                                                    <a href="/produits/?category=3"> 
                                                        
                                                            <img class="icon-category" src="/media/images/categories/A1B4D79A-B658-4600-8E93-1900C67BA796.png" alt="Category" loading="lazy">
                                                        
                                                        Robe
                                                    </a>
                                                </li>
                                            
                                        
                                            

                                                <li>
                                                    <a href="/produits/?category=11"> 
                                                        
                                                            <img class="icon-category" src="/media/images/categories/0C367B88-3BAB-4817-8FAD-D2755053DBD2.png" alt="Category" loading="lazy">
                                                        
                                                        Chemises
                                                    </a>
                                                </li>
                                            
                                        
                                            

                                                <li>
                                                    <a href="/produits/?category=13"> 
                                                        
                                                            <img class="icon-category" src="/media/images/categories/7B70F4F1-1FDA-4801-A0D2-A7FF9FCB2752.png" alt="Category" loading="lazy">
                                                        
                                                        Blouses
                                                    </a>
                                                </li>
                                            
                                        
                                            

                                                <li>
                                                    <a href="/produits/?category=6"> 
                                                        
                                                            <img class="icon-category" src="/media/images/categories/8C7FA7F2-0018-4398-90FE-01395AA69320.png" alt="Category" loading="lazy">
                                                        
                                                        Salopettes et Combinaisons
                                                    </a>
                                                </li>
                                            
                                        
                                            

                                                <li>
                                                    <a href="/produits/?category=12"> 
                                                        
                                                            <img class="icon-category" src="/media/images/categories/11FF900F-3454-4FC3-8B44-5334DFDA9DC5.png" alt="Category" loading="lazy">
                                                        
                                                        Jupes
                                                    </a>
                                                </li>
                                            
                                        
                                            

                                                <li>
                                                    <a href="/produits/?category=15"> 
                                                        
                                                            <img class="icon-category" src="/media/images/categories/8EF1D3AF-5040-419C-90D7-2EA380FD420C.png" alt="Category" loading="lazy">
                                                        
                                                        Body
                                                    </a>
                                                </li>
                                            
                                        
                                            

                                                <li>
                                                    <a href="/produits/?category=14"> 
                                                        
                                                            <img class="icon-category" src="/media/images/categories/1069247C-8C8B-469A-851E-EF54E9449FF4.png" alt="Category" loading="lazy">
                                                        
                                                        Sweatshirt
                                                    </a>
                                                </li>
                                            
                                        
                                            

                                                <li>
                                                    <a href="/produits/?category=8"> 
                                                        
                                                            <img class="icon-category" src="/media/images/categories/F76D6E4D-EF7E-4F1E-8283-C572084EEA21.png" alt="Category" loading="lazy">
                                                        
                                                        Jeans
                                                    </a>
                                                </li>
                                            
                                        
                                    </ul>
                                </li>
                            
                        
                            
                                <li>
                                    <a href="/produits/?category=16">
                                        
                                        Collections
                                    </a>
                                </li>
                            
                        
                            
                                <li>
                                    <a href="/produits/?category=17">
                                        
                                        Edits
                                    </a>
                                </li>
                            
                        
                            
                                <li class="">
                                    <a href="/produits/?category=18">Lingerie et Pyjama<span class="toggle-btn"></span></a>
                                    <ul style="display: none;">
                                        
                                            

                                                <li>
                                                    <a href="/produits/?category=26"> 
                                                        
                                                            <img class="icon-category" src="/media/images/categories/195180nes-cat195169gories-tendances.webp" alt="Category" loading="lazy">
                                                        
                                                        Pyjamas
                                                    </a>
                                                </li>
                                            
                                        
                                    </ul>
                                </li>
                            
                        
                            
                                <li>
                                    <a href="/produits/?category=19">
                                        
                                        Printemps
                                    </a>
                                </li>
                            
                        
                            
                                <li>
                                    <a href="/produits/?category=20">
                                        
                                        Hidjab
                                    </a>
                                </li>
                            
                        
                            
                                <li>
                                    <a href="/produits/?category=21">
                                        
                                        Chaussures
                                    </a>
                                </li>
                            
                        
                            
                                <li>
                                    <a href="/produits/?category=22">
                                        
                                        Accessoires
                                    </a>
                                </li>
                            
                        
                            
                                <li>
                                    <a href="/produits/?category=23">
                                        
                                        Promo
                                    </a>
                                </li>
                            
                        
                    </ul>
                </div>
                
                <div class="tab-pane " id="cat-24">
                    <ul class="mobile-menu  ">
                        
                        
                    </ul>
                </div>
                
                <div class="tab-pane " id="cat-25">
                    <ul class="mobile-menu  ">
                        
                        
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- ------------------------------footer end---------------------------------- -->

