{% extends 'base.html' %}
{% load static %}
{% load category_template_tags %}
{% load slide_template_tags %}
{% load custom_filters %}
{% load i18n %}

{% block head_title %}Home{% endblock %}
{% block content %}


<style>

	/* .mt-2.mt-2phone{
		display: none !important;
	} */
	@media (max-width: 992px) {
		.product-name {
			padding-right: 0px !important;
		}

	}




@media (min-width:900px){
	.wrap-btn-slide1{
		margin-top: 20px;
	}
	.slick1-dots{
		padding-left: 0px !important;
	}


}
@media (max-width:900px){

	.owl-carousel1{
	overflow: hidden !important;

}
	.slide1{
		padding-top: 0px !important;
	}


	.banner-group.pt-11,.banner-group.pt-11 div,.banner-group.pt-11 > div{
		padding: 0px !important;
		margin: 0px !important;
	}
	.banner-group.pt-11{
		width: 100% !important;
		padding: 8px !important;
		padding-top: 0px !important;
	}
	.banner-group.pt-11 .banner.banner-fixed {
		margin-top: 10px !important;
	}
	
	.slide1.pt-3,.mt-2phone{
		padding-top: 0px !important;
	}
	.slick1-dots{
		padding-left: 0px !important;
	}

	

	.wrap-slick1{
		height: 65vh;
	}
	.wrap-slick1 div,.wrap-slick1  > div,.slick-slide.slick-current.slick-active{
		height: 100% !important;
	}
	.wrap-content-slide1.sizefull{
		padding-top: 250px !important;
	}
}
	

	/*[ Block2 ]
///////////////////////////////////////////////////////////
*/
.block2-labelpromotion::before,
.block2-labelsale::before,
.block2-labelnew::before 
{
  z-index: 100;
  font-family: Roboto-Regular, sans-serif !important;
  font-size: 12px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 22px;
  border-radius: 11px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.block2-labelsale::before {
  background-color: white;
  color: #000;
  content: 'Sale';
}

.block2-labelnew::before {
  background-color: #007bff;
  content: 'New';
}

.block2-labelpromotion::before{
	background-color: #000;
	content: 'Promotion';
	width: 70px;
  }

  .btn-dark {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-outline-dark {
    color: #000;
    border-color: #000;
}


</style>

	<!-- Slide1 -->
	<section class="slide1 pt-3" style="padding: 7px;">
		<div class="wrap-slick1">
			<div class="slick1">

				{% slides %}
				
				

			</div>
			
		</div>
		<div class="wrap-slick1-dots"></div>
					
			</div>
	</section>
	<script>
		const newScreenWidth = window.innerWidth;
		window.addEventListener('load', () => {
			if(newScreenWidth <= 992){
			document.querySelectorAll(".slick-slide").forEach(ele=>{
				ele.style.backgroundImage = `url(${ele.dataset.imgphone})`
			 

		})
		}else{
			document.querySelectorAll(".slick-slide").forEach(ele=>{
			ele.style.backgroundImage = `url(${ele.dataset.img})`;
			 
		})
		}
});
	
	

		window.addEventListener('resize', () => {
		
		
		if(newScreenWidth <= 992){
			document.querySelectorAll(".slick-slide").forEach(ele=>{
				ele.style.backgroundImage = `url(${ele.dataset.imgphone})`
			 

		})
		}else{
			document.querySelectorAll(".slick-slide").forEach(ele=>{
			ele.style.backgroundImage = `url(${ele.dataset.img})`;
			 
		})
		}
		
		});
		
	</script>
	<section class="banner-group  pt-11 "  >
		<div class="container">
			
			<div class="row">
				
					<!-- <div class="col-md-6 mb-4" style="padding: 20px;" >
						<div class="banner banner-fixed overlay-dark appear-animate fadeIn appear-animation-visible" style="background-color: rgb(239, 240, 244); animation-duration: 1.2s;">
							<a role="button">
								<figure>
									<img src="{% static 'images/rev.png' %}" alt="banner" loading="lazy">
								</figure>
							</a>
						</div>
					</div> -->
				
					{% for ad_item in ad_items %}
					
					<div class="col-md-6 mb-4"  style="padding: 20px;">
						<div class="wrap-btn-slide1 w-size1 animated visible-false slideInUp visible-true" data-appear="slideInUp" style="position: absolute;z-index: 9;
							width: 93.5%;
  							margin: auto;
							top: 75%;"><a href="{{ad_item.AD_link}}" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4" tabindex="0" style="width: 25%;
						margin: auto;">Shop Now</a></div>
						<a   href="{{ad_item.AD_link}}" > 
						<div class="banner banner-fixed overlay-dark appear-animate fadeIn appear-animation-visible" style="background-color: rgb(239, 240, 244); animation-duration: 1.2s;">
							
								<figure>
									<img src="{{ad_item.AD_image.url}}" alt="banner" loading="lazy">
								</figure>
								
							
						</div>
					</a>
					</div>
				
					{% endfor %}
				
			</div>
 
			
			 
			 
	</section>
	
	<script>
		$(document).ready(function(){
		  $(".owl-carousel").owlCarousel({
			items: 7,
			loop: true,
			margin: 20,
			nav: false,
			dots: true,
			responsive: {
			  0: {
				items: 4
			  },
			  600: {
				items: 4
			  },
			  992: {
				items:7
			  }
			}
		  });
		});
	  </script>
	<section class="container mb-8">
		<br>
		<h2 class="title with-link appear-animate mb-5 text-center fadeIn appear-animation-visible" data-animation-options="{'name': 'fadeIn'}" style="animation-duration: 1.2s;margin-left: 10px;text-transform: uppercase;display: block;font-family: Roboto-Bold, sans-serif !important;
		font-weight: lighter !important;color: #707070 !important;">{% trans 'Catégorie tendance' %}</h2> 
	   <div class="owl-carousel owl-theme owl-nav-inner mb-8 pb-6 appear-animate owl-loaded owl-drag fadeIn appear-animation-visible" data-animation-options="{'name': 'fadeIn'}"   style="animation-duration: 1.2s;">
 
	<div class="owl-stage-outer" style="overflow:hidden">
		<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 809px;">
			 
			{% for category in category %}
			<div class="owl-item category{% if forloop.counter <= 4 %} active{% endif %}" style="width: 182.2px; margin-right: 20px;">
				<div class="category-wrap mb-4 ">
							   <div class="category category-default1 category-absolute">
								   <a href="/category/{{category.slug}}">
									   <div class="container" style="width:auto;">
										   <figure>
											   <img class="circular-category-image" src={{category.image.url}} alt="Category" loading="lazy">
										   </figure>
									   </div>
									   <p  style="text-align: center; ">
										{% if LANGUAGE_CODE == 'ar'  %}
						{{category.title_ar}}
						{% elif  LANGUAGE_CODE == 'en' %}
						{{category.title_en}} 
						{% else %}
						{{category.title}} 
						{% endif %}
										 
									</p>
									</a>
									<p><a href="/produits/?category=2"></a></p>
								</div>
				</div>
			</div>
			{% endfor %}
			 
			
		
		</div>
	</div>
	 
	 
</div>
   </section>
   
 


	
	<!-- Category start -->
	<style>
		.hov1{
			background-color: white !important;
			color: black !important;
			
		}
		.newproduct{
			margin-bottom: 2px;
			padding-bottom: 2px;
		}
		.banner2{
			background-color: #fff;
			margin-right: 1rem;
			margin-left: 1rem;
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
		}

		.ban_img{
			height: 680px;
			width: 100%;
		}
		.ban5_img{
			height: 580px;
			width: 100%;
		}

		.btn-light {
			color: #000;
			background-color: #fff;
			border-color: #fff;
			border-radius: 20px;
		}
		.wrap-btn-slide1 a:hover{
			background-color: whitesmoke;
			color: #000 !important;
			opacity: 0.7;
	
		}
	</style>
	
 

	<!-- ------------------Banner2  start ------------------------>
	 
	{% if essentials %}
	<section class="banner2 bg5">
		
		<h4 class="{% if LANGUAGE_CODE == 'ar' %}rtl{% endif %} title with-link pt-6 appear-animate fadeIn appear-animation-visible" style="text-transform: uppercase;font-family: Roboto-Bold, sans-serif !important;
		font-weight: lighter !important;color: #707070 !important;">{% trans "Season's Essentials" %}</h4>
		<div class="">
			<div class="row" style="height: 380">
				
				
				{% for essential in essentials %}
				<div style=" padding: 10px;position: relative;"   class="essential col-sm-10 col-md-8 col-lg-3 m-l-r-auto p-t-15 p-b-15">
					<div style="width: 100%;
					height: 100%;" class="pos-relative">
						<img style="height: 100%;
						width: 100%;
						object-fit: cover;
						" src="{{essential.image.url}}" alt="IMG-BANNER" class="ban_img" loading="lazy">
						{% if LANGUAGE_CODE == 'ar' %}
						<div style="position: absolute;
						width: 50px;
						height: 50px;
						top: 10px;
						right: 10px;
						font-family: Roboto-Bold, sans-serif !important;
						font-size: 35px;
						color: white;
						line-height: 1.2;" class="title-ess " >
						{% if LANGUAGE_CODE == 'ar'  %}
						{{essential.model_type_ar}}
						{% elif  LANGUAGE_CODE == 'en' %}
						{{essential.model_type_en}} 
						{% else %}
						{{essential.model_type}} 
						{% endif %}
						 
					</div>
						{% else %}
						<div style="position: absolute;
						width: 50px;
						height: 50px;
						top: 10px;
						left: 10px;
						font-family: Roboto-Bold, sans-serif !important;
						font-size: 35px;
						color: white;
						line-height: 1.2;" class="title-ess " >
						{% if LANGUAGE_CODE == 'ar'  %}
						{{essential.model_type_ar}}
						{% elif  LANGUAGE_CODE == 'en' %}
						{{essential.model_type_en}} 
						{% else %}
						{{essential.model_type}} 
						{% endif %}
						 
					</div>
						{% endif %}
						
						<div style="height: 430px; bottom: -20px;top: auto;" class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15 {% if LANGUAGE_CODE == 'ar' %}rtl{% endif %}">
							<br><br><br><br><br>
							<br><br><br><br><br>
							<span class="m-text9 p-t-100  fs-20-sm">
								<span style="font-size: 23px;">
									{% if LANGUAGE_CODE == 'ar'  %}
									{{essential.line1_ar}} <br> {{essential.line2_ar}}
						{% elif  LANGUAGE_CODE == 'en' %}
						{{essential.line1_en}} <br> {{essential.line2_en}}
						{% else %}
						{{essential.line1}} <br> {{essential.line2}}
						{% endif %}
									
								
								</span> 
								<span style="font-weight: bolder;">
									{{essential.price|floatformat:0}}
									
								</span><sup> {% trans 'DA' %}</sup>
							</span>

							<br>
							

								<div class="wrap-btn-slide1 w-size1 animated" data-appear="slideInUp">
						
							<a href="{{essential.link}}" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite  trans-0-4">
								
								{% if LANGUAGE_CODE == 'ar'  %}
								{{essential.button_text_ar}}
						{% elif  LANGUAGE_CODE == 'en' %}
						{{essential.button_text_en}}
						{% else %}
						{{essential.button_text}}
						{% endif %}
								
							</a>
						</div>

						</div>
					</div>
				</div>
				{% endfor %}
				 
				 
			
			</div>
		</div>
	</section>
	{% endif %}
	<!-- ------------------Banner2  start ------------------------>

	<!-- ------------------Banner4  start ------------------------>
<!-- Slide1 -->

<style>
	.slide1 button:hover{
		background-color: white !important;
		color: black;
	}
</style>
<br><br>
 
 
	{% if promo_items %}
	<section class="container  cntdiv" >
		
		<h2 style="font-family: Roboto-Bold, sans-serif !important;
		font-weight: lighter !important;color: #707070 !important;" class="title with-link pt-6 appear-animate fadeIn appear-animation-visible {% if LANGUAGE_CODE == 'ar' %}rtl marg-right-10{% endif %}" data-animation-options="{'name': 'fadeIn'}" style="animation-duration: 1.2s;">
		{% trans 'Promotions' %}
		 
	</h2>
	<div class="owl-carousel1 owl-theme owl-nav-inner mb-10 pb-6 appear-animate owl-loaded owl-drag fadeIn appear-animation-visible" data-animation-options="{'name': 'fadeIn'}"   style="animation-duration: 1.2s;"  >
	
		<div class="owl-stage-outer" style="overflow:hidden">
		<div class="owl-stage"  >
				
		{% for new_item in promo_items %}
				
		<div class="owl-item new_item{% if forloop.counter <= 4 %} active{% endif %}"  >
			<div class="product product-classic">
				<figure class="product-media">
					<a href="/product/{{new_item.slug}}">
						
							<img style="width: 100%; height: 100%;" src={{new_item.image.url}}   alt="{{new_item.title}}" width="300" height="338" loading="lazy">
						
					</a>
				
					{% if LANGUAGE_CODE ==  'ar'  %}
					<div class="product-action-vertical" style="left: 0;">
			
						{% if new_item in wishedlist %}
						<a id="wishHeart" href="/wishlist-add/{{new_item.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
							  <img src="/static/images/PSC.svg" loading="lazy">  
							<!-- <i style="scale: 1.1;padding: 10px;" class="d-icon-heart-full"></i> -->

						</a>
						
						{% else %}
						<a id="wishHeart" href="/wishlist-add/{{new_item.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
							 <img src="/static/images/VSC.svg" loading="lazy">  
							<!-- <i style="scale: 1.1;padding: 10px;" class="d-icon-heart"></i> -->

						</a>
						{% endif %}	
					</div>
					{% else %}

					<div class="product-action-vertical">
			
						{% if new_item in wishedlist %}
						<a id="wishHeart" href="/wishlist-add/{{new_item.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
							  <img src="/static/images/PSC.svg" loading="lazy">  
							<!-- <i style="scale: 1.1;padding: 10px;" class="d-icon-heart-full"></i> -->

						</a>
						
						{% else %}
						<a id="wishHeart" href="/wishlist-add/{{new_item.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
							  <img src="/static/images/VSC.svg" loading="lazy">  
							<!-- <i style="scale: 1.1;padding: 10px;" class="d-icon-heart"></i> -->

						</a>
						{% endif %}	
					</div>
					{% endif %}

					<div class="product-action  justify-content-end">
						{% if  new_item.article_id|filtered_and_length:"," > 1 %}
							<div class="product-color__badge--wheel img">
								<div class="color-options">
									<div style="width: 15px;">
										
										<!-- <span class="color-option"></span>
										
										<span class="color-option"></span>
										 -->
										 <img src="{% static 'images/color.png' %}" alt="" loading="lazy">

										
								</div>
								<span class="color-variant-count">
									{% if  new_item.article_id|filtered_and_length:"," > 1 %}
										{{new_item.article_id|filtered_and_length:","}}
									{% endif %}
										
								</span></div>
							</div>
							
						{% endif %}
					</div>

					{% if LANGUAGE_CODE ==  'ar'  %}
		<div class="product-label-group" style=" position: absolute !important;width: 45px;
		right: 0px !important;
		top: 30px  ;left: auto !important;">
	
		
			<label   class="product-label label-top {% if new_item.label == 'P' %} promo_label{% endif %}" style="width: 100%;">{% trans new_item.get_label_display %}</label>
		 
	</div>  
		{% else %}
		<div class="product-label-group">
	
		
			<label style="min-width: 60px;" class="product-label label-top {% if new_item.label == 'P' %} promo_label{% endif %}">{% trans new_item.get_label_display %}</label>
		 
	</div>  
		{% endif %}
				</figure>
				<div class="product-details">
					<h3 class="product-name {% if LANGUAGE_CODE == 'ar' %}rtl{% endif %}">
						<a href="/product/{{new_item.slug}}">
							 
							{% if LANGUAGE_CODE == 'ar'  %}
						{{new_item.title_ar}}
						{% elif  LANGUAGE_CODE == 'en' %}
						{{new_item.title_en}} 
						{% else %}
						{{new_item.title}} 
						{% endif %}
						</a>
					</h3>
					<div class="product-price d-flex justify-content-between {% if LANGUAGE_CODE == 'ar' %}rtl{% endif %}">
					 
					{% if new_item.price > new_item.discount_price %}
					<del class="old-price old-price-block">&nbsp;{{new_item.price|floatformat:0}} {% trans 'DA' %}</del>
					&nbsp; 
					<ins class="new-price price-block">{{new_item.discount_price|floatformat:0}} {% trans 'DA' %}</ins>
					{% else %}
					<ins class="new-price price-block" style="color: #222 !important;">{{new_item.price|floatformat:0}} {% trans 'DA' %}</ins>
					{% endif %}
					</div>
		
					 
				</div>
			</div>
		</div> 
		{% endfor %}
				
		</div>
		</div>
	</div>
	</section>
	<script>
		$(function() {
	  // Owl Carousel
	  var owl = $(".owl-carousel1");
	  owl.owlCarousel({
		items: 5,
		margin: 20,
		loop: true,
		nav: true,
		responsive: {
				  0: {
					items: 2 // Display 1 item on smaller screens
				  },
				  600: {
					items: 2 // Display 2 items on screens wider than 600px
				  },
				  992: {
					items: 4 // Display 4 items on screens wider than 1000px
				  }
				  ,
				  1200: {
					items: 5 // Display 4 items on screens wider than 1000px
				  }
				}
	  });
	});
			</script>

	{% endif %}
	
	{% if new_items %}
	<section class="container  cntdiv">
		 
		<h2 style=" font-family: Roboto-Bold, sans-serif !important;
		font-weight: lighter !important;color: #707070 !important;" class="title with-link pt-6 appear-animate fadeIn appear-animation-visible {% if LANGUAGE_CODE == 'ar' %}rtl marg-right-10{% endif %}" data-animation-options="{'name': 'fadeIn'}" style="animation-duration: 1.2s;">
		{% trans 'NOUVEAUTÉS' %}</h2>
	<div class="owl-carousel1 owl-theme owl-nav-inner mb-10 pb-6 appear-animate owl-loaded owl-drag fadeIn appear-animation-visible" data-animation-options="{'name': 'fadeIn'}"   style="animation-duration: 1.2s;"  >
	
		<div class="owl-stage-outer" style="overflow:hidden">
		<div class="owl-stage"  >
				
		{% for new_item in new_items %}
				
		<div class="owl-item new_item {% if forloop.counter <= 4 %} active{% endif %}"  >
			<div class="product product-classic">
				<figure class="product-media">
					<a href="/product/{{new_item.slug}}">
						
							<img style="width: 100%; height: 100%;" src={{new_item.image.url}}  alt="{{new_item.title}}" width="300" height="338" loading="lazy">
						
					</a>
					{% if LANGUAGE_CODE ==  'ar'  %}
					<div class="product-action-vertical" style="left: 0;">
			
						{% if new_item in wishedlist %}
						<a id="wishHeart" href="/wishlist-add/{{new_item.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
							  <img src="/static/images/PSC.svg" loading="lazy">  
							<!-- <i style="scale: 1.1;padding: 10px;" class="d-icon-heart-full"></i> -->

						</a>
						
						{% else %}
						<a id="wishHeart" href="/wishlist-add/{{new_item.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
							  <img src="/static/images/VSC.svg" loading="lazy"> 
							<!-- <i style="scale: 1.1;padding: 10px;" class="d-icon-heart"></i> -->

						</a>
						{% endif %}	
					</div>
					{% else %}

					<div class="product-action-vertical">
			
						{% if new_item in wishedlist %}
						<a id="wishHeart" href="/wishlist-add/{{new_item.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
							  <img src="/static/images/PSC.svg" loading="lazy"> 
							<!-- <i style="scale: 1.1;padding: 10px;" class="d-icon-heart-full"></i> -->

						</a>
						
						{% else %}
						<a id="wishHeart" href="/wishlist-add/{{new_item.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
							<img src="/static/images/VSC.svg" loading="lazy">
							<!-- <i style="scale: 1.1;padding: 10px;" class="d-icon-heart"></i> -->

						</a>
						{% endif %}	
					</div>
					{% endif %}
					<div class="product-action  justify-content-end">
						{% if  new_item.article_id|filtered_and_length:"," > 1 %}
							<div class="product-color__badge--wheel img">
								<div class="color-options">
									<div style="width: 15px;">
										
										<!-- <span class="color-option"></span>
										
										<span class="color-option"></span>
										 -->
										 <img src="{% static 'images/color.png' %}" alt="" loading="lazy">

										
								</div>
								<span class="color-variant-count">
									{% if  new_item.article_id|filtered_and_length:"," > 1 %}
										{{new_item.article_id|filtered_and_length:","}}
									{% endif %}
										
								</span></div>
							</div>
							
						{% endif %}
					</div>

					
					{% if LANGUAGE_CODE ==  'ar'  %}
		<div class="product-label-group" style=" position: absolute !important;width: 45px;
		right: 0px !important;
		top: 30px  ;left: auto !important;">
	
		
			<label style="width: 100%;"  class="product-label label-top {% if new_item.label == 'P' %} promo_label{% endif %}">{% trans new_item.get_label_display %}</label>
		 
	</div>  
		{% else %}
		<div class="product-label-group">
	
		
			<label style="min-width: 60px;" class="product-label label-top {% if new_item.label == 'P' %} promo_label{% endif %}">{% trans new_item.get_label_display %}</label>
		 
	</div>  
		{% endif %}
				</figure>
				<div class="product-details">
					<h3 class="product-name {% if LANGUAGE_CODE == 'ar' %}rtl{% endif %}">
						<a href="/product/{{new_item.slug}}">
							{% if LANGUAGE_CODE == 'ar'  %}
							{{new_item.title_ar}}
							{% elif  LANGUAGE_CODE == 'en' %}
							{{new_item.title_en}} 
							{% else %}
							{{new_item.title}} 
							{% endif %}</a>
					</h3>
					<div class="product-price d-flex justify-content-between {% if LANGUAGE_CODE == 'ar' %}rtl{% endif %}">
					 
					{% if new_item.price > new_item.discount_price %}
					<del class="old-price old-price-block">&nbsp;{{new_item.price|floatformat:0}} {% trans 'DA' %}</del>
					&nbsp; 
					<ins class="new-price price-block">{{new_item.discount_price|floatformat:0}} {% trans 'DA' %}</ins>
					{% else %}
					<ins class="new-price price-block" style="color: #222 !important;">{{new_item.price|floatformat:0}} {% trans 'DA' %}</ins>
					{% endif %}
					</div>
		
				</div>
			</div>
		</div>
		
		{% endfor %}
				
		</div>
		</div>
	</div>
	</section>
	<script>
		$(function() {
	  // Owl Carousel
	  var owl = $(".owl-carousel1");
	  owl.owlCarousel({
		items: 5,
		margin: 20,
		loop: true,
		nav: true,
		responsive: {
				  0: {
					items: 2 // Display 1 item on smaller screens
				  },
				  600: {
					items: 2 // Display 2 items on screens wider than 600px
				  },
				  992: {
					items: 4 // Display 4 items on screens wider than 1000px
				  },
				  1200: {
					items: 5 // Display 4 items on screens wider than 1000px
				  }
				}
	  });
	});
			</script>

	{% endif %}

	{% if most_sale %}
	<section class="container  cntdiv">
		
		
		<h2 style="font-family: Roboto-Bold, sans-serif !important;
		font-weight: lighter !important;color: #707070 !important;" class="title with-link pt-6 appear-animate fadeIn appear-animation-visible {% if LANGUAGE_CODE == 'ar' %}rtl marg-right-10{% endif %}" data-animation-options="{'name': 'fadeIn'}" style="animation-duration: 1.2s;">
		{% trans 'PRODUITS LES PLUS VENDUS' %}</h2>
		<div class="owl-carousel2 owl-theme owl-nav-inner mb-10 pb-6 appear-animate owl-loaded owl-drag fadeIn appear-animation-visible" data-animation-options="{'name': 'fadeIn'}" style="animation-duration: 1.2s;">
			
 	
		<div class="owl-stage-outer" style="overflow:hidden">
			<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); 
			transition: all 3s ease 0s; width: 5814px;">
			
		
		
			{% for new_item in most_sale %}
			
			<div class="owl-item new_item{% if forloop.counter <= 4 %} active{% endif %}" style="width: 247px !important; margin-right: 20px;">
				<div class="product product-classic">
				<figure class="product-media">
				<a href="/product/{{new_item.slug}}">
					
						<img style="width: 100%; height: 100%;" src={{new_item.image.url}}   alt="{{new_item.title}}" width="300" height="338" loading="lazy">
					
				</a>
				{% if LANGUAGE_CODE ==  'ar'  %}
				<div class="product-action-vertical" style="left: 0;">
		
					{% if new_item in wishedlist %}
					<a id="wishHeart" href="/wishlist-add/{{new_item.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
						  <img src="/static/images/PSC.svg" loading="lazy">  
						<!-- <i style="scale: 1.1;padding: 10px;" class="d-icon-heart-full"></i> -->

					</a>
					
					{% else %}
					<a id="wishHeart" href="/wishlist-add/{{new_item.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
						  <img src="/static/images/VSC.svg" loading="lazy"> 
						<!-- <i style="scale: 1.1;padding: 10px;" class="d-icon-heart"></i> -->

					</a>
					{% endif %}	
				</div>
				{% else %}

				<div class="product-action-vertical">
		
					{% if new_item in wishedlist %}
					<a id="wishHeart" href="/wishlist-add/{{new_item.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
						<img src="/static/images/PSC.svg" loading="lazy">
						<!-- <i style="scale: 1.1;padding: 10px;" class="d-icon-heart-full"></i> -->

					</a>
					
					{% else %}
					<a id="wishHeart" href="/wishlist-add/{{new_item.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
						<img src="/static/images/VSC.svg" loading="lazy">
						<!-- <i style="scale: 1.1;padding: 10px;" class="d-icon-heart"></i> -->

					</a>
					{% endif %}	
				</div>
				{% endif %}

		<div class="product-action  justify-content-end">
			{% if  new_item.article_id|filtered_and_length:"," > 1 %}
				<div class="product-color__badge--wheel img">
					<div class="color-options">
						<div style="width: 15px;">
										
							<!-- <span class="color-option"></span>
							
							<span class="color-option"></span>
							 -->
							 <img src="{% static 'images/color.png' %}" alt="" loading="lazy">

							
						</div>
					<span class="color-variant-count">
						{% if  new_item.article_id|filtered_and_length:"," > 1 %}
							{{new_item.article_id|filtered_and_length:","}}
						{% endif %}
							 
					</span></div>
				</div>
				 
			{% endif %}
		</div>

		{% if LANGUAGE_CODE ==  'ar'  %}
		<div class="product-label-group" style="width: 65px;position: absolute !important;
		right: 0px !important;
		top: 30px  ;left: auto !important;">
	
		
			<label style=" width: 65px;" class="product-label label-top {% if new_item.label == 'P' %} promo_label{% endif %}">{% trans new_item.get_label_display %}</label>
		 
	</div>  
		{% else %}
		<div class="product-label-group">
	
		
			<label style="min-width: 60px;" class="product-label label-top {% if new_item.label == 'P' %} promo_label{% endif %}">{% trans new_item.get_label_display %}</label>
		 
	</div>  
		{% endif %}

				</figure>
				<div class="product-details">
				<h3 class="product-name {% if LANGUAGE_CODE == 'ar' %}rtl{% endif %}">
					<a href="/product/{{new_item.slug}}">
						{% if LANGUAGE_CODE == 'ar'  %}
										{{new_item.title_ar}}
										{% elif  LANGUAGE_CODE == 'en' %}
										{{new_item.title_en}} 
										{% else %}
										{{new_item.title}} 
										{% endif %}
									</a>
				</h3>
				<div class="product-price d-flex justify-content-between {% if LANGUAGE_CODE == 'ar' %}rtl{% endif %}">
					
						
						{% if new_item.price > new_item.discount_price %}
														<del class="old-price old-price-block">&nbsp;{{new_item.price|floatformat:0}} {% trans 'DA' %}</del>
														&nbsp; 
														<ins class="new-price price-block">{{new_item.discount_price|floatformat:0}} {% trans 'DA' %}</ins>
														{% else %}

														<ins class="new-price price-block" style="color: #222 !important;">{{new_item.price|floatformat:0}} {% trans 'DA' %}</ins>
						{% endif %}
					</div>
					
				</div>


 
			</div>
			</div> 
			{% endfor %}
			 
			 
			 
			 
		 
			 

			</div>

		</div>
	</div>
	</section>
	<script>
		$(function() {
	  // Owl Carousel
	  var owl = $(".owl-carousel2");
	  owl.owlCarousel({
		items: 5,
		margin: 20,
		loop: true,
		nav: true,
		responsive: {
			  0: {
				items: 2 // Display 1 item on smaller screens
			  },
			  600: {
				items: 2 // Display 2 items on screens wider than 600px
			  },
			  992: {
				items: 4 // Display 4 items on screens wider than 1000px
			  },
			1200: {
					items: 5 // Display 4 items on screens wider than 1000px
				}
			}
	  });
	});
			</script>
	{% endif %}
	<script>
		const dots = document.getElementsByClassName("owl-dot");
	Array.from(dots).forEach((ele) => {
	ele.addEventListener("click", function(e) {
		const siblings = Array.from(ele.parentNode.children);
		siblings.forEach((sibling) => {
		sibling.classList.remove("active");
		});
		
		// Add the class to the clicked element
		ele.classList.add("active");
	});
	});
	</script>


	<!-- ------------------Banner2  start ------------------------>


	
	

	<!-- Shipping -->
	 
	



	
	<script>
		document.querySelectorAll(".product-media").forEach(ele=>{
			ele.children[0].children[0].onerror = function() {
				ele.children[0].children[0].src="/static/images/ProductDet.png";  
				// ele.style.height=342+ "px"
				// if(window.outerWidth <= 992){
				// 	ele.style.height=330 + "px"
				// }
			};
			 
		})
	</script>
	<script>
		document.querySelectorAll(".product-name").forEach(ele => {
  const originalText = ele.textContent.trim();
  const anchorTag = ele.querySelector("a");

  if (anchorTag ) {
    if (originalText.length > 55) {
      anchorTag.textContent= originalText.slice(0, 55) + '...';
  }else{
    anchorTag.textContent= originalText;
  }
   
   
  }
});
	</script>
	{% endblock content %}


	