{% extends 'base.html' %}
{% load static %}
{% load category_template_tags %}
{% load slide_template_tags %}
{% load custom_filters %}
{% block content %}
<style>

	/*[ Block2 ]
///////////////////////////////////////////////////////////
*/
.block2-labelpromotion::before,
.block2-labelsale::before,
.block2-labelnew::before 
{
  z-index: 100;
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 12px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 22px;
  border-radius: 11px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.block2-labelsale::before {
  background-color: white;
  color: #000;
  content: 'Sale';
}

.block2-labelnew::before {
  background-color: #007bff;
  content: 'New';
}

.block2-labelpromotion::before{
	background-color: #000;
	content: 'Promotion';
	width: 70px;
  }

  .btn-dark {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-outline-dark {
    color: #000;
    border-color: #000;
}


</style>

	<!-- Slide1 -->
	<section class="slide1">
		<div class="wrap-slick1">
			<div class="slick1">

				{% slides %}
				

				<!-- <div class="item-slick1 item2-slick1" style="background-image: url({% static 'images/master-slide-03.webp' %});">-->
<!--					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">-->
<!--						<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rollIn">-->
<!--							Women Collection 2018-->
<!--						</span>-->
<!--						<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">-->
<!--							New arrivals-->
<!--						</h2>-->
<!--						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">-->
<!--							&lt;!&ndash; Button &ndash;&gt;-->
<!--							<a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">-->
<!--								Shop Now-->
<!--							</a>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div> -->

			</div>
		</div>
	</section>
	<section class="banner-group  pt-11 ">
		<div class="container">
			
			<div class="row">
				
					<div class="col-md-6 mb-4" style="padding: 20px;" >
						<div class="banner banner-fixed overlay-dark appear-animate fadeIn appear-animation-visible" style="background-color: rgb(239, 240, 244); animation-duration: 1.2s;">
							<a role="button">
								<figure>
									<img src="{% static 'images/rev.png' %}" alt="banner" loading="lazy">
								</figure>
							</a>
						</div>
					</div>
				
					<div class="col-md-6 mb-4"  style="padding: 20px;">
						<div class="banner banner-fixed overlay-dark appear-animate fadeIn appear-animation-visible" style="background-color: rgb(239, 240, 244); animation-duration: 1.2s;">
							<a role="button">
								<figure>
									<img src="{% static 'images\bekini.png' %}" alt="banner" loading="lazy">
								</figure>
							</a>
						</div>
					</div>
				
			</div>
 
			
			 
			 
	</section>
	
	<script>
		$(document).ready(function(){
		  $(".owl-carousel").owlCarousel({
			items: 4, // Display 4 items in a line
			loop: false,
			margin: 10,
			nav: true,
			dots: true,
			responsive: {
			  0: {
				items: 4 // Display 1 item on smaller screens
			  },
			  600: {
				items: 4 // Display 2 items on screens wider than 600px
			  },
			  1000: {
				items:5 // Display 4 items on screens wider than 1000px
			  }
			}
		  });
		});
	  </script>
	<section class="container mb-8">
		<br>
		<h2 class="title with-link appear-animate mb-5 text-center fadeIn appear-animation-visible" data-animation-options="{'name': 'fadeIn'}" style="animation-duration: 1.2s;margin-left: 10px;text-transform: uppercase;">Catégorie</h2> 
	   <div class="owl-carousel owl-theme owl-nav-inner mb-8 pb-6 appear-animate owl-loaded owl-drag fadeIn appear-animation-visible" data-animation-options="{'name': 'fadeIn'}" data-owl-options="{
		   'nav': false,
		   'loop':false
		   'dots': true,
		   'margin': 0,
		   'responsive': {
			   '0': {
				   'items': 4
			   },
			   '576': {
				   'items': 4
			   },
			   '768': {
				   'items': 4
			   },
			   '992': {
				   'items': 4
			   },
			   '1200': {
				   'items': 4
			   }
		   }
	   }" style="animation-duration: 1.2s;">
 
	<div class="owl-stage-outer">
		<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 809px;">
			 
			{% for category in category %}
			<div class="owl-item category{% if forloop.counter <= 4 %} active{% endif %}" style="width: 182.2px; margin-right: 20px;">
				<div class="category-wrap mb-4 ">
							   <div class="category category-default1 category-absolute">
								   <a href="/category/{{category.slug}}">
									   <div class="container" style="width:auto;">
										   <figure>
											   <img class="circular-category-image" src={{category.image.url}} alt="Category" loading="lazy">
										   </figure>
									   </div>
									   <p style="text-align: center; "> {{category.title}} </p>
									</a>
									<p><a href="/produits/?category=2"></a></p>
								</div>
				</div>
			</div>
			{% endfor %}
			 
			
		
		</div>
	</div>
	<div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><i class="d-icon-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="d-icon-angle-right"></i></button></div><div class="owl-dots disabled"><button role="button" class="owl-dot active"><span></span></button></div></div>
   </section>
   
 


	
	<!-- Category start -->
	<style>
		.hov1{
			background-color: white !important;
			color: black !important;
			
		}
		 
	</style>
	<!-- <section class="banner bgwhite p-t-40 p-b-40">
		<div class="container">
			<div class="row"> -->

			 

<!--				<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">-->
<!--					-->
<!--					<div class="block1 hov-img-zoom pos-relative m-b-30">-->
<!--						<img src="{% static 'images/banner-02.webp' %}" alt="IMG-BENNER">-->
<!--						<div class="block1-wrapbtn w-size2">-->
<!--							<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">-->
<!--								Dresses-->
<!--							</a>-->
<!--						</div>-->
<!--					</div>-->
<!--					-->
<!--					<div class="block1 hov-img-zoom pos-relative m-b-30">-->
<!--						<img src="{% static 'images/banner-05.webp' %}" alt="IMG-BENNER">-->
<!--						<div class="block1-wrapbtn w-size2">-->
<!--							<a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">-->
<!--								Sunglasses-->
<!--							</a>-->
<!--						</div>-->
<!--					</div>-->
<!--					-->
<!--				</div>-->




			<!-- </div>
		</div>
	</section> -->

	<!-- New Product -->
	<style>
		.newproduct{
			margin-bottom: 2px;
			padding-bottom: 2px;
		}
	</style>
	 

	<!-- ------------------Banner2  start ------------------------>
	<style>
		.banner2{
			background-color: #fff;
			margin-right: 1rem;
			margin-left: 1rem;
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
		}

		.ban_img{
			height: 680px;
			width: 100%;
		}
		.ban5_img{
			height: 580px;
			width: 100%;
		}

		.btn-light {
			color: #000;
			background-color: #fff;
			border-color: #fff;
			border-radius: 20px;
		}
		.wrap-btn-slide1 a:hover{
			background-color: whitesmoke;
			color: #000 !important;
			opacity: 0.7;
	
		}
	</style>
	{% if essentials %}
	<section class="banner2 bg5">
		
		<h4 class="title with-link pt-6 appear-animate fadeIn appear-animation-visible" style="text-transform: uppercase;">Season's Essentials</h4>
		<div class="">
			<div class="row" style="height: 500px;">
				
				
				{% for essential in essentials %}
				<div style="height: 430px;padding-right: 5px;"   class="essential col-sm-10 col-md-8 col-lg-3 m-l-r-auto p-t-15 p-b-15">
					<div style="height: 430px;" class="pos-relative">
						<img style="height: 430px;" src="{{essential.image.url}}" alt="IMG-BANNER" class="ban_img">
						<div style="position: absolute;
						width: 50px;
						height: 50px;
						top: 10px;
						left: 10px;
						font-family: 'Roboto Condensed', sans-serif !important;
						font-size: 22px;
						color: white;
						line-height: 1.2;" class="title-ess">{{essential.model_type}}</div>
						<div style="height: 430px;" class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
							<br><br><br><br><br>
							<br><br><br><br><br>
							<span class="m-text9 p-t-100  fs-20-sm">
								<span style="font-size: 23px;">{{essential.line1}} <br> {{essential.line2}}</span> 
								<span style="font-weight: bolder;">{{essential.price}}</span><sup>DA</sup>
							</span>

							<br>
							

								<div class="wrap-btn-slide1 w-size1 animated" data-appear="slideInUp">
						
							<a href="{{essential.link}}" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite  trans-0-4">
								{{essential.button_text}}
							</a>
						</div>

						</div>
					</div>
				</div>
				{% endfor %}
				 
				 
			
			</div>
		</div>
	</section>
	{% endif %}
	<!-- ------------------Banner2  start ------------------------>

	<!-- ------------------Banner4  start ------------------------>
<!-- Slide1 -->

<style>
	.slide1 button:hover{
		background-color: white !important;
		color: black;
	}
</style>
<br><br>
 

<!-- ------------------Banner4  end ------------------------>

	<!-- ------------------Banner3  start ------------------------>


	<!-- ------------------Banner3  end ------------------------>

	<!-- ------------------Banner5  start ------------------------>

	<!-- <section class="banner2 bg5 p-t-55 p-b-55">
		<h4 class="title with-link pt-6 appear-animate fadeIn appear-animation-visible" style="text-transform: uppercase;">More Products</h4>
		 <div class="">
			<div class="row">
				<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto p-t-15 p-b-15">
					<div class="pos-relative">
						<img src="https://static.nike.com/a/images/f_auto/dpr_2.0/h_573,c_limit/0bafb728-2ae2-416f-bb18-5935801c8071/nike-just-do-it.png" alt="IMG-BANNER" class="ban5_img">

						<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
							<br><br><br><br><br>
							<br><br><br><br><br>
							<br><br><br><br><br>
						
							

							<br>
							

								<div class="wrap-btn-slide1 w-size1 animated" data-appear="slideInUp">
						
							<a href="/shop/" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite  trans-0-4">
								Men's
							</a>
						</div>

						</div>
					</div>
				</div>

				<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto p-t-15 p-b-15">
					<div class="pos-relative">
						<img src="https://static.nike.com/a/images/f_auto/dpr_2.0/h_573,c_limit/2c8754ce-6287-4e77-a198-1ad483fba257/nike-just-do-it.png" alt="IMG-BANNER" class="ban5_img">

						<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
							<br><br><br><br><br>
							<br><br><br><br><br>
							<br><br><br><br><br>

							<br>
							

								<div class="wrap-btn-slide1 w-size1 animated" data-appear="slideInUp">
						
							<a href="/shop/" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite  trans-0-4">
								Women's
							</a>
						</div>

						</div>
					</div>
				</div>

				<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto p-t-15 p-b-15">
					<div class="pos-relative">
						<img src="https://static.nike.com/a/images/f_auto/dpr_2.0/h_573,c_limit/414db494-7ebc-4d53-bbff-58d50b380a24/nike-just-do-it.png" alt="IMG-BANNER" class="ban5_img">

						<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
							<br><br><br><br><br>
							<br><br><br><br><br>
							<br><br><br><br><br>

							<br>
							

								<div class="wrap-btn-slide1 w-size1 animated" data-appear="slideInUp">
						
							<a href="/shop/" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite  trans-0-4">
								Kids'
							</a>
						</div>

						</div>
					</div>
				</div>
			
			</div>
		</div> 
		<div class="owl-stage-outer">
			<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); 
			transition: all 3s ease 0s; width: 5814px;">
			
			 
			<div class="owl-item active" style="width: 247px !important; margin-right: 10px;">
				<div class="product product-classic">
<figure class="product-media">
<a href="/fr/produits/manteau-noir-oversize-en-laine353692861/">
	
		<img src="media/banner-02.webp" loading="lazy" alt="Manteau Noir  Oversize en Laine  image" width="300" height="338">
	
</a>
<div class="product-action-vertical">
	
		 


<a id="wishHeart" hx-get="/fr/wishlistadd/873" hx-target="this" hx-swap="outerHTML" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait"><img src="/static/images/VSC.svg"></a>


	 
	
		
			
		
</div>

		<div class="product-action  justify-content-end">
			<div class="product-color-qt">
				<div class="product-color__badge--wheel img"><img src="/static/images/color.png"></div>
				<div class="text-color-block">
					<p style="margin:0"> 1</p>
				</div>
			</div>
		</div>

<div class="product-label-group">
	
		
		<label class="product-label label-top">Nouveau</label>
	 
</div>  
</figure>
<div class="product-details">
<h3 class="product-name">
	<a href="/fr/produits/manteau-noir-oversize-en-laine353692861/">Manteau Noir  Oversize en Laine </a>
</h3>
<div class="product-price d-flex justify-content-between">
	<div>
		
		
		<del class="old-price old-price-block">5&nbsp;700 DA</del>
		 &nbsp; 
		<ins class="new-price price-block">4&nbsp;900    DA</ins>
	</div>
	
</div>


</div>
</div>
			</div> 
			
			<div class="owl-item active" style="width: 247px !important; margin-right: 20px;">
				<div class="product product-classic">
<figure class="product-media">
<a href="/fr/produits/manteau-noir-oversize-en-laine353692861/">
	
		<img src="media/banner-02.webp" loading="lazy" alt="Manteau Noir  Oversize en Laine  image" width="300" height="338">
	
</a>
<div class="product-action-vertical">
	
		 


<a id="wishHeart" hx-get="/fr/wishlistadd/873" hx-target="this" hx-swap="outerHTML" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait"><img src="/static/images/VSC.svg"></a>


	 
	
		
			
		
</div>

		<div class="product-action  justify-content-end">
			<div class="product-color-qt">
				<div class="product-color__badge--wheel img"><img src="/static/images/color.png"></div>
				<div class="text-color-block">
					<p style="margin:0"> 1</p>
				</div>
			</div>
		</div>

<div class="product-label-group">
	
		
		<label class="product-label label-top">Nouveau</label>
	 
</div>  
</figure>
<div class="product-details">
<h3 class="product-name">
	<a href="/fr/produits/manteau-noir-oversize-en-laine353692861/">Manteau Noir  Oversize en Laine </a>
</h3>
<div class="product-price d-flex justify-content-between">
	<div>
		
		
		<del class="old-price old-price-block">5&nbsp;700 DA</del>
		 &nbsp; 
		<ins class="new-price price-block">4&nbsp;900    DA</ins>
	</div>
	
</div>


</div>
</div>
			</div> 
			 
			 
			 
			 
			 
		 
			 

</div>

		</div>
	</section> -->
	{% if new_items %}
	<section class="container  ">
		
		<h2 style="padding-left: 10px;" class="title with-link pt-6 appear-animate fadeIn appear-animation-visible" data-animation-options="{'name': 'fadeIn'}" style="animation-duration: 1.2s;">NOUVEAUTÉS</h2>
	<div class="owl-carousel1 owl-theme owl-nav-inner mb-10 pb-6 appear-animate owl-loaded owl-drag fadeIn appear-animation-visible" data-animation-options="{'name': 'fadeIn'}"   style="animation-duration: 1.2s;" data-owl-options="{
		'nav': true,
		'dots': true,
		'loop':false,
		'margin':0,
		'responsive': {
			'0': {
				'items': 2
			},
			'576': {
				'items': 2
			},
			'768': {
				'items': 2
			},
			'992': {
				'items': 2
			},
			'1200': {
				'items': 4
			}
		}
	}">
	
		<div class="owl-stage-outer">
		<div class="owl-stage"  >
				
		{% for new_item in new_items %}
				
		<div class="owl-item new_item{% if forloop.counter <= 4 %} active{% endif %}"  >
			<div class="product product-classic">
				<figure class="product-media">
					<a href="/product/{{new_item.slug}}">
						
							<img style="width: 100%; height: 100%;" src={{new_item.image.url}} loading="lazy" alt="Manteau Noir  Oversize en Laine  image" width="300" height="338">
						
					</a>
				
					<div class="product-action-vertical">
			
						{% if new_item in wishedlist %}
						<a id="wishHeart" href="/wishlist-add/{{new_item.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
							<img src="/static/images/PSC.svg">
						</a>
						
						{% else %}
						<a id="wishHeart" href="/wishlist-add/{{new_item.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
							<img src="/static/images/VSC.svg">
						</a>
						{% endif %}	
					</div>

					<div class="product-action  justify-content-end">
						{% if  new_item.article_id|filtered_and_length:"," > 1 %}
							<div class="product-color__badge--wheel img">
								<div class="color-options">
									<div style="width: 15px;">
										
										<!-- <span class="color-option"></span>
										
										<span class="color-option"></span>
										 -->
										 <img src="{% static 'images/color.png' %}" alt="">

										
								</div>
								<span class="color-variant-count">
									{% if  new_item.article_id|filtered_and_length:"," > 1 %}
										{{new_item.article_id|filtered_and_length:","}}
									{% endif %}
										
								</span></div>
							</div>
							
						{% endif %}
					</div>

					<div class="product-label-group">
						
							
							<label class="product-label label-top">{{new_item.get_label_display }}</label>
						
					</div>  
				</figure>
				<div class="product-details">
					<h3 class="product-name">
						<a href="/product/{{new_item.slug}}">{{new_item.title}} </a>
					</h3>
					<div class="product-price d-flex justify-content-between">
					<div>
					{% if new_item.price > new_item.discount_price %}
					<del class="old-price old-price-block">&nbsp;{{new_item.price}} DA</del>
					&nbsp; 
					<ins class="new-price price-block">{{new_item.discount_price}}DA</ins>
					{% else %}
					<ins class="new-price price-block" style="color: #222 !important;">{{new_item.price}}DA</ins>
					{% endif %}
					</div>
		
					</div>
				</div>
			</div>
		</div> 
		{% endfor %}
				
		</div>
		</div>
	</div>
	</section>
	<script>
		$(function() {
	  // Owl Carousel
	  var owl = $(".owl-carousel1");
	  owl.owlCarousel({
		items: 4,
		margin: 0,
		loop: true,
		nav: true,
		responsive: {
				  0: {
					items: 2 // Display 1 item on smaller screens
				  },
				  600: {
					items: 2 // Display 2 items on screens wider than 600px
				  },
				  1000: {
					items: 4 // Display 4 items on screens wider than 1000px
				  }
				}
	  });
	});
			</script>

	{% endif %}

	{% if most_sale %}
	<section class="container  ">
		
		
		<h2 style="padding-left: 10px;" class="title with-link pt-6 appear-animate fadeIn appear-animation-visible" data-animation-options="{'name': 'fadeIn'}" style="animation-duration: 1.2s;">PRODUITS LES PLUS VENDUS</h2>
		<div class="owl-carousel2 owl-theme owl-nav-inner mb-10 pb-6 appear-animate owl-loaded owl-drag fadeIn appear-animation-visible" data-animation-options="{'name': 'fadeIn'}" data-owl-options="{
			'nav': true,
			'dots': true,
			'loop':false,
			'margin': 10,
			'responsive': {
				'0': {
					'items': 2
				},
				'576': {
					'items': 2
				},
				'768': {
					'items': 2
				},
				 
				'1200': {
					'items': 4
				}
			}
		}" style="animation-duration: 1.2s;">
			
 	
		<div class="owl-stage-outer">
			<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); 
			transition: all 3s ease 0s; width: 5814px;">
			
		
		
			{% for new_item in most_sale %}
			
			<div class="owl-item new_item{% if forloop.counter <= 4 %} active{% endif %}" style="width: 247px !important; margin-right: 20px;">
				<div class="product product-classic">
				<figure class="product-media">
				<a href="/product/{{new_item.slug}}">
					
						<img style="width: 100%; height: 100%;" src={{new_item.image.url}} loading="lazy" alt="Manteau Noir  Oversize en Laine  image" width="300" height="338">
					
				</a>
			<div class="product-action-vertical">
	 
			{% if new_item in wishedlist %}
			<a id="wishHeart" href="/wishlist-add/{{new_item.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
				<img src="/static/images/PSC.svg">
			</a>
			
			{% else %}
			<a id="wishHeart" href="/wishlist-add/{{new_item.slug}}" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
				<img src="/static/images/VSC.svg">
			</a>
			{% endif %}
					
			</div>

		<div class="product-action  justify-content-end">
			{% if  new_item.article_id|filtered_and_length:"," > 1 %}
				<div class="product-color__badge--wheel img">
					<div class="color-options">
						<div style="width: 15px;">
										
							<!-- <span class="color-option"></span>
							
							<span class="color-option"></span>
							 -->
							 <img src="{% static 'images/color.png' %}" alt="">

							
						</div>
					<span class="color-variant-count">
						{% if  new_item.article_id|filtered_and_length:"," > 1 %}
							{{new_item.article_id|filtered_and_length:","}}
						{% endif %}
							 
					</span></div>
				</div>
				 
			{% endif %}
		</div>

<div class="product-label-group">
	
		
		<label class="product-label label-top">{{new_item.get_label_display }}</label>
	 
</div>  
</figure>
<div class="product-details">
<h3 class="product-name">
	<a href="/product/{{new_item.slug}}">{{new_item.title}} </a>
</h3>
<div class="product-price d-flex justify-content-between">
	<div>
		
		{% if new_item.price > new_item.discount_price %}
										<del class="old-price old-price-block">&nbsp;{{new_item.price}} DA</del>
										 &nbsp; 
										<ins class="new-price price-block">{{new_item.discount_price}}DA</ins>
										{% else %}

										<ins class="new-price price-block" style="color: #222 !important;">{{new_item.price}}DA</ins>
		{% endif %}
	</div>
	
</div>


</div>
</div>
			</div> 
			{% endfor %}
			 
			 
			 
			 
		 
			 

			</div>

		</div>
		
	</section>
	<script>
		$(function() {
	  // Owl Carousel
	  var owl = $(".owl-carousel2");
	  owl.owlCarousel({
		items: 4,
		margin: 0,
		loop: true,
		nav: true,
		responsive: {
			  0: {
				items: 2 // Display 1 item on smaller screens
			  },
			  600: {
				items: 2 // Display 2 items on screens wider than 600px
			  },
			  1000: {
				items: 4 // Display 4 items on screens wider than 1000px
			  }
			}
	  });
	});
			</script>
	{% endif %}
	<script>
		const dots = document.getElementsByClassName("owl-dot");
	Array.from(dots).forEach((ele) => {
	ele.addEventListener("click", function(e) {
		const siblings = Array.from(ele.parentNode.children);
		siblings.forEach((sibling) => {
		sibling.classList.remove("active");
		});
		
		// Add the class to the clicked element
		ele.classList.add("active");
	});
	});
	</script>


	<!-- ------------------Banner2  start ------------------------>


	
	

	<!-- Shipping -->
	 
	



	

	{% endblock content %}


	