{% load static %}
{% load cart_template_tags %}
{% load category_template_tags %}
{% load i18n %}

<style>
	.topbar {
		background-color: white;
		color: black !important;
	}
	.topbar a:hover{
		color: black;
	}
</style>
<!-- Header -->
<header class="header1">
	
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar" style="height: 92px;width: 90%;margin: auto;">
				 

				<div class="header-left" style="margin-top: auto;">
                    <a href="#" class="mobile-menu-toggle">
                        <i class="d-icon-bars2"></i>
                    </a>
                    
                    
                    <div class="tab tab-menu" style="min-width: 615px;padding-left: 10px;">
                        <ul class="nav nav-tabs {% if LANGUAGE_CODE == 'ar' %}rtl{% endif %}" role="tablist" style="width: 40%;display: flex;
						justify-content: space-between;
						position: relative;
						left: 10px;
						">
                            
							{% gendercat as catgg %}
							{% for catg in  catgg %}
							{% if forloop.counter == 1 %}
							
							<li class="nav-item">
								<a data-id="#{{catg.title}}" class="nav-link active navat activenavit nav-link-top" href="{{catg.slug}} ">
									{% trans catg.title %}
								</a>
							</li>
							{% else %}
							<li class="nav-item">
								<a data-id="#{{catg.title}}" class="nav-link nav-link-top" href=" {{catg.slug}}">{% trans catg.title %}</a>
							</li>
							{% endif %}
							{% endfor %}
                          
                         <script>
							Array.from(document.querySelectorAll(".nav-link-top")).forEach(ele=>{ele.addEventListener("click",function(e){
								e.preventDefault()
								const nvitlength = document.querySelectorAll(".nav-link-top").length
								for(var navitind=0;navitind<nvitlength; navitind++){
									document.querySelectorAll(".nav-link-top")[navitind].classList.remove("active")
									document.querySelectorAll(".nav-link-top")[navitind].classList.remove("activenavit")
								}
								this.classList.add("active");
								this.classList.add("activenavit");
								$(document.querySelector(this.dataset.id)).siblings().css({"display":"none"}) 
								document.querySelector(this.dataset.id).style.display="flex"
								
							})})
						 </script>
                        </ul>
                    </div>
                <div></div></div>
				<a href="/" class="logo">
					<img src="{% static 'images/matacor.png' %}" style="scale: 1.17;" alt="">
				</a>
				<!-- <form style="margin-bottom: 35px;
				margin-right: 10px;" action="{% url 'set_language' %}" method="post">{% csrf_token %}
					<input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
					<select id="lang_change" name="language" style="
					background: transparent;
					border: none;
					outline: none;
					border: 1px solid #22222285;
					padding: 4px;padding-left: 25px;
					">
						{% get_current_language as LANGUAGE_CODE %}
						{% get_available_languages as LANGUAGES %}
						{% get_language_info_list for LANGUAGES as languages %}
						{% for language in languages %}
							<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
								{{ language.name_local }} ({{ language.code }})
							</option>
						{% endfor %}
					</select>
					<input id="lang_change_sub" type="submit" value="Go" hidden="true">
					<script>
						document.getElementById("lang_change").addEventListener("change",function(){
							document.getElementById("lang_change_sub").click()
						})
					</script>
				</form> -->
				<!-- <div class="topbar-child2" style="position: relative;
				background: #fbf5f5;
				border-radius:6px 6px 0 0;
				 ">
					<div style="width: 100%;height: 100%;">
						<form action="/shop">
							<input placeholder="Rechercher par mot clés..." 
							name="search" type="text" style="
						border-radius: 6px;
						padding: 6px !important;
						font-size: 14px;
						color: #333;
						background-color: #fbf5f5;
						outline: none;
						width: 100%;
						height: 100%;
						">
						</form>
						
 				<i class="fa-solid fa-magnifying-glass" style="
				 position: absolute;
				 right: 15px;
				 top: 11px;
				 cursor: pointer;
				 scale: 1.7;
				 color: #f27a1a;"></i>

				 <script>
					document.querySelector(".fa-magnifying-glass").addEventListener("click",function(){
						document.querySelector(".fa-magnifying-glass").previousElementSibling.submit()
					})
				 </script>
					</div>
					<div class="suggestions dis-none">
						
						<div class="search_list">
							<span>Recent Search</span>
							<ul style="width: 100%;padding: 0;">
								<li>fff</li>
								<li>dddf</li>
								<li>dfd</li>
								<li>dfdd</li>
								<li>sdds</li>
							</ul>
						</div>
						<div class="search_list_q">
							<ul style="width: 100%;padding: 0;">
								
								 
							</ul>
						</div>
						<div class="populaire">
							<span>Populaire Search</span>
							<div class="pop-search">
								<div class="pop-sea">
									sssff
								</div>
								 
							</div>
						</div>
						<div class="special-cat">
							<span>
								special categories for you
							</span>
							<div class="spec-cat">
								<div class="cat">
									sssff
								</div>
							</div>
						</div>
					</div>
					<script>
						
						window.addEventListener("click",function(e){
							classes_list=document.querySelector(".suggestions").classList
							 
							 
							
							ele=document.querySelector("input[name=search]")
							if(e.target == ele && classes_list.contains("dis-none") ){
								classes_list.remove("dis-none")
								

							}else{
								classes_list.add("dis-none")
							}
							 

							 
							
						})
						
						
						
					</script>
				</div> -->



				<div class="header-icons" style="width: 19%;">

					<a href="/wishlist" class="header-wrapicon1 dis-block">
						<img style="scale: 1.3;" src="{% static 'images/VSC.svg' %}" class="header-icon1" alt="ICON">
					</a>
					<a   class="wishlist d-block">
                        <p class="account-text  d-none d-lg-block d-xl-none"
						style="height: 100%;
						margin-top: 0px;
						font-size: 13px;
						padding: 4px;
						padding-top: 0px;
						font-weight: bolder;
						color: #222;
						text-transform: capitalize;
						"
						>{% trans 'Favoris' %}</p>
                    </a>
					  
					{% if user.is_authenticated %}
					<a href="/profile" class="header-wrapicon1 dis-block">
						<!-- <img src="{% static 'images/user.png' %}" class="header-icon1" alt="ICON"> -->
						<i class="d-icon-user"></i>
					</a>
					<a href="/profile" class="wishlist d-block">
                        <p class="account-text  d-none d-lg-block d-xl-none"
						style="height: 100%;
						margin-top: 0px;
						font-size: 13px;
						padding: 4px;
						padding-top: 0px;
						font-weight: bolder;
						color: #222;
						text-transform: capitalize;
						"
						>{% trans 'Compte' %}</p>
                    </a>
					{% else %}
					<a href="/login" class="header-wrapicon1 dis-block">
						<i class="d-icon-user"></i>
					</a>
					<a href="/login" class="wishlist d-block">
                        <p class="account-text  d-none d-lg-block d-xl-none"
						style="height: 100%;
						margin-top: 0px;
						font-size: 13px;
						padding: 4px;
						padding-top: 0px;
						font-weight: bolder;
						color: #222;
						text-transform: capitalize;
						"
						>{% trans 'Login' %}</p>
                    </a>
					{% endif %}

					 
					

					<div class="header-wrapicon2" style="display: flex;">
						
						<!-- <img src="{% static 'images/shopping.png' %}" class="header-icon1 js-show-header-dropdown" alt="ICON"> -->
						<i class="d-icon-bag header-icon1 js-show-header-dropdown"></i>
						<span class="header-icons-noti"
						style="top: -10px;
						left: 14px;">
						{% if request.user.is_authenticated %}
							 
							{% orders request.user as orders_cart %}
							{{orders_cart.order|length}}
							 
							 
						{% else %}
						0

						{% endif %}	
					</span>
						
						<!-- Header cart noti -->
						<div class="header-cart header-dropdown" style="overflow: hidden;
						top: -3px;
min-height: 110vh;
position: fixed;">
							<ul class="header-cart-wrapitem">
								<div class="cart-header" style="display: flex;
								align-items: center;
								justify-content: space-between;
								border-bottom: 1px solid #e1e1e1;
								padding-bottom: 1.3rem;">
									<h4 class="cart-title">{% trans 'Panier' %}</h4>
									<a href="#" class="btn btn-dark btn-link btn-icon-right btn-close">{% trans 'fermer' %}<i class="d-icon-arrow-right"></i><span class="sr-only">{% trans 'Panier' %}</span></a>
								</div>
								{% if request.user.is_authenticated %}
								{% if orders %}
								{% orders request.user as orders_cart %}
								{% endif %}
								{% for order in orders_cart.order %}
								 
									<li class="header-cart-item">
										<div class="header-cart-item-img">
											<img src="{{order.item.image.url}}" alt="IMG">
										</div>

										<div class="header-cart-item-txt">
											<a href="#" class="header-cart-item-name">
												{% if LANGUAGE_CODE == 'ar' %}
												{{order.item.title_ar}}
									{% elif  LANGUAGE_CODE == 'en' %}
									{{order.item.title_en}}
									{% else %}
									{{order.item.title}}
									{% endif %}
												
											</a>

											<span class="header-cart-item-info">
												{{order.quantity}} x {{order.item.price}} {% trans 'DZD' %}
											</span>
										</div>
									</li>
								
									{% empty %}
									<p style="font-size: 1.4rem;
									font-weight: 700;
									color: #222;
									letter-spacing: -.0428em;
									line-height: 1;
									padding: 14px;
									padding-left: 14px;
									padding-left: 0;
									" class="mt-2">{% trans 'aucun Produit trouver' %}</p>
									
									<div class="cart-action">
										<a style="width: 100%;" href="/shop" class="btn btn-dark"><span>{% trans 'Aller au Shopping' %}</span></a>
									</div>
									{% endfor %}
								 
							</ul>
							{% if orders_cart.total != 0 %}
							<div class="header-cart-total">
								{% trans 'Total' %}: {{orders_cart.total|floatformat:2}}{% trans 'DZD' %}
							</div>
							<div class="cart-action">
								<a style="width: 100%;" href="{% url 'core:order-summary' %}" class="btn btn-dark"><span>{% trans 'Checkout' %}</span></a>
							</div>
							{% endif %}
							 

							{% endif %}	 
						</div>
						<a   class="wishlist d-block"
						>
							<p class="account-text  d-none d-lg-block d-xl-none"
							style="height: 100%;
						margin-top: -2px;
						font-size: 13px;
						padding: 4px;
						padding-top: 0px;
						font-weight: bolder;
						color: #222;
						padding-left: 15px;
						text-transform: capitalize;
						"
						>{% trans 'Panier' %}</p>
						</a>
					</div>
					
				</div>
			</div>

			<div class="wrap_header" style="overflow: visible !important;width: 90%; margin: auto; ">
				<!-- Logo -->
				

				<!-- Menu -->
				<!-- <div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="/">Home</a>

							</li>

							<li>
								<a href="/shop/">Shop</a>
							</li>

							 
							{%  genders %}
							{% if request.user.is_authenticated %}
							<li>
								<a href="{% url 'core:order-summary' %}">Cart<span class="badge badge-dark"></span></a>
							</li>
							<li>
								<a href="{% url 'account_logout' %}">Logout</a>
							</li>
							{% else %}
							<li>
								<a href="/login">{% trans 'Login' %}</a>
								<ul class="sub_menu">
									<li><a href="/login">{% trans 'Login' %}</a></li>
									<li><a href="/register ">SignUp</a></li>
								</ul>
							</li>
							{% endif %}
						</ul>
					</nav>
				</div> -->

				<!-- Header Icon -->
				<nav class="main-nav" style="width: 98%;padding-top: 15px;">
					    
						 
						   
						  {% categories  as categories1 %}
						  {{categories1.items }}
						   
						 <script>
							var submenus = document.querySelectorAll(".submenu") ;
						  submenus.forEach(ele=>{
							ele.addEventListener("mouseenter",function(){
							  $(ele).children()[1].style.display ="block"
							  console.log("entered")
							});
							ele.addEventListener("mouseleave",function(){
								$(ele).children()[1].style.display ="block"
								setTimeout(() => {
									
									
									$(ele).children()[1].addEventListener("mouseenter",function(){
										$(ele).children()[1].style.display ="block"
									})
									$(ele).children()[1].addEventListener("mouseleave",function(){
										$(ele).children()[1].style.display ="none"
									})
									$(ele).children()[1].style.display ="none"
								}, 500);
							}); 
						  })
						 </script>
						

 
				   
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile" style="padding-top: 43px;">
			<!-- <form style="position: absolute;
			right: 8px;
			top: 22px;" action="{% url 'set_language' %}" method="post">{% csrf_token %}
				<input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
				<select id="lang_change1" name="language" style="
				background: transparent;
				border: none;
				outline: none;
				border: 1px solid #22222285;
				padding: 4px;padding-left: 25px;
				">
					{% get_current_language as LANGUAGE_CODE %}
					{% get_available_languages as LANGUAGES %}
					{% get_language_info_list for LANGUAGES as languages %}
					{% for language in languages %}
						<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
							{{ language.name_local }} ({{ language.code }})
						</option>
					{% endfor %}
				</select>
				<input id="lang_change_sub1" type="submit" value="Go" hidden="true">
				<script>
					document.getElementById("lang_change1").addEventListener("change",function(){
						document.getElementById("lang_change_sub1").click()
					})
				</script>
			</form> -->
			<div style="margin-left: -25px;" class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<!-- <span class="hamburger-box">
					<span style="left: 30px;" class="hamburger-inner"></span>
				</span> -->

				<i class="d-icon-bars2" style="scale: 1.3;"></i>
			</div>
			<!-- Logo moblie -->
			<a href="/" class="logo-mobile">
				<img src="{% static 'images/matacor.png' %}" alt="IMG-LOGO" style="scale: 1.4;">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<div class="btn-show-menu">
	
				
								</div>
					
					
								<!-- Header Icon mobile -->
								<div class="header-icons-mobile">
									<a href="/wishlist" class="header-wrapicon1 dis-block">
										<img style="scale: 1.3;" src="{% static 'images/VSC.svg' %}" class="header-icon1" alt="ICON">
									</a>
				
									 
									<span class="linedivide2"></span>
									{% if request.user.is_authenticated %}
									<a href="/profile" class="header-wrapicon1 dis-block">
										<i class="d-icon-user"></i>
									</a>
									{% else %}
									<a href="/login" class="header-wrapicon1 dis-block">
										<i class="d-icon-user"></i>
									</a>
									{% endif %}
				
									<span class="linedivide2"></span>
									<div class="header-icons-mobile">
										
										 
									<div class="header-wrapicon2">
										<!-- <img src="{% static 'images/shopping.png' %}" class="header-icon1 js-show-header-dropdown" alt="ICON"> -->
										<i class="d-icon-bag header-icon1 js-show-header-dropdown"></i>
										<span class="header-icons-noti">
											{% if request.user.is_authenticated %}
											  
											{% orders request.user as orders_cart %} 
											{{orders_cart.order|length}}
										 
											{% else %}
											0
											{% endif %}
										</span>
				
										<!-- Header cart noti -->
										<div class="header-cart header-dropdown mobile" style="right: -390px; display: none;">
											
											<ul class="header-cart-wrapitem">
												<div class="cart-header" style="display: flex;
												align-items: center;
												justify-content: space-between;
												border-bottom: 1px solid #e1e1e1;
												padding-bottom: 1.3rem;">
													<h4 class="cart-title">{% trans 'Panier' %}</h4>
													<a href="#" class="btn btn-dark btn-link btn-icon-right btn-close">{% trans 'fermer' %}<i class="d-icon-arrow-right"></i><span class="sr-only">{% trans 'Panier' %}</span></a>
												</div>
												



												{% if request.user.is_authenticated %}
								  
												{% orders request.user as orders_cart %}
												{% for order in orders_cart.order %}
												 
													<li class="header-cart-item">
														<div class="header-cart-item-img">
															<img src="{{order.item.image.url}}" alt="IMG">
														</div>
				
														<div class="header-cart-item-txt">
															<a href="#" class="header-cart-item-name">
																 
																{% if LANGUAGE_CODE == 'ar' %}
												{{order.item.title_ar}}
									{% elif  LANGUAGE_CODE == 'en' %}
									{{order.item.title_en}}
									{% else %}
									{{order.item.title}}
									{% endif %}
															</a>
				
															<span class="header-cart-item-info">
																{{order.quantity}} x {{order.item.price}} {% trans 'DZD' %}
															</span>
														</div>
													</li>
												{% empty %}
												<p style="font-size: 1.4rem;
												font-weight: 700;
												color: #222;
												letter-spacing: -.0428em;
												line-height: 1;
												padding: 14px;
												padding-left: 14px;
												padding-left: 0;
												" class="mt-2">{% trans 'you have to login first'  %}</p>
												
												<div class="cart-action">
													<a style="width: 100%;" href="/login" class="btn btn-dark"><span>{% trans 'Login & start shopping' %}</span></a>
												</div>
												{% endfor %}
				
												
											</ul>
				
											{% if orders_cart.total != 0 %}
											<div class="header-cart-total">
												{% trans 'Total' %}: {{orders_cart.total}}{% trans 'DZD' %}
											</div>
											<div class="cart-action">
												<a style="width: 100%;" href="{% url 'core:order-summary' %}" class="btn btn-dark"><span>{% trans 'Checkout' %}</span></a>
											</div>
											{% endif %}
				
											<!-- <div class="header-cart-buttons">
												<div class="header-cart-wrapbtn">
													 
													<a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
														View Cart
													</a>
												</div>
				
												<div class="header-cart-wrapbtn">
													 
													<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
														Check Out
													</a>
												</div>
											</div> -->
				
											{%else%}
											<p style="font-size: 1.4rem;
											font-weight: 700;
											color: #222;
											letter-spacing: -.0428em;
											line-height: 1;
											padding: 14px;
											padding-left: 14px;
											padding-left: 0;
											" class="mt-2">Login and start Shopping</p>
											
											<div class="cart-action">
												<a style="width: 100%;" href="/login" class="btn btn-dark"><span>Login</span></a>
											</div>
				
											{% endif %}

										</ul>
									
									
									
									</div>
									 
								 
				
								 
							 

				<!--  -->

				<!--  -->
				<!--  -->
				<!-- Header Icon mobile -->
				 
					 
 
					 
  
								
						</div>
					</div>
				</div>

				
			</div>
		</div>
		<div class="header-search  mobileone d-sm-none  d-md-none d-lg-none d-xl-none d-xs-block" 
		style="/*! border: 1px solid; */height: 32px;
		width: 55%;margin-left: 10.25%;">
                        
                        
			<form action="/shop" class="input-wrapper {% if LANGUAGE_CODE == 'ar' %}rtl{% endif %}" style="border-bottom: 1px solid #222 !important;">
 				<button class="btn btn-search-mobile {% if LANGUAGE_CODE == 'ar' %}mobrightlen{% endif %}" type="submit">
					<i class="d-icon-search" style="scale: 0.9;"></i> 
				</button>
				<input placeholder="{% trans 'Rechercher par mot clés...' %}" type="text" class="search-input" name="search" autocomplete="off" required="" >
			</form>
		</div>
		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu " style="padding-left: 10px !important;">
					 

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8 mobile-menu-container"
					style="transform: translate(0);">
						<form action="/shop"   class="input-wrapper {% if LANGUAGE_CODE == 'ar' %}rtl{% endif %}">
 								<input style="height: 100%;" type="text" class="form-control" name="search" autocomplete="off" placeholder="{% trans 'Rechercher par mot clés...' %}" required="">
								<button class="btn btn-search" type="submit">
									<i class="d-icon-search"></i>
								</button>
							</form>
					</li>

					 
					
 
					<ul class="nav nav-tabs nav-fill  " role="tablist">
                    
                        <!-- <li class="nav-item" style="width: 100px;">
                            <a class="nav-link active"  style="text-decoration: none;">FEMME</a>
                        </li> -->
                    
				 
                        {% categories_mobile1 %}
						 
                </ul>
				 
					{% categories_mobile %}

				 
					<script>
 						Array.from(document.querySelectorAll(".nav-link-phone")).forEach(ele=>{
							ele.addEventListener("click",function(){
								const idtar=this.dataset.id;
								$(this).parent().siblings().children("a").removeClass("active")
								this.classList.add("active")
								
								 
								var targetelements = document.querySelectorAll("#"+idtar)
								$(".removblelist").css({"display":"none"})
								for(var eleindx=0;eleindx<targetelements.length;eleindx++){
									
									$(targetelements[eleindx]).css({"display":"block"})
								}
							})
						})
					</script>		 

					
					{% if request.user.is_authenticated %}
					<li class="item-menu-mobile">
					 
						<a href="{% url 'core:order-summary' %}">{% trans 'Checkout' %}
							<span class="badge badge-dark">
								{% if request.user.is_authenticated %}
								{{ request.user|cart_item_count }}

								{% else %}
								0
								{% endif %}
							</span>
						</a>
						 
					</li>
						{% if request.user.is_authenticated  %}
						<li class="item-menu-mobile">
							<a href="/profile">{% trans 'Mon Compte' %}</a>
						</li>
						{% else %}
						<li class="item-menu-mobile">
							<a href="/login">{% trans 'Login' %}</a>
						</li>
						<li class="item-menu-mobile">
							<a href="/register">Register</a>
						</li>
						{% endif %}
					{% else %}
					<li class="item-menu-mobile">
						<a href="/login">{% trans 'Login' %}</a>
					</li>
					<li>
						<a href="/register">Register</a>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
					</li>
					{% endif %}

				</ul>
				<script>
					Array.from(document.querySelectorAll("#menu_tel")).forEach(ele=>{
					ele.addEventListener("click",function(e){ e.preventDefault()
						ele.classList.toggle("active_catg")
						if(ele.classList.contains("active_catg")){
							$(ele.nextElementSibling).hide(300)
							ele.children[0].style.transform = "rotate(180deg)"
						}else{
							$(ele.nextElementSibling).show(300)
							ele.children[0].style.transform = "rotate(0deg)"
						}
						
					})
					})

					Array.from($(".subcat-name")).forEach(ele=>{
					ele.addEventListener("mouseout",function(){
						ele.nextElementSibling.style.display="none"
					})
})
				</script>
			</nav>
		</div>
	</header>

	 <script>
		Array.from(document.getElementsByClassName("btn-close")).forEach(ele=>{

			ele.addEventListener("click",function(e){
  e.preventDefault(); document.getElementsByClassName("header-wrapicon2")[1].children[0].click()
}) 

		})
		
	 </script>