{% load static %}
{% load cart_template_tags %}
{% load category_template_tags %}

<style>
	.topbar {
		background-color: white;
		color: black !important;
	}
	.topbar a:hover{
		color: black;
	}
</style>
<!-- Header -->
<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">
				 

				 
				<a href="/" class="logo">
					<img src="{% static 'images/matacor.png' %}" alt="">
				</a>
				<div class="topbar-child2" style="position: relative;
				background: #fbf5f5;
				border-radius:6px 6px 0 0;
				 ">
					<div style="width: 100%;height: 100%;">
						<form action="/shop">
							<input placeholder="Rechercher par mot clés..." 
							name="search" type="text" style="
						border-radius: 6px;
						padding: 6px !important;
						font-size: 14px;
						color: #333;
						background-color: #fbf5f5;
						outline: none;
						width: 100%;
						height: 100%;
						">
						</form>
						
 				<i class="fa-solid fa-magnifying-glass" style="
				 position: absolute;
				 right: 15px;
				 top: 11px;
				 cursor: pointer;
				 scale: 1.7;
				 color: #f27a1a;"></i>

				 <script>
					document.querySelector(".fa-magnifying-glass").addEventListener("click",function(){
						document.querySelector(".fa-magnifying-glass").previousElementSibling.submit()
					})
				 </script>
					</div>
					<div class="suggestions dis-none">
						
						<div class="search_list">
							<span>Recent Search</span>
							<ul style="width: 100%;padding: 0;">
								<li>fff</li>
								<li>dddf</li>
								<li>dfd</li>
								<li>dfdd</li>
								<li>sdds</li>
							</ul>
						</div>
						<div class="search_list_q">
							<ul style="width: 100%;padding: 0;">
								
								 
							</ul>
						</div>
						<div class="populaire">
							<span>Populaire Search</span>
							<div class="pop-search">
								<div class="pop-sea">
									sssff
								</div>
								 
							</div>
						</div>
						<div class="special-cat">
							<span>
								special categories for you
							</span>
							<div class="spec-cat">
								<div class="cat">
									sssff
								</div>
							</div>
						</div>
					</div>
					<script>
						
						window.addEventListener("click",function(e){
							classes_list=document.querySelector(".suggestions").classList
							 
							 
							
							ele=document.querySelector("input[name=search]")
							if(e.target == ele && classes_list.contains("dis-none") ){
								classes_list.remove("dis-none")
								

							}else{
								classes_list.add("dis-none")
							}
							 

							 
							
						})
						
						
						
					</script>
				</div>
				<div class="header-icons">

					 
					<a href="#" class="header-wrapicon1 dis-block">
						<img src="{% static 'images/icons/icon-header-01.png' %}" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide1"></span>

					<div class="header-wrapicon2">
						<img src="{% static 'images/icons/icon-header-02.png' %}" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown" style="overflow: hidden;
						top: -16px;
min-height: 110vh;">
							<ul class="header-cart-wrapitem">
								<div class="cart-header" style="display: flex;
								align-items: center;
								justify-content: space-between;
								border-bottom: 1px solid #e1e1e1;
								padding-bottom: 1.3rem;">
									<h4 class="cart-title">Panier</h4>
									<a href="#" class="btn btn-dark btn-link btn-icon-right btn-close">fermer<i class="d-icon-arrow-right"></i><span class="sr-only">Panier</span></a>
								</div>
								{% if request.user.is_authenticated %}
								{% orders request.user as orders_cart %}
								{% for order in orders_cart.order %}
								 
									<li class="header-cart-item">
										<div class="header-cart-item-img">
											<img src="{{order.item.image.url}}" alt="IMG">
										</div>

										<div class="header-cart-item-txt">
											<a href="#" class="header-cart-item-name">
												{{order.item.title}}
											</a>

											<span class="header-cart-item-info">
												{{order.quantity}} x {{order.item.price}} DZD
											</span>
										</div>
									</li>
								
									{% empty %}
									<p style="font-size: 1.4rem;
									font-weight: 700;
									color: #222;
									letter-spacing: -.0428em;
									line-height: 1;
									padding: 14px;
									padding-left: 14px;
									padding-left: 0;
									" class="mt-2">aucun Produit trouver</p>
									
									<div class="cart-action">
										<a style="width: 100%;" href="/shop" class="btn btn-dark"><span>Aller au Shopping</span></a>
									</div>
									{% endfor %}
								 
							</ul>
							{% if orders_cart.total != 0 %}
							<div class="header-cart-total">
								Total: {{orders_cart.total}}DZD
							</div>
							<div class="cart-action">
								<a style="width: 100%;" href="/shop" class="btn btn-dark"><span>Checkout</span></a>
							</div>
							{% endif %}
							 

							{% endif %}	 
						</div>
					</div>
				</div>
			</div>

			<div class="wrap_header">
				<!-- Logo -->
				

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="/">Home</a>

							</li>

							<li>
								<a href="/shop/">Shop</a>
							</li>

							<!-- {% categories %} -->
							{%  genders %}
							{% if request.user.is_authenticated %}
							<li>
								<a href="{% url 'core:order-summary' %}">Cart<span class="badge badge-dark">{{ request.user|cart_item_count }}</span></a>
							</li>
							<li>
								<a href="{% url 'account_logout' %}">Logout</a>
							</li>
							{% else %}
							<li>
								<a href="/login">Login</a>
								<ul class="sub_menu">
									<li><a href="/login">Login</a></li>
									<li><a href="/register ">SignUp</a></li>
								</ul>
							</li>
							{% endif %}
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="/" class="logo-mobile">
				<img src="{% static 'images/matacor.png' %}" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					<a href="#" class="header-wrapicon1 dis-block">
						<img src="{% static 'images/icons/icon-header-01.png' %}" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide2"></span>

					<div class="header-wrapicon2">
						<img src="{% static 'images/icons/icon-header-02.png' %}" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>

						<!-- Header cart noti -->
						<div   class="header-cart header-dropdown mobile" style="display: none;">
							
							<ul class="header-cart-wrapitem">
								<div class="cart-header" style="display: flex;
								align-items: center;
								justify-content: space-between;
								border-bottom: 1px solid #e1e1e1;
								padding-bottom: 1.3rem;">
									<h4 class="cart-title">Panier</h4>
									<a href="#" class="btn btn-dark btn-link btn-icon-right btn-close">fermer<i class="d-icon-arrow-right"></i><span class="sr-only">Panier</span></a>
								</div>
								{% if request.user.is_authenticated %}
								{% orders request.user as orders_cart %}
								{% for order in orders_cart.order %}
								 
									<li class="header-cart-item">
										<div class="header-cart-item-img">
											<img src="{{order.item.image.url}}" alt="IMG">
										</div>

										<div class="header-cart-item-txt">
											<a href="#" class="header-cart-item-name">
												{{order.item.title}}
											</a>

											<span class="header-cart-item-info">
												{{order.quantity}} x {{order.item.price}} DZD
											</span>
										</div>
									</li>
								{% empty %}
								<p style="font-size: 1.4rem;
								font-weight: 700;
								color: #222;
								letter-spacing: -.0428em;
								line-height: 1;
								padding: 14px;
								padding-left: 14px;
								padding-left: 0;
								" class="mt-2">aucun Produit trouver</p>
								
								<div class="cart-action">
									<a style="width: 100%;" href="/shop" class="btn btn-dark"><span>Aller au Shopping</span></a>
								</div>
								{% endfor %}

								
							</ul>

							{% if orders_cart.total != 0 %}
							<div class="header-cart-total">
								Total: {{orders_cart.total}}DZD
							</div>
							<div class="cart-action">
								<a style="width: 100%;" href="/shop" class="btn btn-dark"><span>Checkout</span></a>
							</div>
							{% endif %}

							<!-- <div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									 
									<a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									 
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div> -->
							{% endif %}
						</div>
					</div>
				</div>

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					 

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
							<span class="topbar-email">
								flow-in@example.com
							</span>

							<div class="topbar-language rs1-select2">
								<select class="selection-1" name="time">
									<option>USD</option>
									<option>EUR</option>
								</select>
							</div>
						</div>
					</li>

					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
							<a href="#" class="topbar-social-item fa fa-facebook"></a>
							<a href="#" class="topbar-social-item fa fa-instagram"></a>
							<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
							<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
							<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
						</div>
					</li>
					

					<li class="item-menu-mobile">
						<a href="/">Home</a>
					</li>

					<li class="item-menu-mobile">
						<a href="/shop">Shop</a>
					</li>

					{% categories_mobile %}

					{% if request.user.is_authenticated %}
					<li class="item-menu-mobile">
						<a href="{% url 'core:order-summary' %}">Cart<span class="badge badge-dark">{{ request.user|cart_item_count }}</span></a>
					</li>
					<li class="item-menu-mobile">
						<a href="{% url 'account_logout' %}">Logout</a>
					</li>
					{% else %}
					<li class="item-menu-mobile">
						<a href="#">Login</a>
						<ul class="sub-menu">
							<li><a href="{% url 'account_login' %}">Login</a></li>
							<li><a href="{% url 'account_signup' %}">SignUp</a></li>
						</ul>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
					</li>
					{% endif %}

				</ul>
			</nav>
		</div>
	</header>

	 