{% extends 'base.html' %} 
{% load static %} 
{% block content %}
{% load category_template_tags %}

<div class="container" style="min-height: 130vh;
padding: 16px;">
  <div class="row">
    <!-- <div class="col-lg-12">
      <h2 style="padding: 15px;">Order Summary</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="text-align: center;">#</th>
            <th scope="col">Product Image</th>
            <th scope="col">Product Name</th>
            
            <th scope="col">Price</th>
            <th scope="col">Qty</th>
            <th scope="col">Total Price</th>
           
          </tr>
        </thead>
        <tbody>
          {% for order_item in object.items.all %}
          <tr>
            <th scope="row" style="text-align: center;">{{ forloop.counter }}</th>
            <td class="tdimg">
			<img  src="{{ order_item.item.image.url }}" style="width: 60px;"> 
            </td>
            <td>{{ order_item.item.title }}</td>
            <td>{{ order_item.item.price }}</td>
            <td class="qty">
            	<a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-3"></i></a>
            	{{ order_item.quantity }}
            	<a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-3"></i></a>
            </td>
            <td>
              {% if order_item.item.discount_price %}
                  ${{ order_item.get_total_discount_item_price}}
                  {% if order_item.get_amount_saved !=  None  %}
                  <span class="badge badge-primary">  Saving ${{ order_item.get_amount_saved|floatformat:1 }}</span>
                  {% endif %}
              {% else %}
                  {{ order_item.get_total_item_price}}DZD
              {% endif %}
              <a style="color: red" href="{% url 'core:remove-from-cart' order_item.item.slug %}">
              	<i class="fas fa-trash float-right"></i>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
			<td colspan="5">Your cart is empty</td>
          </tr>
        </tbody>
        {% endfor %}
        {% if object.coupon %}
        <tr>
          <td colspan="5"><b>Coupon : </b></td>
          <td>- ${{ object.coupon.amount }}</td>
        </tr>
        {% endif%}
        {% if object.get_total %}
        <tr>
        	<td colspan="5"><b>Order Total : </b></td>
        	<td><b>${{ object.get_total }}</b></td>
        </tr>
        <tr class="btns_check">
        	<td colspan="5" >
        		<a href="/checkout" class="btn btn-warning float-right ml-2">Checkout</a>
        		<a href="/" class="btn btn-primary float-right">Continue Shopping</a>

        	</td>
        </tr>
        {% endif %}
      </table>
    </div> -->
    <div class="page-content pt-7 pb-10">
      <div class="row">
        
      </div>
      <div class="step-by pr-4 pl-4">
                  <h3 class="title title-simple title-step active"><a href="#">1. Panier</a></h3>
        <h3 class="title title-simple title-step"><a href="/fr/profile/">2. Commande confirmée</a></h3>
      </div>
      <div class="container mt-7 mb-2">
        <div class="row">
          <div class="col-lg-8 col-md-12 pr-lg-4">
            <table class="shop-table cart-table">
              <thead>
                <tr>
                  <th><span>Produit</span></th>
                  <th></th>
                  <th><span>Prix</span></th>
                  <th><span>Quantité</span></th>
                  <th>Sous-Total</th>
                </tr>
              </thead>
              <tbody>
                                  
                {% for order_item in object.all %}
                    <tr>
                      
                      <td class="product-thumbnail">
                        <figure>
                          <a href="{{ order_item.item.image.url }}">
                            <img src="{{ order_item.item.image.url }}" alt="product" width="100" height="100">
                          </a>
                        </figure>
                      </td>
                      <td class="product-name">
                        <div class="product-name-section">
                          <a href="product/{{order_item.item.slug}}">
                            {{ order_item.item.title }}
                          </a>
                          
                            <p class="text-success font-weight-light">Taille: {{order_item.size}}</p>
                          
                        </div>
                      </td>
                      <td class="product-subtotal">
                        <span class="amount">{{ order_item.item.price }} </span>		
                      </td>
                      <td class="product-quantity ">
                         
                          
                          <div class="input-group">
                          <a data-size="{{order_item.size}}" href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}">
                            <button   data-size="{{order_item.size}}"  class="btn-num-update-quantity-down d-icon-minus"></button>
                          </a>
                              <input type="number" name="quantity" class="quantity form-control" value="{{ order_item.quantity }}" required="">
                            <a href="{% url 'core:add-to-cart' order_item.item.slug %}">
                              <button class="btn-num-update-quantity-up d-icon-plus" data-size="{{order_item.size}}"></button>
                            </a>
                          </div>     
                                  
                      </td>
                      <td class="product-price">
                        <span class="amount">
                        {% if order_item.item.discount_price %}
                          ${{ order_item.get_total_discount_item_price}}
                          {% if order_item.get_amount_saved !=  None  %}
                          <span class="badge badge-primary">  Saving ${{ order_item.get_amount_saved|floatformat:1 }}</span>
                          {% endif %}
                      {% else %}
                          {{ order_item.get_total_item_price}}DZD
                      {% endif %}</span>
                      </td>
                      <td class="product-close">
                        <a data-size="{{order_item.size}}"  class="removedel" style="color: red" href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                          <i class="fas fa-trash float-right"></i>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                                  
              </tbody>
            </table>
            <h4 class="title coupon-title text-uppercase ls-m mt-3">Coupon de réduction</h4>
            
              <form action="/" method="post">
                {% csrf_token %}
                 <div class="check-coupon-box d-flex">
                  <input type="text" name="code" class="input-text form-control text-grey ls-m mr-4" id="coupon_code" value="" placeholder="code coupon / carte cadeau">
                  <button type="submit" class="btn btn-dark btn-rounded btn-outline">Appliquer</button>
                </div>
                 
              </form>
            
        <form id="order_form" enctype="multipart/form-data"   class="form" method="post"  >
              {% csrf_token %}
               <h3 class="title title-simple text-left text-uppercase mt-3">Details de commande</h3>
              <div class="row">
                <div class="col-xs-6">
                  <label>Nom complet*  </label>
                  {{form.fullname}}
                </div>
                <div class="col-xs-6">
                  <label>Téléphone*</label>
                  
                    {{form.phone}}
                </div>
                <div class="col-xs-6">
                  <label>e-mail</label>
                  {{form.email}}
                </div>
                <div class="col-xs-6">
                  <label>adresse</label>
                    {{form.address}}
                     
                 </div>
                 {{form.wilayaship}}
                 {{form.communship}}
                 {{form.delivery_type}}
                 {{form.delivery_price}}
                <h2 class="title title-simple text-uppercase text-left">information additionnel</h2>
                <textarea class="form-control pb-2 pt-2 mb-0" cols="30" rows="5" placeholder="Notes de commande  (Optionel)"></textarea>
                <br>
                {{form.recu_img}}
                <!-- <input name="recu_img" hidden="true" type="file" class="form-control-file text-primary font-weight-bold" id="inputFile" accept="image/*" onchange="readUrl(this)" data-title="Drag and drop a file"> -->
                <button type="button" class="btn btn-success btn-block recu-cap" 
                onclick="document.getElementById('inputFile').click()">
                <img src="{% static 'images/icon_image.png' %}" alt=""> Captutré le reçu ccp
              </button>
              <button type="submit" class="d-none d d-lg-block btn btn-success btn-block btn-rounded btn-checkout mt-3">Valider ma commande</button>
  
              <p class="font-weight-bold"> 
                NB: votre commande sera validée une fois le reçu de paiement envoyé.  
              </p>
                <p class="font-weight-bold"> 
                  Numero du ccp: {{contact.ccp}}
                {{contact.name_owner}}
                </p>
              </div>
            <script>
              function readUrl(input) {
  if (input.files && input.files[0]) {
    let reader = new FileReader();
    reader.onload = (e) => {
      let imgData = e.target.result;
      let imgName = input.files[0].name;
      input.setAttribute("data-title", imgName);
     
    };
    reader.readAsDataURL(input.files[0]);
  }
}
            </script>
          </form>
        </div>
          <aside class="col-lg-4 sticky-sidebar-wrapper">
            <div class="sticky-sidebar" data-sticky-options="{'bottom': 20}">
              <div class="summary mb-4">
                <h3 class="summary-title text-left">Total Panier</h3>
                <table class="shipping">
                  
                  <tbody><tr class="summary-subtotal">
                    <td>
                      <h4 class="summary-subtitle">Sous-Total</h4>
                    </td>
                    <td>
                      <p class="summary-subtotal-price"> </p>
                      
                    </td>												
                  </tr>
                  <tr class="sumnary-shipping shipping-row-last">
                    <td id="yourOrder" class="your-order" colspan="2">
                      <h4 class="summary-subtitle">Calcul de livraison</h4>
                      <select id="id_delivery" class="form-control trigershipping" name="delivery">
                                                  <option value="DOM">LIVRAISON A DOMICILE</option>
                                                  <option value="REL">LIVRAISON POINT DE RELAIS</option>
                                                  <option value="NON">SANS LIVRAISON</option>
                      </select>
                    </td>
                  </tr>
                </tbody></table>
                <div class="shipping-address">
                  <label>Livraison à </label>
                  <div class="select-box">
                    <select id="wilayaId" name="wilaya" class="form-control trigershipping" hx-get="/fr/load-communes" hx-target="#Commune" hx-swap="innerHtml">
                      <option>Selectionner une wilaya</option>


                      
                      
                    </select>
                                      </div>
                                      <div class="select-box">
                    <select class="form-control" name="commune" id="Commune">
                      <option>------</option>
                    </select>
                  </div>
                </div>
                
                   <strong class="product-quantity">Livraison</strong> 
                  <span class="amount" id="deliveryCost"> 500 </span>   
                
                <table class="total">
                  <tbody><tr class="summary-subtotal">
                    <td>
                      <h4 class="summary-subtitle">Total </h4>
                    </td>
                    <td>
                      <p id="order_total" class="summary-total-price ls-s"  >
                        {% if request.user.is_authenticated %}
                        {% orders request.user as orders_cart %}
                        {{orders_cart.total}}
                        {% else %}
                        0
                        {% endif %}
                        DA
                      
                      </p>
                        
                    </td>												
                  </tr>
                </tbody></table>
                <button  type="submit" class="btnwithoutform btn btn-success btn-block btn-rounded btn-checkout">Valider ma commande</button>
                <script>
                  $(".btnwithoutform").on("click",function(){
                    $("#order_form").submit()
                  })
                </script>
              </div>
              <div class="cart-actions mb-6 pt-4">
                <a href="/shop" class="btn btn-block btn-dark btn-md btn-rounded btn-icon-left ml-4 mr-4 mb-4"><i class="d-icon-arrow-left"></i>Retourner à la boutique</a>
              </div>
            </div>
          </aside>
        
        </div>
      </div>
    </div>
  </div>
</div>
 

<script>

document.getElementById("id_delivery").addEventListener("change",function(){
  document.querySelector("input[name=delivery_type]").value = this.value
  fetch('../static/js/Wilaya_Of_Algeria.json', {
        headers: {
          'Content-Type': 'application/json',
        },
      })
      .then(response => response.json())
      .then(jsonData => {
         
          
            var wilaya_id = document.getElementById("wilayaId").value
            var typedel = document.getElementById("id_delivery").value
            document.querySelector("input[name=delivery_price]").value = jsonData[wilaya_id-1][typedel]
            document.getElementById("deliveryCost").innerHTML  =  jsonData[wilaya_id-1][typedel]
            // Do something with the JSON data here
         
        
      })
      .catch(error => console.error("Error fetching JSON data.", error));
  })

document.getElementById("wilayaId").addEventListener("change",function(){
  document.querySelector("input[name=wilayaship]").value = this.options[this.selectedIndex].dataset.valu
  fetch('../static/js/Wilaya_Of_Algeria.json', {
        headers: {
          'Content-Type': 'application/json',
        },
      })
      .then(response => response.json())
      .then(jsonData => {
         
          
            var wilaya_id = document.getElementById("wilayaId").value
            var typedel = document.getElementById("id_delivery").value
        
            document.getElementById("deliveryCost").innerHTML  =  jsonData[wilaya_id-1][typedel]
            document.querySelector("input[name=delivery_price]").value = jsonData[wilaya_id-1][typedel]
            // Do something with the JSON data here
         
        
      })
      .catch(error => console.error("Error fetching JSON data.", error));
  })


document.getElementById("Commune").addEventListener("change",function(){
    document.querySelector("input[name=communship]").value = this.options[this.selectedIndex].dataset.valu;
  })


  var oo =document.querySelectorAll(".btn-num-update-quantity-up")
  var ooo =document.querySelectorAll(".removedel") 
  var oooo =document.querySelectorAll(".btn-num-update-quantity-down") 

  Array.from(ooo).forEach(el=>{
    el.addEventListener("click",function(e){
      e.preventDefault()
      var sizetarget_ =el.dataset.size
      var lastSlashIndex = el.href.lastIndexOf('/');
      el.href=el.href.slice(0, lastSlashIndex) + '?search='+sizetarget_
      window.location =   el.href
    })
  })

  Array.from(oooo).forEach(el=>{
    el.parentElement.addEventListener("click",function(e){
      e.preventDefault()
      var sizetarget_ =el.dataset.size
      var lastSlashIndex = el.parentElement.href.lastIndexOf('/');
      el.parentElement.href=el.parentElement.href.slice(0, lastSlashIndex) + '?search='+sizetarget_
       window.location =   el.parentElement.href
    })
  })

  Array.from(oo).forEach(el=>{
    el.parentElement.addEventListener("click",function(e){
      e.preventDefault()
      var sizetarget_ =el.dataset.size
      const lastSlashIndex = el.parentElement.href.lastIndexOf('/');
      el.parentElement.href=el.parentElement.href.slice(0, lastSlashIndex) + '?search='+sizetarget_
      window.location =   el.parentElement.href
    })
  })
</script>
{% endblock content %}


