{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load custom_filters %}
{% block content %}

	<!-- breadcrumb -->
	<div class="bread-crumb bgwhite flex-w p-l-52 p-r-15 p-t-30 p-l-15-sm">
		<a href="/">
			<i class="d-icon-home chemin"></i>
			<i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
		</a>
		<a href="/" class="s-text16">
			Home
			<i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
		</a>

		<a href="{% url 'core:category' object.category.slug %}" class="s-text16">
			{{ object.category }}
			<i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
		</a>

		<span class="s-text17">
			{{object.title}}
		</span>
	</div>

	<!-- Product Detail -->
	<div class="container bgwhite p-t-35 p-b-80">
		<div class="flex-w flex-sb">
			<div class="w-size13 p-t-30 respon5">
				<div class="wrap-slick3 flex-sb flex-w">
					
					<div class="product-thumbs-wrap breadcrumb-lg d-none d-lg-block d-xl-none">
						<div class="product-thumbs " style="top: 0px;" >

							<div class="product-thumb ">
								<img src="{{ object.image.url }}" loading="lazy" alt="product thumbnail" width="109" height="122">
							</div>
							{% for image in images %}
							<div class="product-thumb ">
								<img src="{{ image.image.url }}" loading="lazy" alt="product thumbnail" width="109" height="122">
							</div>
							{% endfor %}
						</div>
						<button class="thumb-up disabled"><i class="fas fa-chevron-left"></i></button>
						<button class="thumb-down"><i class="fas fa-chevron-right"></i></button>
						<script>
							

							var thumdown = document.getElementsByClassName("thumb-down")[0]

							document.getElementsByClassName("thumb-down")[0].addEventListener("click",function(){
								var childrennum= document.getElementsByClassName("product-thumbs")[0].children.length
								var topval= document.getElementsByClassName("product-thumbs")[0].style.top.replace("px","")
								if(125*(childrennum-4)>parseInt(topval)*(-1)){
									document.getElementsByClassName("product-thumbs")[0].style.top = -100 + parseInt(topval) +"px"
									var thumup = document.getElementsByClassName("thumb-up")[0]

									if(parseInt(topval) -100 < 0){
									thumup.classList.remove("disabled")

										}else{
											thumup.classList.add("disabled")
										}
								}else{
									thumdown.classList.add("disabled")
								}
								
								
									
								
							})
							var thumup = document.getElementsByClassName("thumb-up")[0]


							document.getElementsByClassName("thumb-up")[0].addEventListener("click",function(){
								var topval= document.getElementsByClassName("product-thumbs")[0].style.top.replace("px","")
								var childrennum= document.getElementsByClassName("product-thumbs")[0].children.length
								var thumdown = document.getElementsByClassName("thumb-down")[0]

								if(parseInt(topval) < 0){
									document.getElementsByClassName("product-thumbs")[0].style.top = +100 + parseInt(topval) +"px"
									
									if(parseInt(topval) -100 < 0){
										thumdown.classList.remove("disabled")
										
									}else{
										thumdown.classList.add("disabled")
									}
								}else{
									thumup.classList.add("disabled")
								}
								
								
							})


							
						</script>
						
					</div>

					<div class="slick3">
						<div class="item-slick3" data-thumb="{{ object.image.url }}">
							<div id="img-container" class="wrap-pic-w">
								<div id="lens"></div>	
 								<img id="featured" src="{{ object.image.url }}" alt="{{ object.title }}">

									 							 
							</div>
						</div>
					{% for image in images %}
						
					<div class="item-slick3" data-thumb="{{image.image.url}}">
						<div class="wrap-pic-w">
							<img src="{{image.image.url}}" alt="IMG-PRODUCT">
						</div>
					</div>

					{% endfor %}

						 
					</div>
				</div>
			</div>

			<!-- <div class="w-size14 p-t-30 respon5">
				<h4 class="product-detail-name m-text16 p-b-13">
					{{object.title}}
				</h4>

				
				{% if object.discount_price %}
								<span class="block2-oldprice m-text7 p-r-5" style="font-size: 1.5rem;">
									${{ object.price }}
								</span>

								<span class="block2-newprice m-text8 p-r-5" style="font-size: 1.5rem;">
									${{ object.discount_price }}
								</span>
								{% else %}
								<span class="m-text17">
									${{object.price}}
								</span>
								{% endif %}

				<p class="s-text8 p-t-10">
					{{ object.description_short }}
				</p>

				<!--  -->
				<div class="product-details" style="width: 58%;">
						
						
							
									
						
						
					<h1 class="product-name name-title ">{{object.title}}</h1>

					
					<div class="product-price price-detail d-none d-lg-block d-xl-none">
						{% if object.price > object.discount_price %}
										<del class="old-price old-price-block">&nbsp;{{object.price}} DA</del>
										 &nbsp; 
										<ins class="new-price price-block">{{object.discount_price}}DA</ins>
										{% else %}

										<ins class="new-price price-block">{{object.price}}DA</ins>
						{% endif %}
					</div> 

					<div class="ratings-container price-detai">
						 
						<div class="ratings-full">
							<style>
								.ratings{
									width: {%  widthratio object.rating  0.05 1 %}%;
								}
							</style>
							<span class="ratings " ></span>
							<span class="tooltiptext tooltip-top">0</span>
						</div>
						<a href="#product-tab-reviews" class="link-to-tab rating-reviews">( {{object.opinion_num|floatformat:0}} Avis )</a>
						
						<img src="/static/images/VSC.svg" class="head-heart" style="width:30px; height:30px;">
						<a href="#product-tab-reviews" class="link-to-tab rating-reviews">{{object.wishlist_num|floatformat:0}}</a>
					</div>
					
					
					
					{% if object.has_coupon and object.show_coupon %}
						<div class="owl-stage-outer">
							<div class="owl-item active" style="width: 280px; margin-right: 20px;">
								<div class="icon-box  icon-box-side flex-column coupon-box">
										<div class="icon-box-content mb-1 text-center">
											<div class="row">
												<div class="col-3">
													<i class="icon-box-icon  d-icon-card"></i> 
												</div>
												<div class="col-8">
													<h4 class="icon-box-title text-uppercase">{{object.price_after_coupon|mul:100|div:object.price|sub:100|floatformat:1}}% Tu viens d'arriver ? 
	Profite de {{object.price_after_coupon|mul:100|div:object.price|sub:100|mul:-1|floatformat:1}}% de réduction</h4>
												</div>
											</div>
											<p style="color:#000;">avec le code :  <span style="font-weight:600;"> {{object.coupon_code}} </span></p>
										</div>
								</div>
							</div> 
						</div> 
					{% endif %}
					

					 


							{% if colors_item|length > 1 %}
								<p> Couleurs : </p>
								 

									
											
												
								 
									<div class="variants-parent" style="width: {{colors_item|length|mul:50|add:10|mul:2}}px;">
									{% for item in colors_item %}
									
											 
										 
										<a class="variant" >
											<!-- {% for tt in images %}
												{% if tt.item.title == item.title %}
												<input type="hidden" data-images="{{tt.image.url}}"  name="">
												{% endif %}
											{% endfor %} -->
											<img draggable="false" style="width: 50px !important; height: 100% !important;" class="color variant-owl" src="{{item.image.url}}"
											 alt=" " data-slug="{{item.slug}}" data-current="{{object.slug}}"  srcset="" loading="lazy" width="80">
										</a>
										 
  
									 
									{% endfor %}
									</div>
								
							{% endif %}
							<script>

								 // Get all the anchor tags with the class "item-link"
    const itemLinks = document.querySelectorAll('.variant');

// Add a click event listener to each anchor tag
itemLinks.forEach(itemLink => {
	itemLink.addEventListener('click', (event) => {

		var slug_clicked = event.target.dataset.slug
		var slug_current = event.target.dataset.current
		
		var new_pth = window.location.pathname.replace(slug_current,slug_clicked)
		
		window.location.pathname = new_pth
		// Prevent the default anchor click behavior (optional)
		event.preventDefault();

		// Get the image element inside the clicked anchor tag
		const clickedImage = itemLink.querySelector('.variant-owl');

		// Remove the 'active' class from all images
		const allImages = document.querySelectorAll('.variant-owl');
		allImages.forEach(image => {
			image.classList.remove('variant-owl-active');
		});

		// Add the 'active' class to the clicked image
		clickedImage.classList.add('variant-owl-active');
	});
});

							
							</script>
							 
								<div class="product-form product-size ">
									<div class="product-form-group product-cen">
										<div class="product-variations">
											<div class="d-flex justify-content-between">
												<label style="font-size:16px">Taille :</label>  <br>
												
											</div>	 
											
											
												
											
											<script>
												var mysize="{{object.size_exist}}"
												var splitedsize= mysize.split(",")
												var sizes_not = "{{object.size_not_exist}}"
												var splitedsizenot= sizes_not.split(",")
												var stickysizes=document.getElementById("sticky_sizes")

												for(var append_size=0; append_size < splitedsize.length;append_size++){
													document.write(
														`<div class="d-inline-block text-center dot-wrapper taille__wrapper mr-2 mr-lg-0">
														<input id="stock-${append_size+1}" class="variant-input visually-hidden" type="radio" name="atribute" required="" value="${append_size+1}">
														<label class="variant__button__label" for="stock-${append_size+1}">
															${splitedsize[append_size]} 
														</label> 
														 
														</div>`
													)
 												}

												if(sizes_not != "" && sizes_not != "None" && sizes_not != "nan"){
													for(var append_size1=0; append_size1 < splitedsizenot.length;append_size1++){
													document.write(
														`<div class="d-inline-block text-center dot-wrapper taille__wrapper mr-2 mr-lg-0 barred">
														<input  class="variant-input visually-hidden" type="radio" name="atribute" required="" >
														<label class="variant__button__label"  style="color:#d5b2b2a8  !important">
															${splitedsizenot[append_size1]} 
														</label> 
														<div class="notice-alarm"><div class="i-notice-alarm"></div></div>
														
														</div>`
													)
												}
												}
												
												
											</script>  
										
										
												
											
										</div>
									</div>
								</div>
								
								  
								
						
							<div class="product-form product-qty d-md-block d-lg-block d-xl-block d-xs-none">
							
								<label style="display: none;">Quantité :</label>
								<div class="product-form-group product-cen">
									<div class="input-group" style="display: none;">
										<button class="btn-num-update-product-down d-icon-minus"></button>
											<input type="number" name="quantity" class="quantity form-control" value="1" required="">
										<button class="btn-num-update-product-up d-icon-plus"></button>
									</div>
									<a id="submit_to" style="width: 76%;" href="/add-to-cart/{{object.slug}}?name=dd">
										<button  style="width: 100%;" type="submit" class="btn-product btn-cart"><i class="d-icon-bag" style="color:#fff;"></i>Ajouter Au Panier</button> 
									</a>
									
								<a class="sticky-wishlist-th d-md-none d-lg-block d-xl-block  d-xs-none" 
									id="wishHeart" 
									href="/wishlist-add/{{object.slug}}">
									 
									{% if whished %}
									<img src="/static/images/PSC.svg">
									{% else %}
									<img src="/static/images/VSC.svg">

									{% endif %}
								</a>
									
									
								 </div> 
							</div>							
					</form>
					<div class="mobile_cart"  >
						<a id="submit_to" style="width: 76%;" href="/add-to-cart/{{object.slug}}?name=dd">
																<button style="width: 100%;" type="submit" class="btn-product btn-cart"><i class="d-icon-bag" style="color:#fff;"></i>Ajouter Au Panier</button> 
															</a>
						
						<a class="sticky-wishlist-th d-md-none d-lg-block d-xl-block  d-xs-none" id="wishHeart" 
						href="/wishlist-add/{{object.slug}}" 
						style="display: block !important;height: 100%;height: 40px;">
						{% if whished %}
						<img src="/static/images/PSC.svg" style="height: 100%"  >
						{% else %}
						<img src="/static/images/VSC.svg" style="height: 100%;">

						{% endif %}
					
					</a>
									
						</div>
						<hr class="product-divider  mb-3 hr-product">
						<div class="product-footer ">
							<div class="social-links mr-4 ">
								<p> <span style="color:#000"> Délais de livraison :</span> {{object.shipping}} </p>
								
								
							</div> 
							
							
							
							
							
							<div class="product-action">
								
								
								
							</div>
						</div>
				</div>
					<div class="sticky-content-wrapper" style="height: 67px;">
						<div   class="sticky-content  product-sticky-content navWrap fixed" 
							style="padding-top: 4px;opacity: 0;  height: 67px;top: -67px; margin-top: 0px; z-index: 1060;">
							 
							<input type="hidden" name="csrfmiddlewaretoken" value="AVg2LaTGIt7mBFL7aXM68glmYxpnptul1hepXqZ0c8RwmGFt8WR0enfQubiNYq9O">
							<div class="container">  
								<div class="sticky-product-details d-sm-block">
										<figure class="product-image">
											<img src="{{ object.image.url }}" alt="Manteau Beige en Laine image" class="sticky-image mr-3" loading="lazy">
										</figure>
									<div class="title-sticky-div">
										<h4 class="product-title sticky-title"><a href="#">{{object.title}}</a></h4>
										<div class="product-info sticky-p-info">
											<div class="product-price">
												{% if object.discount_price > object.price%}
												<ins class="new-price new-price-sticky">{{object.price}} DA</ins>
												
												<del class="old-price-sticky"> &nbsp;1 DA</del>
											
												{% else %}
												<ins class="new-price new-price-sticky">{{object.price}} DA</ins>
												

												{% endif %}
											</div>
										</div>
									</div>
								</div>
								<div class="product-form product-qty">
									<div class="product-form-group">
										<div class="product-form product-size sticky_div" style="margin-left:55rem;padding-right: 10px;">
											
												<div class="product-form product-size d-flex justify-content-end" style="margin-right: 8px;">
													<div class="select-box sticky-selct-box">
														<select name="atribute" value="" class="form-control" id="sticky_sizes" required="required">
															<option value="">Taille:</option>
															
														<script>
															var mysize="{{object.size_exist}}"
															var splitedsize= mysize.split(",")
															 var stickysizes=document.getElementById("sticky_sizes")
			
															for(var append_size=0; append_size < splitedsize.length;append_size++){
																document.write(
																	`<option id="stock-1" name="atribute" value="${splitedsize[append_size]}">${splitedsize[append_size]}</option>`
																)
																 
															}
														</script>
															
															 
															
														</select>
													</div>
												</div> 
												
											<input type="number" style="display: none;" name="quantity" class="quantity form-control display-none" value="1" required="">
												<a id="submit_to" href="/add-to-cart/{{object.slug}}?name=dd">
													<button type="submit" class="btn-product btn-cart sticky-bag"><i class="d-icon-bag" style="color:#fff;"></i>Ajouter Au Panier</button>
												</a>
											<a class="sticky-wishlist-th" id="wishHeart"
											 href="/wishlist-add/{{object.slug}}" 
											 >
											 {% if whished %}
											 <img src="/static/images/PSC.svg">
											 {% else %}
											 <img src="/static/images/VSC.svg">
		 
											 {% endif %}
											
											</a>
										</div>
									</div>
								</div>
							</div>
						 
						</div>
					</div>
				<br>
				 
				 

			 

				<div style="width: 100%;
				margin: auto;
				padding: 15px;margin-top: 100px;"
				 class="wrap-dropdown-content bo7 p-t-15 p-b-14">
					<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Additional information
						<i class="down-mark fs-12 color1 fa fa-minus dis-none display-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
					</h5>

					<div class="dropdown-content dis-none p-t-15 p-b-23">
						<!-- <p class="s-text8">
							{{object.description_long}}
						</p> -->
						<ul class="detail-attr-container">
							<!-- {% for key, val in details.items %}
							<li class="detail-attr-item">
								<span>{{key}}</span> 
								<span><b>{{val}}</b></span>
							</li>
							{% endfor %} -->

						 
							{% for key, value in details.items %}
							 
									 
									{% if value != nan %}
										<li  class="detail-attr-item">
											<span>{{key}}</span> 
											<span><b id="{{ key|slugify }}">{{value}}</b></span>
										</li>
										<script>
											var element = document.getElementById("{{ key|slugify }}");
											if (element.innerHTML == "nan") {
												console.log(element.parentElement.parentElement.remove())
											}
										</script>
									{% endif %}
							 
							{% endfor %}
						 
						</ul>
					</div>
				</div>

				<div style="width: 100%;
				margin: auto;
				padding: 15px;"
				 class="wrap-dropdown-content bo7 p-t-15 p-b-14">
					<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Reviews (0)
						<i class="down-mark fs-12 color1 fa fa-minus dis-none display-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
					</h5>

					<div class="dropdown-content dis-none p-t-15 p-b-23">
						<p class="s-text8">
							
						</p>
					</div>
				</div>
			</div> 
		</div>
	</div>


	<!-- Relate Product -->
	<section class="relateproduct bgwhite p-t-45 p-b-138">
		<div class="container">
			<div class="sec-title p-b-60">
				<h3 class="m-text5 t-center">
					Related Products
				</h3>
			</div>
			<div class="owl-carousel owl-theme owl-nav-inner mb-10 pb-6 appear-animate owl-loaded owl-drag fadeIn appear-animation-visible" data-animation-options="{'name': 'fadeIn'}" data-owl-options="{
				'nav': true,
				'dots': true,
				'margin': 10,
				'responsive': {
					'0': {
						'items': 4
					},
					'576': {
						'items': 4
					},
					'768': {
						'items': 4
					},
					'992': {
						'items': 4
					},
					'1200': {
						'items': 5
					}
				}
			}" style="animation-duration: 1.2s;">
				
			<script>
				$(document).ready(function(){
				  $(".owl-carousel").owlCarousel({
					items: 4, // Display 4 items in a line
					loop: false,
					margin: 10,
					nav: true,
					dots: false,
					responsive: {
					  0: {
						items: 2 // Display 1 item on smaller screens
					  },
					  600: {
						items: 2 // Display 2 items on screens wider than 600px
					  },
					  1000: {
						items: 4 // Display 4 items on screens wider than 1000px
					  }
					}
				  });
				});
			  </script>
			<div class="owl-stage-outer">
				<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); 
				transition: all 3s ease 0s; width: 5814px;">
			{% for new_item in relate_pros %}
			
			<div class="owl-item new_item{% if forloop.counter <= 4 %} active{% endif %}" style="width: 247px !important; margin-right: 20px;">
				<div class="product product-classic">
				<figure class="product-media">
				<a href="/product/{{new_item.slug}}">
					
						<img style="width: 100%; height: 100%;" src={{new_item.image.url}} loading="lazy" alt="Manteau Noir  Oversize en Laine  image" width="300" height="338">
					
				</a>
			<div class="product-action-vertical">
	 
			<a id="wishHeart" hx-get="/fr/wishlistadd/873" hx-target="this" hx-swap="outerHTML" class="btn-product-icon btn-wishlist" title="Ajouter à la liste de souhait">
				<img src="/static/images/VSC.svg">
			</a>		
			</div>

		 

<div class="product-label-group">
	
		
		<label class="product-label label-top">{{new_item.get_label_display }}</label>
	 
</div>  
</figure>
<div class="product-details">
<h3 class="product-name">
	<a href="/product/{{new_item.slug}}">{{new_item.title}} </a>
</h3>
<div class="product-price d-flex justify-content-between">
	<div>
		
		{% if new_item.price > new_item.discount_price %}
		<del class="old-price old-price-block">&nbsp;{{new_item.price}} DA</del>
		 &nbsp; 
		<ins class="new-price price-block">{{new_item.discount_price}}DA</ins>
		{% else %}

		<ins class="new-price price-block">{{new_item.price}}DA</ins>
{% endif %}
	</div>
	
</div>


</div>
</div>
			</div> 
			{% endfor %}


				</div>
			</div>
			
			<!-- Slide2 -->
			<!-- <div class="wrap-slick2">
				<div class="slick2">

					  {%for rel_pro in relate_pros %}
					
					<div class="item-slick2 p-l-15 p-r-15">
						 
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
								<img src="{{rel_pro.image.url}}" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
									 
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
											Add to Cart
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="/product/{{rel_pro.slug}}" class="block2-name dis-block s-text3 p-b-5">
									{{rel_pro.title}}
								</a>

								<span class="block2-price m-text6 p-r-5">
									${{rel_pro.price}}
								</span>
							</div>
						</div>
					</div>


					{% endfor %}  
				</div>
			</div> -->

		</div>
	</section>


	<!-- Footer -->
	



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>
	<script>

		Array.from(document.getElementsByClassName("taille__wrapper")).forEach(ele=>{
            ele.addEventListener("click",()=>{
				Array.from(document.querySelector("#sticky_sizes").children).forEach(child=>{
					 
					if (child.value == ele.children[1].textContent.trim()) {
						child.selected = true;
						 
					}
				})
                
            })
        })




		var varowl=document.getElementsByClassName("variant-owl")
		varowl = Array.from(varowl)
		varowl.forEach(ele=>{
			if(window.location.pathname.includes(ele.dataset.slug)){
				ele.classList.add("variant-owl-active")
			}
		})

		if(document.querySelector(".variants-parent")){
			const parentContainer  = document.querySelector(".variants-parent");
      // Initialize variables to store the starting position of the drag
    var startX;

	// Add event listeners to the parent container
	parentContainer.addEventListener("mousedown", function(event) {
		// Store the starting position of the drag
		startX = event.clientX - parentContainer.scrollLeft;
		 
		parentContainer.addEventListener("mousemove", function(event) {
		// Calculate the distance dragged horizontally
		var x = event.clientX - startX;
		 
		// Scroll the parent container horizontally by the calculated distance
		parentContainer.scrollLeft = -x;
	});
	parentContainer.addEventListener("mouseup", function() {
		// Reset the starting position of the drag
		startX = startX;
		 
	});
	});

	

	parentContainer.addEventListener("mouseup", function() {
		// Reset the starting position of the drag
		startX = 0;
		console.log(startX)
	});


		}
	
     
       
       


document.addEventListener("DOMContentLoaded", function() {
    // Get the navbar element
    var navbar = document.querySelector(".sticky-content");

    // Calculate the position where the navbar should become sticky
    
	var productQtyElement = document.querySelectorAll(".product-qty")[0];
	var productQtyElement1 = document.querySelectorAll(".sticky-content")[0];
	
	var stickyPosition = productQtyElement.offsetTop;
    function updateStickyNavbar () {
        if (window.pageYOffset >= stickyPosition + 250) {
            navbar.classList.remove("display-none");
			productQtyElement1.classList.add("fix-top")
			 
        } else {
            navbar.classList.add("display-none");
			productQtyElement1.classList.remove("fix-top")
			 
        }
    }

    // Listen for scroll events and update the navbar
    window.addEventListener("scroll", updateStickyNavbar);

    // Update the sticky navbar on page load
    updateStickyNavbar();


	var productthumb = document.getElementsByClassName("product-thumb")
							productthumb = Array.from(productthumb)
							
							productthumb.forEach(ele=>{
								ele.addEventListener("click",function(){
									
									var slickcurrent = document.getElementsByClassName("slick-current slick-active")[0]
									var main_img_src = slickcurrent.children[0].children[1].getAttribute("src")
									var src_target = this.children[0].getAttribute("src");
									slickcurrent.children[0].children[1].src =src_target;
									 
								})
							}) 
});

		 


		Array.from(document.querySelectorAll("#submit_to")).forEach(ele=>{

			ele.addEventListener("click",function(e){
			e.preventDefault()
			var targetsize= document.querySelector(".variant-input:checked").nextElementSibling.textContent.trim()
			document.getElementById("submit_to").href = this.href.replace("name=dd","search="+targetsize)
			  
			window.location = document.getElementById("submit_to").href
			 
		})

		})
		
		
	</script>
	

	{% endblock content %}