{% load static %}


<script
  type="text/javascript"
  src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"
></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
 
<!-- Include js plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script
  type="text/javascript"
  src="{% static 'vendor/animsition/js/animsition.min.js' %}"
></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>

<script
  type="text/javascript"
  src="{% static 'vendor/select2/select2.min.js' %}"
></script>
<script type="text/javascript">
  $(".selection-1").select2({
    minimumResultsForSearch: 20,
    dropdownParent: $("#dropDownSelect1")
  });
</script>

<script
  type="text/javascript"
  src="{% static 'vendor/slick/slick.min.js' %}"
></script>
<script type="text/javascript" src="{% static 'js/slick-custom.js' %}"></script>

<script type="text/javascript" src="{% static 'js/Magnifier.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Event.js' %}"></script>





<script
  type="text/javascript"
  src="{% static 'vendor/countdowntime/countdowntime.js' %}"
></script>

<script
  type="text/javascript"
  src="{% static 'vendor/lightbox2/js/lightbox.min.js' %}"
></script>
<script crossorigin src="{% static 'js/react.development.js' %}"></script>
<script crossorigin src="{% static 'js/react-dom.development.js' %}"></script>

<script
  type="text/javascript"
  src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"
></script>

<script type="text/javascript">
  $(".block2-btn-addcart").each(function() {
    var nameProduct = $(this)
      .parent()
      .parent()
      .parent()
      .find(".block2-name")
      .html();
    $(this).on("click", function() {
      swal(nameProduct, "is added to cart !", "success");
    });
  });
</script>

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/main2.js' %}"></script> 
<script src="{% static 'js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'js/perfect-scrollbar.js.map' %}"></script>
<script>


 Array.from(document.querySelectorAll(".gutter-lg .nav-tabs .nav-item .nav-link")).forEach(ele=>{
  ele.addEventListener("click",function(e){
    e.preventDefault()
    var last = ele.href.split("/").length;
    var idhref=ele.href.split("/")[last-1];$(idhref).siblings().removeClass("active in");   $(idhref).addClass("active in");                                                                        })
}) 



document.querySelector(".header-icons-mobile .header-wrapicon2 img").addEventListener("click",function(){
  var contain_class=$('.header-cart.header-dropdown')[1].classList.contains("show-header-dropdown") 
  var boolimg = this.classList.toggle("boolimg")
  if(contain_class){
    if(window.outerWidth<1040){
      $('.header-cart.header-dropdown.mobile').show().animate({
      right: '-1px' // Adjust the target position as needed
  }, 500);
    }else{
      $('.header-cart.header-dropdown.mobile').show().animate({
      right: '-90px' // Adjust the target position as needed
  }, 500);
    }
     
    
  }else{
     
    
       
    $('.header-cart.header-dropdown.mobile').animate({
    right:  '-390px'// Adjust the target position as needed
     
  }, 300).hide(501);
    
    
    
  }

})




 const container =document.querySelector(".header-cart-wrapitem");
  
 const pss = new
PerfectScrollbar(container, {
wheelSpeed: 2,
wheelPropagation: true,
minScrollbarLength: 20
});
pss.update();

  $(document).ready(function() {
 
 $(".owl-carousel").owlCarousel();

});
</script>

<script>
  
  document.querySelector("input[name=search]").addEventListener("keyup",()=>{
									// Fetch data from the API
                var inputval=document.querySelector("input[name=search]").value.toLowerCase()
                document.querySelector(".search_list").classList.add("dis-none")
      
      
                fetch("/items/" ).then(response => response.json()) // Parse the response as JSON
            .then(data => {
              document.querySelector(".search_list_q").children[0].innerHTML=""
                // Process the data
                for(index in data){
                  var title = data[index]["title"].toLowerCase();
                  var slug = data[index]["slug"];
                  if( title.includes(inputval)){
                    console.log(true)
                    var appendedele =`<a title="${title}" href="/product/${slug}"><li>${title}</li></a>`
                    document.querySelector(".search_list_q").children[0].innerHTML += appendedele
                  }
                }
                
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
								})



    //category and shop

    document.querySelector(".fa-times").addEventListener("click",function(e){
			e.preventDefault()
			 
			var parent_show = $(".row")[0].children[1]
			$(parent_show).hide()
		})

		var butnsslide= document.querySelectorAll(".widget-title")
		Array.from(butnsslide).forEach(ele=>{
			ele.addEventListener("click",function(){
        
				var ulsib =this.nextElementSibling
        
				var ulsibcheck =ulsib.classList.contains("widget-body")
        
				if(window.location.pathname.includes("shop")){
          
          ulsib.classList.toggle("slided")
        }
				var hiddenelecheck = ulsib.classList.contains("slided")
				if( ulsibcheck && !hiddenelecheck){
					$(ulsib).animate({
						height:"0%"
					},600).hide(600)
					this.children[0].textContent = "+"
				}else{
					$(ulsib).animate({
						height:"100%"
					},600).show(600)
					this.children[0].textContent = "-"
				}
			})
		})
    
</script>


<script>
  $(".filter-actions .fa-times").on("click",function(){
  $($(this).parents()[4]).hide(500)
  setTimeout(() => {
    document.querySelector(".col-lg-9").style.flex = "content" 
      document.querySelector(".col-lg-9").style.paddingLeft = 17 + "px" 
    document.querySelector(".col-lg-9").style.maxWidth = "100%" 
  }, 500);
})

document.getElementById("filtertop").addEventListener("change",function(){
  var valselctd=this.value 
	window.location = window.location.pathname + "?filter="+valselctd
	})

$(".filtertoptop").on("click",function(){

  this.classList.toggle("activetopfilter")
  if(this.classList.contains("activetopfilter")){
    this.children[0].children[0].style.transform = "rotate(180deg)"
   
    $($(".filter-actions .fa-times").parents()[4]).hide(500)
    // document.querySelector(".col-lg-9").style.padding = "17px !important;"
    setTimeout(() => {
      document.querySelector(".col-lg-9").style.flex = "content" 
      document.querySelector(".col-lg-9").style.paddingLeft = 17 + "px" 
    document.querySelector(".col-lg-9").style.maxWidth = "100%" 
    }, 500);
  }else{
    this.children[0].children[0].style.transform = "rotate(0deg)"
    $($(".filter-actions .fa-times").parents()[4]).show(500)
    document.querySelector(".col-lg-9").style.flex = "1 100%" 
    document.querySelector(".col-lg-9").style.maxWidth = "75%" 
    document.querySelector(".col-lg-9").style.paddingRight = 17 + "px" 
  }
  
})




  var search_page=window.location.search.replaceAll("?","").split("&")
  window.onload = function(){
    
    $("input[name=price_range]").on("click",function(e){
      
      e.preventDefault() ;
      var range = $(this).next(0).text().replaceAll(" ","").toLowerCase().replaceAll("dzd","").split("-")
      
      if(!range[0].includes("+")){
        $("input[name=start_price]")[0].value = range[0]
        $("input[name=start_price]")[1].value = range[0]

        $("input[name=end_price]")[0].value = range[1]
        $("input[name=end_price]")[1].value = range[1]
      }else{
        $("input[name=start_price]")[0].value = range[0].replace("+","")
        $("input[name=start_price]")[1].value = range[0].replace("+","")

         
      }

      $(".price-btn-f")[0].click()
      $(".price-btn-f")[1].click()
      
    })


    search_page.forEach(element => {
      var keyval =element.split("=")
      var key = keyval[0]
      var val = keyval[1]
     
      if(key == "gender" || key == "price_range" || key == "brand" ){
        
       
         $($(`input[name=${key}][value=${val}]`)[0]).prop("checked",true)
         $($(`input[name=${key}][value=${val}]`)[1]).prop("checked",true)
          
        Array.from(document.querySelectorAll(`input[name=${key}][value=${val}]`)).forEach(function(el){
          
          $(el).on("click",function() {
          // Toggle the checked state of the checkbox
          $(this).prop("checked", !$(this).prop("checked"));
        });
         
        })
      }
      if(key == "size_exist" ){
        
         
        Array.from(document.querySelectorAll("#value-"+val)).forEach(function(el){
          $(el).prop("checked",true)
           
        })
         
      }

      if(key=="start_price" || key=="end_price"){

        
        $(`input[name=${key}]`).each(function(){
          $(this).val(val)
           
        })
      }
      
    });
    
  }
 </script>
<script src="{% static 'js/cities.js' %}"></script>
