{% extends 'base.html' %}
{% load static %}
{% load category_template_tags %}
{% load custom_filters %}
{% load mathfilters %}
{% block content %}
<style type="text/css">
	.selection-2{
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
</style>

	<!-- Title Page -->
	{% if header %}
	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" 
	style="margin-top: 17px;background-image: url({{ header.shop_header_image.url}})	;">
		<h2 class="l-text2 t-center">
			 
			{{header.main_title}}
			 

		 
			 
		</h2>
		<p class="m-text13 t-center">
			{{header.second_title}}
		</p>
	</section>

	{% else %}

	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" 
	style="background-image: url(/static/images/heading-pages-02.jpg)	;">
		<h2 class="l-text2 t-center">
			 

			Shop
			 
		</h2>
		<p class="m-text13 t-center">
			All categories
		</p>
	</section>
	{% endif %}


	<!-- Content page -->
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
			 
				<div class="filter_phone" style="display: none;">
					<form action="." method="get">
						<div class="filter_all">
						 
							<div class="filter_type widget widget-collapsible">
								<h3 class="widget-title"> Gender 
									<span style="height: 10px;" class="toggle-btn">-</span></h3>
								<ul class="widget-body filter-items slided">
									
									
										<li>
											<input type="radio" class="custom-checkbox" id="cat-1" value="F" name="gender" onchange="this.form.submit()">
											<label class="form-control-label " for="cat-1">FEMME</label>
										</li>
									
										<li>
											<input type="radio" class="custom-checkbox" id="cat-24" value="M" name="gender" onchange="this.form.submit()">
											<label class="form-control-label " for="cat-24">HOMME </label>
										</li>
									
										 
									
								</ul>   
							</div>
							<div class="filter_type widget widget-collapsible">
								<h3 class="widget-title" >Prix 
									<span style="height: 10px;" class="toggle-btn">-</span></h3>
												<ul class="slided widget-body filter-items">
														<li style="display:flex;">
															<input style="padding: 8px !important;" type="number" class="form-control price-input" name="start_price" placeholder="de">
																<span class="price-devider"> &nbsp; - &nbsp;</span>
															<input style="padding: 8px !important;" type="number" class="form-control price-input" name="end_price" placeholder="à">
															<button style="scale: 1.6;
															padding-bottom: 16px;
															padding-right: 12px;" class="price-btn-f" type="submit">
																<i class="fa-solid fa-magnifying-glass"></i>
																</button>
														</li>
														
														<li>
															<input id="rangeOne" type="radio" class="custom-checkbox" name="price_range" value="range_one" onchange="this.form.submit()">
															<label for="rangeOne" class="form-control-label">0 DZD - 700 DZD</label>
														</li>
														<li>
															<input id="rangeTwo" type="radio" class="custom-checkbox" name="price_range" value="range_two" onchange="this.form.submit()">
															<label for="rangeTwo" class="form-control-label">700 DZD - 1400 DZD</label>
														</li>
														<li>
															<input id="rangeThree" type="radio" class="custom-checkbox" name="price_range" value="range_three" onchange="this.form.submit()">
															<label for="rangeThree" class="form-control-label">1400 DZD - 4200 DZD</label>
														</li>
														<li>
															<input id="rangeFour" type="radio" class="custom-checkbox" name="price_range" value="range_four" onchange="this.form.submit()">
															<label for="rangeFour" class="form-control-label"> + 4200 DZD </label>
														</li>
														  
												</ul>
		
							</div>
							<div class="filter_type widget widget-collapsible">
								<h3 class="widget-title">Taille
									<span style="height: 10px;" class="toggle-btn">-</span></h3>
								<ul class="slided widget-body filter-items">
									 
									<li>
										<input type="checkbox" name="size_exist" id="value-32" value="32" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-32">32</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-34" value="34" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-34">34</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-36" value="36" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-36">36</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-38" value="38" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-38">38</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-40" value="40" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-40">40</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-42" value="42" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-42">42</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-XS" value="XS" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-XS">XS</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-S" value="S" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-S">S</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-M" value="M" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-M">M</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-L" value="L" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-L">L</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-XL" value="XL" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-XL">XL</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-2XL" value="2XL" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-2XL">2XL</label>
									</li>
									 
								</ul>
							</div>
							 
						</div>
					</form>
				</div>

				<div class="toptoptop" style="display: flex;justify-content: space-around;">
					<div class="flex-sb-m flex-w p-b-35">
						 

						<span style="user-select: none;" class="filtertoptop s-text8 p-t-5 p-b-5">
							Show filtering <span><img style="opacity: 0.6; scale: 0.7; transform: rotate(0deg);" src="/static/images/chev.png" alt=""></span>
						</span>
					</div>
					<div class="flex-sb-m flex-w p-b-35">
						 
	
						<span class="s-text8 p-t-5 p-b-5">
							Showing {{object_list|length}} of results
						</span>
					</div>
					<div class="header-search hs-simple filt" style="z-index: 9;">
						<form action="" class="input-wrapper">
							 <select name="filter" id="filtertop">
								<option value="">filter</option>
								<option value="-date_added">new</option>
								<option value="price">lowest price</option>
								<option value="-wishlist_num">most sales</option>
								<option value="-rating">rated</option>
							 </select>
						</form>
					</div>
				</div>
				<div class="phonefilter_tri">
					<div class="filterphone1">
						<img src="{% static 'images/filtrer.png' %}" alt="">
						<span>Filtres</span>
					</div>
					<div class="filterphone2">
						<span>Trier par</span>
						<img src="{% static 'images/trier.png' %}" alt="">

					</div>


			</div>

				<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
					<aside style="padding-left: 8px !important;" 
					class="col-lg-3 sidebar sidebar-fixed shop-sidebar 
					sticky-sidebar-wrapper">

						<form style="width: 235px;" action="." method="get">
								<div class="sidebar-overlay"></div>
									
									<a href="#" class="sidebar-toggle mobile-side"><img src="/static/images/3.svg" class="img-filter"></a>
									<a class="sidebar-close" href="#"><i class="d-icon-times"></i></a>
							<div class="sidebar-content">
								<div class="filter-actions "> 
									
									<button type="submit" class="toolbox-item btn btn-outline btn-primary btn-icon-left filter-btn" style="border:none;font-size: 13px;
									font-weight: bold;">
									<img src="/static/images/3.svg" class="img-filter">&nbsp; Filtrer
									</button>
									
									
									<a style="margin-left: 95px !important;" href="/fr/produits/" class="clear-all text-primary pb-3 clear-all"><i class="fas fa-times"></i></a>
								</div>
								<div class="widget widget-collapsible">
									<h3 class="widget-title"> Brand 
										<span style="height: 10px;" 
										class="toggle-btn">-</span></h3>
									<ul class="slided widget-body filter-items">
										
										
										{% for brand_name in brands_list %}
										<li>
											<input type="radio" class="custom-checkbox" id="cat-{{forloop.counter|mul:58}}" value="{{brand_name}}" name="brand" onchange="this.form.submit()">
											<label class="form-control-label " for="cat-{{forloop.counter|mul:58}}">{{brand_name}}</label>
										</li>
									
										{% endfor %} 
										
											 
										
									</ul>   
								</div>
									 
										
										
											 
										
									 
								 
								<div class="filter_type widget widget-collapsible">
									<h3 class="widget-title"> Categorie 
										<span style="height: 10px;" class="toggle-btn">-</span></h3>
									<form action="." method="get">
										<ul class="widget-body filter-items slided">
										
										
											{% for category in categories %}
										
											<li>
												<input type="radio" class="custom-checkbox" id="cat-{{forloop.counter|mul:100}}" value="{{category.title}}" name="brand"  onchange="this.form.submit()">
												<label class="form-control-label " for="cat-{{forloop.counter|mul:100 }}">{{category.title}} </label>
											</li>
											
											{% endfor %}
											 
										
									</ul>   
									</form>
								</div>
								<div class="widget widget-collapsible">
									<h3 class="widget-title"> Gender 
										<span style="height: 10px;" 
										class="toggle-btn">-</span></h3>
									<ul class="slided widget-body filter-items">
										
										
											<li>
												<input type="radio" class="custom-checkbox" id="cat-1" value="F" name="gender" onchange="this.form.submit()">
												<label class="form-control-label " for="cat-1">FEMME</label>
											</li>
										
											<li>
												<input type="radio" class="custom-checkbox" id="cat-24" value="M" name="gender" onchange="this.form.submit()">
												<label class="form-control-label " for="cat-24">HOMME </label>
											</li>
										
											 
										
									</ul>   
								</div>
								<div class="widget widget-collapsible" style="overflow: hidden;">
									<h3 class="widget-title">Prix  
										<span style="height: 10px;"
										 class="toggle-btn">-</span></h3>
									<ul class="slided widget-body filter-items">
											<li style="display:flex;">
												<input style="padding: 8px !important;" type="number" class="form-control price-input" name="start_price" placeholder="de">
													<span class="price-devider"> &nbsp; - &nbsp;</span>
												<input style="padding: 8px !important;" type="number" class="form-control price-input" name="end_price" placeholder="à">
												<button style="scale: 1.6;
												padding-bottom: 16px;
												padding-right: 12px;" class="price-btn-f" type="submit">
													<i class="fa-solid fa-magnifying-glass"></i>
													</button>
											</li>
											
											<li>
												<input id="rangeOne" type="radio" class="custom-checkbox" name="price_range" value="range_one" onchange="this.form.submit()">
												<label for="rangeOne" class="form-control-label">0 DZD - 700 DZD</label>
											</li>
											<li>
												<input id="rangeTwo" type="radio" class="custom-checkbox" name="price_range" value="range_two" onchange="this.form.submit()">
												<label for="rangeTwo" class="form-control-label">700 DZD - 1400 DZD</label>
											</li>
											<li>
												<input id="rangeThree" type="radio" class="custom-checkbox" name="price_range" value="range_three" onchange="this.form.submit()">
												<label for="rangeThree" class="form-control-label">1400 DZD - 4200 DZD</label>
											</li>
											<li>
												<input id="rangeFour" type="radio" class="custom-checkbox" name="price_range" value="range_four" onchange="this.form.submit()">
												<label for="rangeFour" class="form-control-label"> + 4200 DZD </label>
											</li>
											  
									</ul>
								</div>
							
							
								<div class="widget widget-collapsible">
									<h3 class="widget-title">Couleur
										<span style="height: 10px;" 
										class="toggle-btn">-</span></h3>
									<ul class="slided widget-body  ">
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-1">
													<input type="radio" id="color-1" name="color" value="1" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #FF8F1B;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-2">
													<input type="radio" id="color-2" name="color" value="2" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #F5F5DC;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-3">
													<input type="radio" id="color-3" name="color" value="3" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #4E2D05;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-4">
													<input type="radio" id="color-4" name="color" value="4" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #000000;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-5">
													<input type="radio" id="color-5" name="color" value="5" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #9B9B9B;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-7">
													<input type="radio" id="color-7" name="color" value="7" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #FEFEE0;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-9">
													<input type="radio" id="color-9" name="color" value="9" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #008020;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-11">
													<input type="radio" id="color-11" name="color" value="11" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #03224C;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-12">
													<input type="radio" id="color-12" name="color" value="12" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #FF007F;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-13">
													<input type="radio" id="color-13" name="color" value="13" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #F0E68C;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-14">
													<input type="radio" id="color-14" name="color" value="14" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #7F00FF;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-16">
													<input type="radio" id="color-16" name="color" value="16" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #0000FF;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-17">
													<input type="radio" id="color-17" name="color" value="17" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #D70000;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-19">
													<input type="radio" id="color-19" name="color" value="19" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #FFFFFF;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-8">
													<input type="radio" id="color-8" name="color" value="8" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #FFFF00;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-20">
													<input type="radio" id="color-20" name="color" value="20" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #AE730E;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-15">
													<input type="radio" id="color-15" name="color" value="15" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #000000;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-10">
													<input type="radio" id="color-10" name="color" value="10" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #7F1734;"></span>
				
													</label>
												</div>
											</li>
										
											<li class="colours float-left">
												<div class="d-inline-block text-center dot-wrapper">
													<label for="color-18">
													<input type="radio" id="color-18" name="color" value="18" onchange="this.form.submit()">
														
														<span class="dot" style="background-color: #E1E1E1;"></span>
				
													</label>
												</div>
											</li>
										
									</ul>
								</div>
							
							
				
							
				
						
							
							<div class="widget widget-collapsible">
								<h3 class="widget-title">Matère
									<span style="height: 10px;" 
									class="toggle-btn">-</span></h3>
								<ul class="slided widget-body filter-items">
									 
									<li>
										<input type="checkbox" name="size_exist" id="value-Cuir" value="Cuir" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-Cuir">Cuir</label>
									</li>
									 
								</ul>
							</div>
							
							<div class="widget widget-collapsible">
								<h3 class="widget-title">Taille
									<span style="height: 10px;"
									 class="toggle-btn">-</span></h3>
								<ul class="slided widget-body filter-items">
									 
									<li>
										<input type="checkbox" name="size_exist" id="value-32" value="32" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-32">32</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-34" value="34" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-34">34</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-36" value="36" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-36">36</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-38" value="38" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-38">38</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-40" value="40" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-40">40</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-42" value="42" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-42">42</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-XS" value="XS" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-XS">XS</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-S" value="S" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-S">S</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-M" value="M" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-M">M</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-L" value="L" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-L">L</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-XL" value="XL" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-XL">XL</label>
									</li>
									<li>
										<input type="checkbox" name="size_exist" id="value-2XL" value="2XL" class="custom-checkbox" onchange="this.form.submit()">
										<label class="form-control-label" for="value-2XL">2XL</label>
									</li>
									 
								</ul>
							</div>
								
							
					
								
								
					
						
					
							</div>
						</form>
					</aside>
				</div>

				<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
					
					 
					
					 

					<!-- Product -->
					<div class="row cols-2 cols-sm-3 product-wrapper">
						{% for product in object_list %}
						<div class="product product-classic">
							<figure class="product-media">
								<a href="/product/{{product.slug}}">
									
										<img src="{{product.image.url}}" loading="lazy" alt="Product image" width="300" height="338">
									
								</a>
								<div class="product-action-vertical">
									
										 
						
						
						<a id="wishHeart"  href="/wishlist-add/{{product.slug}}"    
						class="btn-product-icon btn-wishlist" 
						title="Ajouter à la liste de souhait">
						<img src="/static/images/VSC.svg">
					</a>
						 	
								</div>
								
										<div class="product-action  justify-content-end">
											{% if  product.article_id|filtered_and_length:"," > 1 %}
				<div class="product-color__badge--wheel img">
					<div class="color-options">
						<div style="width: 15px;">
										
							<!-- <span class="color-option"></span>
							
							<span class="color-option"></span>
							 -->
							 <img src="{% static 'images/color.png' %}" alt="">

							
					</div>
					<span class="color-variant-count">
						{% if  product.article_id|filtered_and_length:"," > 1 %}
							{{product.article_id|filtered_and_length:","}}
						{% endif %}
							 
					</span></div>
				</div>
				 
			{% endif %}
											
										</div>
								
								<div class="product-label-group">
									
										
										<label class="product-label label-top">{{product.get_label_display}}</label>
										 
								</div>  
							</figure>
							<div class="product-details">
								<h3 class="product-name">
									<a href="/{{product.slug}}">{{product.title}}</a>
								</h3>
								<div class="product-price d-flex justify-content-between">
									<div>
										
										{% if product.price > product.discount_price %}
										<del class="old-price old-price-block">&nbsp;{{product.price}} DA</del>
										 &nbsp; 
										<ins class="new-price price-block">{{product.discount_price}}DA</ins>
										{% else %}

										<ins class="new-price price-block" style="color: #222 !important;">{{product.price}}DA</ins>
										{% endif %}
									</div>
									
								</div>
								
						
							</div>
						</div>
						{% endfor %}

						

						
				
				</div>
				<!-- ---- row end ------- -->

				<br>
				<!-- Pagination -->
				{% if object_list.has_previous or object_list.has_next %}
				<div class="pagination flex-m flex-w p-t-26">
					{% if object_list.has_previous %}
					<a class="page-link" href="?page={{ object_list.previous_page_number}}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
					</a>
					{% endif %}
					<a href="?page={{ object_list.number }}" class="item-pagination flex-c-m trans-0-4 active-pagination">{{object_list.number}}</a>
					
					
					{% if object_list.has_next %}
					<a class="page-link" href="?page={{ object_list.next_page_number}}" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
						{% endif %}
				</div>
				{% endif %}
			</div>
		</div>
	</section>
	<div class="filtertrifixed" style="z-index: 9999999;">
		<form action="" class="input-wrapper">
			 <!-- <select name="filter" id="filtertop">
				 
				<option value="price">lowest price</option>
				<option value="-wishlist_num">most sales</option>
				<option value="-rating">rated</option>

			 </select> -->
			 <ul class="widget-body filter-items slided">
								
				<li style="text-align: center;
				font-size: 20px;
				margin: 0;
				padding: 7px;">
					 
					<label class="form-control-label " for="cat-1">Trier</label>
				</li>			
				<li>
					<input type="radio" class="custom-checkbox" id="cat-121" value="-date_added" name="filter" onchange="this.form.submit()">
					<label class="form-control-label " for="cat-121">newest</label>
				</li>
			
				<li>
					<input type="radio" class="custom-checkbox" id="cat-224" value="price" name="filter" onchange="this.form.submit()">
					<label class="form-control-label " for="cat-224">lowest price </label>
				</li>
				<li>
					<input type="radio" class="custom-checkbox" id="cat-1251" value="-wishlist_num" name="filter" onchange="this.form.submit()">
					<label class="form-control-label " for="cat-1251">most noted</label>
				</li>
			
				<li>
					<input type="radio" class="custom-checkbox" id="cat-2445" value="-rating" name="filter" onchange="this.form.submit()">
					<label class="form-control-label " for="cat-2445">most rated </label>
				</li>
			
				 
			
			</ul>   
		</form>
		 
	</div>
	<div class=" mobile filtermob" >
											
		<ul class="header-cart-wrapitem" style="min-height: 100%;">
			<div class="cart-header filterheader" style="display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #e1e1e1;
			padding-bottom: 1.3rem;">
				<h4 class="cart-title">Filtrer</h4>
				<a href="#" class="btn btn-dark btn-link btn-icon-right btn-close">fermer<i class="d-icon-arrow-right"></i><span class="sr-only">Panier</span></a>
			</div>
			



			

			
			<div class="filter_phone" style="display: block !important;">
				<form action="." method="get">
					<div class="filter_all">
						<div class="filter_type widget widget-collapsible">
							<h3 class="widget-title"> Brand 
								<span style="height: 10px;" class="toggle-btn">+</span></h3>
							<form action="." method="get">
								<ul class="widget-body filter-items" style="height: 0; display: none;">
								
								
									{% for brand_name in brands_list %}
								
									<li>
										<input type="radio" class="custom-checkbox" id="cat-{{forloop.counter|mul:100}}" value="{{brand_name}}" name="brand"  onchange="this.form.submit()">
										<label class="form-control-label " for="cat-{{forloop.counter|mul:100 }}">{{brand_name}} </label>
									</li>
									
									{% endfor %}
									 
								
							</ul>   
							</form>
						</div>
						<div class="filter_type widget widget-collapsible">
							<h3 class="widget-title"> Gender 
								<span style="height: 10px;" class="toggle-btn">+</span></h3>
							<ul  class="widget-body filter-items" style="height: 0; display: none;">
								
								
									<li>
										<input type="radio" class="custom-checkbox" id="cat-1" value="F" name="gender" onchange="this.form.submit()">
										<label class="form-control-label " for="cat-1">FEMME</label>
									</li>
								
									<li>
										<input type="radio" class="custom-checkbox" id="cat-24" value="M" name="gender" onchange="this.form.submit()">
										<label class="form-control-label " for="cat-24">HOMME </label>
									</li>
								
									 
								
							</ul>   
						</div>
						<div class="filter_type widget widget-collapsible">
							<h3 class="widget-title" >Prix 
								<span style="height: 10px;" class="toggle-btn">+</span></h3>
											<ul class=" widget-body filter-items" style="height: 0; display: none;">
													<li style="display:flex;">
														<input style="padding: 8px !important;" type="number" class="form-control price-input" name="start_price" placeholder="de">
															<span class="price-devider"> &nbsp; - &nbsp;</span>
														<input style="padding: 8px !important;" type="number" class="form-control price-input" name="end_price" placeholder="à">
														<button style="scale: 1.6;
														padding-bottom: 16px;
														padding-right: 12px;" class="price-btn-f" type="submit">
															<i class="fa-solid fa-magnifying-glass"></i>
															</button>
													</li>
													
													<li>
														<input id="rangeOne" type="radio" class="custom-checkbox" name="price_range" value="range_one" onchange="this.form.submit()">
														<label for="rangeOne" class="form-control-label">0 DZD - 700 DZD</label>
													</li>
													<li>
														<input id="rangeTwo" type="radio" class="custom-checkbox" name="price_range" value="range_two" onchange="this.form.submit()">
														<label for="rangeTwo" class="form-control-label">700 DZD - 1400 DZD</label>
													</li>
													<li>
														<input id="rangeThree" type="radio" class="custom-checkbox" name="price_range" value="range_three" onchange="this.form.submit()">
														<label for="rangeThree" class="form-control-label">1400 DZD - 4200 DZD</label>
													</li>
													<li>
														<input id="rangeFour" type="radio" class="custom-checkbox" name="price_range" value="range_four" onchange="this.form.submit()">
														<label for="rangeFour" class="form-control-label"> + 4200 DZD </label>
													</li>
													  
											</ul>
	
						</div>
						<div class="filter_type widget widget-collapsible">
							<h3 class="widget-title">Taille
								<span style="height: 10px;" class="toggle-btn">+</span></h3>
							<ul style="height: 0; display: none;" class=" widget-body filter-items">
								 
								<li>
									<input type="checkbox" name="size_exist" id="value-32" value="32" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-32">32</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-34" value="34" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-34">34</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-36" value="36" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-36">36</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-38" value="38" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-38">38</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-40" value="40" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-40">40</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-42" value="42" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-42">42</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-XS" value="XS" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-XS">XS</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-S" value="S" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-S">S</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-M" value="M" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-M">M</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-L" value="L" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-L">L</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-XL" value="XL" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-XL">XL</label>
								</li>
								<li>
									<input type="checkbox" name="size_exist" id="value-2XL" value="2XL" class="custom-checkbox" onchange="this.form.submit()">
									<label class="form-control-label" for="value-2XL">2XL</label>
								</li>
								 
							</ul>
						</div>
						 
					</div>
				</form>
			</div>
			
			<div class="cart-action">
				<a style="width: 100%;" href="" class="btn btn-dark"><span>Filtrer</span></a>
			</div>
			

			
		</ul>

	 

</div>
	<script>
		$(".filterphone1").on("click",function(){
		$(".filtermob").css({"left":74})
		document.querySelector(".overlay_div112").style.display="block"
		})
		$(".filterheader a").on("click",function(){
		$(".filtermob").css({"left":420})
		document.querySelector(".overlay_div112").style.display="none"
		})
		$(".overlay_div112").on("click",function(){
			$(".filtermob").css({"left":420})
			this.style.display="none"
		})


		


		$(".filterphone2").on("click",function(){
  $(this).toggleClass("trie_phone");
  $(".filtertrifixed").slideToggle()
  document.querySelector(".overlay_div12").style.display="block"
  
	})

	$(".overlay_div12").on("click",function(){
    
	$(".filtertrifixed").slideToggle()
	this.style.display="none"
   
	})
	</script>



		{% endblock content %}