{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans 'Wishlist' %}{% endblock %}
{% block content %}
<nav class="breadcrumb-nav p-t-70">
    <div class="container {% if LANGUAGE_CODE == 'ar' %}rtl{% endif %}" style="font-size: 15px;text-align: center;padding-top: 20px;">
          
        Accueil <i class="fa fa-angle-{% if LANGUAGE_CODE == 'ar' %}left{% else %}right{% endif %} m-l-8 m-r-9" aria-hidden="true"></i></a>
        
        <a style="font-size: 15px;" class="s-text16" href="/wishlist/">{% trans 'Wishlist' %}  </a>
      
    </div>
</nav>
<div class="page-content pt-10 pb-10 mb-2">

    <div class="container {% if LANGUAGE_CODE == 'ar' %}rtl{% endif %}">
       
        <table class="shop-table wishlist-table mt-2 mb-4">
            <thead>
                <tr>
                    <th style="padding: 12px;" class="product-name"><span>{% trans 'Produit' %}</span></th>
                    <th></th>
                    <th class="product-price"><span>{% trans 'Prix' %}</span></th>
                    <th class="product-stock-status"><span>{% trans 'État' %}</span></th>
                    <th class="product-add-to-cart"></th>
                    <th class="product-remove"></th>
                </tr>
            </thead>
            <tbody class="wishlist-items-wrapper">
                
                    {% for wish in wishlists %}
                        <tr>
                            <td class="product-thumbnail">
                                <a href="/product/{{wish.slug}}">
                                    <figure>
                                        <img src="{{wish.image.url}}" alt="product" width="100" height="100">
                                    </figure>
                                </a>
                            </td>
                            <td class="product-name {% if LANGUAGE_CODE == 'ar' %}rtl{% endif %}">
                                <a href="/product/{{wish.slug}}">
                                    {% if LANGUAGE_CODE == 'ar'  %}
						{{wish.title_ar}}
						{% elif  LANGUAGE_CODE == 'en' %}
						{{wish.title_en}} 
						{% else %}
						{{wish.title}} 
						{% endif %}
                                     
                                </a>
                            </td>
                            <td class="product-price">
                                <span class="amount">{{wish.price|floatformat:0}} {% trans 'DA' %}</span>
                            </td>
                            <td class="product-stock-status">
                                <span class="wishlist-in-stock"><strong>{% trans wish.get_label_display %}</strong></span>
                            </td>
                            
                            <td class="product-add-to-cart">
                                <a href="/product/{{wish.slug}}" class="btn-product btn-primary">  <span class="ml-2"> {% trans 'Voir les details' %}</span></a>
                            </td> 
                            <td class="product-remove">
                                <div>
                                    <a href="/wishlist-add/{{wish.slug}}" class="remove" title="Remove this product"><i class="fas fa-trash"></i></a>
                                </div>
                            </td>
                            
                        </tr>
                    
                    {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>

{% endblock %}